/*
	SELECT * FROM fn_FC_GetColheader_Current('202501','1. Baseline Qty','')
	SELECT * FROM fn_FC_GetColheader_Current('202407','risk3M_U','b')
	SELECT * FROM fn_FC_GetColheader_Current('202408','fcpercentline','')
	SELECT * FROM fn_FC_GetColheader_Current('202406','updateForecast','b')
	SELECT * FROM fn_FC_GetColheader_Current('202410','UploadFMWF','f')
	SELECT * FROM fn_FC_GetColheader_Current('202404','updateForecast','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','RSP','f')-->RSP
	SELECT * FROM fn_FC_GetColheader_Current('202403','RSP M-1','f')-->RSP M-1
	SELECT * FROM fn_FC_GetColheader_Current('202403','A_Version_M-1','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','B_Version_M-1','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','A_Version_M-1_Value','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','B_Version_M-1_Value','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','C_Version_M-1_Value','si')
	SELECT * FROM fn_FC_GetColheader_Current('202403','Current_A_WF_Value','si')
	SELECT * FROM fn_FC_GetColheader_Current('202408','3. Promo Qty(BOM)','si')
*/
Alter Function fn_FC_GetColheader_Current
(
	@FM_KEY			Nvarchar(6),
	@TimeSeries		nvarchar(20),
	@Alias			nvarchar(50)	
)
returns @tmpFinal TABLE 
(
	id				int identity(1,1), 
	[ListColumn]	nvarchar(max)
)
with encryption
As
begin
	Declare		
		 @debug					int=0
		,@ForecastDate			date = ''		
		,@currentMonthforcast	int = 0
		,@currentMonthforcast_versionmonth_minus_1 int = 0
		,@sql					nvarchar(max) = ''
		,@rowcount1				int = 0
		,@result				nvarchar(MAX) = ''
		,@result2				nvarchar(max) = ''
		,@result0				nvarchar(MAX) = ''
		,@Startmonth			int = 0
		,@Startmonth2			int = 0
		,@Frommonth				date
		,@totalrow				int = 0		

	declare @tmp table
	(
		id				int identity(1,1), 
		[Month_Desc]	nvarchar(20)
	)
	select @Startmonth2 = cast(right(@FM_KEY,2) as int)-cast(right(@FM_KEY,2) as int)
	select @currentMonthforcast = cast(right(@FM_KEY,2) as int)
	select @currentMonthforcast_versionmonth_minus_1 = @currentMonthforcast-1
	select @ForecastDate = cast(left(@FM_KEY,4)+'-'+cast(@currentMonthforcast as nvarchar(2))+'-01' as date)
	select @totalrow = 24

	if @TimeSeries IN('FM_Tmp','FM_Tmp1','FM','FM-Table','FM_Non_Tmp')
	begin
		insert into @tmp
		(	
			Month_Desc
		)
		select
			Month_Desc = Month_Desc
		from V_Month_Master

		select @totalrow = Isnull(TotalColumn,0) from FC_TotalCOlumn_Tmp
		--select totalrow = Isnull(TotalColumn,0) from FC_TotalCOlumn_Tmp
		select @Startmonth = cast(right(@FM_KEY,2) as int)
		--select Startmonth = cast(right('202409',2) as int)
	end
	
	--if @TimeSeries IN('FM_Tmp')
	--begin
	--	insert into @tmp
	--	(	
	--		Month_Desc
	--	)
	--	select
	--		Month_Desc = Month_Desc
	--	from V_Month_Master

	--	select @totalrow = Isnull(TotalColumn,0)-1 from FC_TotalCOlumn_Tmp
	--	select @Startmonth = cast(right(@FM_KEY,2) as int)
	--end
	
	else
	begin
		insert into @tmp
		(	
			Month_Desc
		)
		select
			Month_Desc = [Current]
		from V_Month_Master
	end
	
	if @TimeSeries in('A_Version_M-1','B_Version_M-1','C_Version_M-1','A_Version_M-1_Value','B_Version_M-1_Value','C_Version_M-1_Value')
	begin
		select 
			@currentMonthforcast = @currentMonthforcast-@currentMonthforcast_versionmonth_minus_1,
			@totalrow = @totalrow--+@currentMonthforcast_versionmonth_minus_1
	end
	if @TimeSeries IN('FM_Original')
	begin
		select			
			@Startmonth = 0
	end
	else if @TimeSeries in('1. Baseline Qty','1. Baseline Qty_+','1. Baseline Qty c','Validate_FM','NonModelling')
	begin
		select @Startmonth = cast(right(@FM_KEY,2) as int)-1
	end
	else if @TimeSeries in('FM_OriginalFull')
	begin
		select @Startmonth = cast(right(@FM_KEY,2) as int)-1,@totalrow=24+(cast(right(@FM_KEY,2) as int)-1)
	end
	else if @TimeSeries in('FM_OriginalwfFull')
	begin
		select @Startmonth = cast(right(@FM_KEY,2) as int)-1,@totalrow=24+(cast(right(@FM_KEY,2) as int)-1)
	end
	else if @TimeSeries in('optimus_+')
	begin
		select			
			--@Startmonth = cast(right(@FM_KEY,2) as int),
			@currentMonthforcast = casT( right(@FM_KEY,2) as int),
			@totalrow = 24
	end
	else if @TimeSeries in('optimus_normal','optimus_bundle')
	begin
		select			
			--@Startmonth = cast(right(@FM_KEY,2) as int)-1,
			@currentMonthforcast = cast(right(@FM_KEY,2) as int),
			@totalrow = 24
	end
	if @TimeSeries = 'updateForecast_bom0'
	begin
		select @currentMonthforcast = 1,@totalrow = 12
	end
	--else if @TimeSeries='risk3M'
	--begin
	--	select @currentMonthforcast=1,@totalrow=4
	--end
	else if @TimeSeries = 'updateForecast_bom1'
	begin
		select @currentMonthforcast = 13,@totalrow = 24
	end
	else if @TimeSeries IN('updatetotalfct1','updatetotalfct2','updatetotalfcc')
	begin
		select @currentMonthforcast =casT( right(@FM_KEY,2) as int),@totalrow = 24
	end
	else if @TimeSeries = 'SP'
	begin
		select @currentMonthforcast = 1,@totalrow = 24
	end
	else if @TimeSeries = 'UploadFM'
	begin
		select @currentMonthforcast = cast(right(@FM_KEY,2) as int),@totalrow = 20+cast(right(@FM_KEY,2) as int)-1
	end
	else if @TimeSeries ='UploadFMWF'
	begin
		select @currentMonthforcast = cast(right(@FM_KEY,2) as int),@totalrow = 24+(cast(right(@FM_KEY,2) as int)-1)
	end
	else if @TimeSeries ='SpectrumCal'
	begin
		select @currentMonthforcast = cast(right(@FM_KEY,2) as int),@totalrow = 24+(cast(right(@FM_KEY,2) as int)-1)
	end
	else if @TimeSeries IN('UploadFM_2','UploadFM_3','UploadFM_4','UploadFM_5')
	begin
		select @currentMonthforcast = cast(right(@FM_KEY,2) as int),@totalrow = 24
	end
	else if @TimeSeries ='fc_save'
	begin
		select @currentMonthforcast = 1,@totalrow = 24
	end
	else if @TimeSeries = 'optimus'
	begin
		select @currentMonthforcast = 1,@totalrow = 24
	end
	else if @TimeSeries IN('fc_spectrum_1','fc_spectrum_2','fc_spectrum_3','fc_spectrum_4')
	begin
		select @currentMonthforcast = cast(right(@FM_KEY,2) as int),@totalrow = 24+cast(right(@FM_KEY,2) as int)-1
	end
	
	select @totalrow = @totalrow--+@Startmonth
								
	--//upload FM config
	declare @startmonth_UploadFM int = 0
	while (@currentMonthforcast <=@totalrow)
	begin
		declare 
			@Current nvarchar(20),
			@Current_year nvarchar(4),
			@current_year_final nvarchar(2) = '',
			@current_month_fc int = 0

		select @current_month_fc =cast(right(@FM_KEY,2) as int)
		declare @StandardMonth int = 0
		if @currentMonthforcast>12
		begin
			select @StandardMonth = case when @currentMonthforcast%12 = 0 then 12 else @currentMonthforcast%12 end
		end
		else
		begin
			select @StandardMonth = @currentMonthforcast
		end
		
		select @Current_year = year(DATEADD(MM,(@currentMonthforcast-cast(right(@FM_KEY,2) as int)),@ForecastDate))
		select @current_year_final =case 
										when (@Current_year-year(@ForecastDate)) <>0 then 
											'+' 
										else '' 
									end + cast((@Current_year-year(@ForecastDate)) as nvarchar(1))
		select 
			@Current = replace([Month_Desc],'@',@current_year_final) 
		from @tmp 
		where id = @StandardMonth
		--select DATEADD(MM,23,cast('2024-03-01' as date))
	
		if @TimeSeries = 'UploadFM'
		begin
			--if len(@result)=0
			--begin
			--	select @result = '[QTy M'+case 
			--								when @startmonth_UploadFM=0 then '' 
			--								else '+'+cast(@startmonth_UploadFM as nvarchar)
			--							end+'] = case when '''+@Alias+'''<>''Baseline Qty'' then ISNULL(wf.['+@Current+'],0) else ISNULL(wf.['+@Current+'],0)-ISNULL(f.['+@Current+'],0) end'
			--end
			--else
			--begin
			--	select @result =@result+',[QTy M'+case 
			--								when @startmonth_UploadFM=0 then '' 
			--								else '+'+cast(@startmonth_UploadFM as nvarchar)
			--							end+'] = case when '''+@Alias+'''<>''Baseline Qty'' then ISNULL(wf.['+@Current+'],0) else ISNULL(wf.['+@Current+'],0)-ISNULL(f.['+@Current+'],0) end'
			--end
			if len(@result)=0
			begin
				select @result = '[QTy M'+case 
											when @startmonth_UploadFM=0 then '' 
											else '+'+cast(@startmonth_UploadFM as nvarchar)
										end+'] = ISNULL(wf.['+@Current+'],0)-ISNULL(f.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[QTy M'+case 
											when @startmonth_UploadFM=0 then '' 
											else '+'+cast(@startmonth_UploadFM as nvarchar)
										end+'] = ISNULL(wf.['+@Current+'],0)-ISNULL(f.['+@Current+'],0)'
			end
		end
		if @TimeSeries = 'UploadFMWF'
		begin
			if len(@result)=0
			begin
				--case when '+cast(@currentMonthforcast as nvarchar(2))+'>24 then 0 else 
				select @result = '['+@Current+']='+case when @currentMonthforcast>24 then '0' else 'round(isnull('+@Alias+'.['+@Current+'],0)*round(isnull(spt.['+@Current+'],0),4),0)' end
			end
			else
			begin
				select @result =@result+',['+@Current+']='+case when @currentMonthforcast>24 then '0' else 'round(isnull('+@Alias+'.['+@Current+'],0)*round(isnull(spt.['+@Current+'],0),4),0)' end
			end
		end
		if @TimeSeries = 'SpectrumCal'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']='+case when @currentMonthforcast >24 then '0' else 'case when isnull(spd.['+@Current+'],0)=0 then 0 else isnull('+@Alias+'.['+@Current+'],0)/isnull(spd.['+@Current+'],0) end' end
			end
			else
			begin
				select @result =@result+',['+@Current+']='+case when @currentMonthforcast >24 then '0' else 'case when isnull(spd.['+@Current+'],0)=0 then 0 else isnull('+@Alias+'.['+@Current+'],0)/isnull(spd.['+@Current+'],0) end' end
			end
		end
		if @TimeSeries = 'UploadFM_2'
		begin
			if len(@result)=0
			begin
				select @result = @Alias+'.['+@Current+'] '			
			end
			else
			begin
				select @result =@result+','+@Alias+'.['+@Current+']'			
			end
		end
		if @TimeSeries = 'UploadFM_3'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']='+@Alias+'.['+@Current+']*spt.['+@Current+']'
			end
			else
			begin
				select @result =@result+',['+@Current+']='+@Alias+'.['+@Current+']*spt.['+@Current+']'
			end
		end
		if @TimeSeries = 'UploadFM_4'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=sum('+@Alias+'.['+@Current+'])'
			end
			else
			begin
				select @result =@result+',['+@Current+']=sum('+@Alias+'.['+@Current+'])'
			end
		end
		if @TimeSeries = 'UploadFM_5'
		begin
			if len(@result)=0
			begin
				select @result = @Alias+'.['+@Current+'] '			
			end
			else
			begin
				select @result =@result+'+'+@Alias+'.['+@Current+']'			
			end
		end
		else if @TimeSeries = 'FM_Tmp'
		begin
			if len(@result)=0
			begin
				select @result = 'replace(isnull(['+@Current+' '+@Current_year+'],0),'','','''')'
			end
			else
			begin
				select @result =@result+',replace(isnull(['+@Current+' '+@Current_year+'],0),'','','''')'
			end
		end
		else if @TimeSeries = 'FM_Non_Tmp'
		begin
			if len(@result)=0
			begin
				select @result = '[Col'+format(@startmonth_UploadFM+1,'00')+']=isnull(['+@Current+' '+@Current_year+'],0)'
			end
			else
			begin
				select @result =@result+',[Col'+format(@startmonth_UploadFM+1,'00')+']=isnull(['+@Current+' '+@Current_year+'],0)'
			end
		end
		else if @TimeSeries = 'FM_Tmp1'
		begin
			if len(@result)=0
			begin
				select @result = 'isnull(['+@Current+' '+@Current_year+'],0)'
			end
			else
			begin
				select @result =@result+',isnull(['+@Current+' '+@Current_year+'],0)'
			end
		end
		else if @TimeSeries = 'FM'
		begin
			if len(@result)=0
			begin
				select @result = '[Col'+format((@currentMonthforcast-@Startmonth+1),'00')+']'
			end
			else
			begin
				select @result =@result+',[Col'+format((@currentMonthforcast-@Startmonth+1),'00')+']'
			end
		end
		else if @TimeSeries = 'FM-Table'
		begin
			if len(@result)=0
			begin
				select @result = '[Col'+format((@currentMonthforcast-@Startmonth+1),'00')+']	int default 0'
			end
			else
			begin
				select @result =@result+',[Col'+format((@currentMonthforcast-@Startmonth+1),'00')+']	int default 0'
			end
		end
		else if @TimeSeries = 'ErrorAlert'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']	int default 0'
			end
			else
			begin
				select @result =@result+',['+@Current+']	int default 0'
			end
		end
		else if @TimeSeries = 'ErrorAlert_set0'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=0'
			end
			else
			begin
				select @result =@result+',['+@Current+']=0'
			end
		end
		else if @TimeSeries = '3. Promo Qty(BOM)'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(CQty*['+@Current+'])'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(CQty*['+@Current+'])'			
			end
		end
		--updatetotalfc
		else if @TimeSeries = 'updatetotalfcc'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = round(isnull(t.['+@Current+'],0)*(isnull(p.[Percent],0)/100),0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = round(isnull(t.['+@Current+'],0)*(isnull(p.[Percent],0)/100),0)'
			end
		end
		--else if @TimeSeries = 'updatetotalfct1'
		--begin
		--	if len(@result)=0
		--	begin
		--		select @result = '['+@Current+'] = (1.0+CASE WHEN isnull(fm.['+@Current+'],0)>0 THEN (isnull(ad.['+@Current+'],0)-isnull(fm.['+@Current+'],0))*1.0/isnull(fm.['+@Current+'],0) ELSE 0 END)'
		--	end
		--	else
		--	begin
		--		select @result =@result+',['+@Current+'] = (1.0+CASE WHEN isnull(fm.['+@Current+'],0)>0 THEN (isnull(ad.['+@Current+'],0)-isnull(fm.['+@Current+'],0))*1.0/isnull(fm.['+@Current+'],0) ELSE 0 END)'
		--	end
		--end
		else if @TimeSeries = 'updatetotalfct1'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=ad.['+@Current+']*fm.['+@Current+']'
			end
			else
			begin
				select @result =@result+',['+@Current+']=ad.['+@Current+']*fm.['+@Current+']'
			end
		end
		else if @TimeSeries = 'updatetotalfct2'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = cast(isnull(f.['+@Current+'],0)*isnull(x.['+@Current+'],0) as int)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = cast(isnull(f.['+@Current+'],0)*isnull(x.['+@Current+'],0) as int)'
			end
		end
		else if @TimeSeries = 'FM_Original'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = cast(''0'' as int) '			
			end
			else
			begin
				select @result =@result+',['+@Current+'] = cast(''0'' as int) '			
			end
		end
		else if @TimeSeries = '1. Baseline Qty_+'
		begin
			if @Alias = ''
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+']'			
				end
				else
				begin
					select @result =@result+'+['+@Current+']'			
				end
			end
			else
			begin
				if len(@result)=0
				begin
					select @result = @Alias+'.['+@Current+'] '			
				end
				else
				begin
					select @result =@result+'+'+@Alias+'.['+@Current+']'			
				end
			end
		end
		else if @TimeSeries = 'Set_0'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=0 '			
			end
			else
			begin
				select @result =@result+',['+@Current+']=0'			
			end
		end
		else if @TimeSeries = 'Set_0_m_1'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=0 '			
			end
			else
			begin
				select @result =@result+',['+@Current+']=0'			
			end
		end
		else if @TimeSeries = 'optimus_+'
		begin
			if @Alias = ''
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+']'			
				end
				else
				begin
					select @result =@result+'+['+@Current+']'			
				end
			end
			else
			begin
				if len(@result)=0
				begin
					select @result = @Alias+'.['+@Current+']'			
				end
				else
				begin
					select @result =@result+'+'+@Alias+'.['+@Current+']'			
				end
			end
		end
		else if @TimeSeries = 'Column_fc_rsp'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']'			
			end
			else
			begin
				select @result =@result+',['+@Current+']'			
			end
		end
		else if @TimeSeries = 'validate_rsp'
		begin
			if @Alias<>''
			begin
				if len(@result)=0
				begin
					select @result='['+@Current+']=case when '+@Alias+'.['+@Current+']>0 and rsp.['+@Current+']=0 then 1 else 0 end'
				end
				else
				begin
					select @result=@result+',['+@Current+']=case when '+@Alias+'.['+@Current+']>0 and rsp.['+@Current+']=0 then 1 else 0 end'
				end
			end
		end
		else if @TimeSeries = 'validate_rsp_text'
		begin
			if len(@result)=0
			begin
				select @result='['+@Current+']=case when ['+@Current+']>0 then 1 else 0 end'
			end
			else
			begin
				select @result=@result+',['+@Current+']=case when ['+@Current+']>0 then 1 else 0 end'
			end
		end
		else if @TimeSeries = 'optimus_bundle'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = case when [Column]='''+@Current+''' then [Sell-Out Units] else 0 end '
			end
			else
			begin
				select @result =@result+',['+@Current+'] = case when [Column]='''+@Current+''' then [Sell-Out Units] else 0 end '
			end
		end
		else if @TimeSeries = 'optimus_normal'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(case when [Column]='''+@Current+''' then [Sell-Out Units] else 0 end) '
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(case when [Column]='''+@Current+''' then [Sell-Out Units] else 0 end) '
			end
		end
		else if @TimeSeries = '1. Baseline Qty'
		begin
			if len(@Alias)>0
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = cast(isnull('+@Alias+'.['+@Current+'],0) as int) '
				end
				else
				begin
					select @result =@result+',['+@Current+'] = cast(isnull('+@Alias+'.['+@Current+'],0) as int) '			
				end
			end
			else
			begin				
				if len(@result)=0
				begin
					select @result = '['+@Current+']=sum(cast(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0) as int))'
				end
				else
				begin
					select @result =@result+',['+@Current+']=sum(cast(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0) as int))'
				end
			end
		end
		else if @TimeSeries = 'NonModelling'
		begin
			if len(@Alias)>0
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+']=sum(cast(isnull('+@Alias+'.['+@Current+'],0) as int)) '
				end
				else
				begin
					select @result =@result+',['+@Current+']=sum(cast(isnull('+@Alias+'.['+@Current+'],0) as int)) '
				end
			end
			else
			begin				
				if len(@result)=0
				begin
					select @result = '['+@Current+']=cast(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0) as int)'
				end
				else
				begin
					select @result =@result+',['+@Current+']=cast(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0) as int)'
				end
			end
		end
		else if @TimeSeries = 'Validate_FM'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=f.['+@Current+']-f1.['+@Current+']'
			end
			else
			begin
				select @result =@result+',['+@Current+']=f.['+@Current+']-f1.['+@Current+']'	
			end
		end
		else if @TimeSeries = '1. Baseline Qty c'
		begin
			if len(@Alias)>0
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = cast(isnull('+@Alias+'.['+@Current+'],0) as numeric) '
				end
				else
				begin
					select @result =@result+',['+@Current+'] = cast(isnull('+@Alias+'.['+@Current+'],0) as numeric) '			
				end
			end
			else
			begin				
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = cast(sum(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0)) as numeric)'
				end
				else
				begin
					select @result =@result+',['+@Current+'] = cast(sum(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0)) as numeric)'
				end
			end
		end
		else if @TimeSeries = 'FM_OriginalFull'
		begin
			if len(@Alias)>0
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'cast(isnull('+@Alias+'.['+@Current+'],0) as int) ' end
				end
				else
				begin
					select @result =@result+',['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'cast(isnull('+@Alias+'.['+@Current+'],0) as int) ' end		
				end
			end
			else
			begin				
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'cast(sum(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0)) as int)' end
				end
				else
				begin
					select @result =@result+',['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'cast(sum(ISNULL(Col'+right('00'+cast((@currentMonthforcast-@Startmonth) as nvarchar),2)+',0)) as int)' end
				end
			end
		end
		else if @TimeSeries = 'FM_OriginalwfFull'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'sum(cast(isnull('+@Alias+'.['+@Current+'],0) as int)) ' end
			end
			else
			begin
				select @result =@result+',['+@Current+'] = '+case when @currentMonthforcast>24 then '0' else 'sum(cast(isnull('+@Alias+'.['+@Current+'],0) as int)) ' end		
			end
		end
		else if @TimeSeries = 'SP'
		begin
			if len(@Alias)>0
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = isnull('+@Alias+'.[M'+cast(@currentMonthforcast as nvarchar(2))+'],0) '			
				end
				else
				begin
					select @result =@result+',['+@Current+'] = isnull('+@Alias+'.[M'+cast(@currentMonthforcast as nvarchar(2))+'],0) '		
				end
			end			
		end
		else if @TimeSeries = '6. Total Qty'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(ISNULL(['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(ISNULL(['+@Current+'],0))'
			end
		end
		else if @TimeSeries = '6. Total Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = sum(ISNULL([(Value)_'+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = sum(ISNULL([(Value)_'+@Current+'],0))'
			end
		end
		else if @TimeSeries = 'Set_0_v'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = 0'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = 0'
			end
		end
		else if @TimeSeries = 'updateForecast'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'fcpercentline'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = case when ISNULL(t.['+@Current+'],0)>0 then ISNULL(a.['+@Current+'],0)*1.0/ISNULL(t.['+@Current+'],0) else 0.0 end'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = case when ISNULL(t.['+@Current+'],0)>0 then ISNULL(a.['+@Current+'],0)*1.0/ISNULL(t.['+@Current+'],0) else 0.0 end'
			end
		end
		else if @TimeSeries = 'risk3M'
		begin
			if @currentMonthforcast<=cast(SUBSTRING(@FM_KEY,5,2) as int)+3
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+']'
				end
				else
				begin
					select @result =@result+',['+@Current+']'
				end
			end
		end
		else if @TimeSeries = 'risk3M_U'
		begin
			if @currentMonthforcast<=cast(SUBSTRING(@FM_KEY,5,2) as int)+3
			begin
				if len(@result)=0
				begin
					select @result = '['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
				end
				else
				begin
					select @result =@result+',['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
				end
			end
		end
		else if @TimeSeries = 'update_bp_gap_u'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = isnull(bp.['+@Current+'],0)-ISNULL(f.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = isnull(bp.['+@Current+'],0)-ISNULL(f.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'update_bp_gap_%'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = case when isnull(f.['+@Current+'],0)<>0 then ISNULL(bp.['+@Current+'],0)*1.0/isnull(f.['+@Current+'],0) else 0 end*100'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = case when isnull(f.['+@Current+'],0)<>0 then ISNULL(bp.['+@Current+'],0)*1.0/isnull(f.['+@Current+'],0) else 0 end*100'
			end
		end
		else if @TimeSeries = 'updateForecastNew'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
		end
		else if @TimeSeries = 'fc_save'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'fc_spectrum_1'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = isnull(case when [Spctrum beginning Month] = '''+@Current_year+format(@currentMonthforcast,'00')+''' then Qty else 0 end,0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = ISNULL(case when [Spctrum beginning Month] = '''+@Current_year+format(@currentMonthforcast,'00')+''' then Qty else 0 end,0)'
			end
		end
		else if @TimeSeries = 'fc_spectrum_2'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
		end
		else if @TimeSeries = 'fc_spectrum_3'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = '+case when @currentMonthforcast<@current_month_fc then 'cast(''0'' as int)' else 'isnull(M'+cast((@currentMonthforcast-@current_month_fc) as nvarchar)+',0)' end
			end
			else
			begin
				select @result =@result+',['+@Current+'] = '+case when @currentMonthforcast<@current_month_fc then 'cast(''0'' as int)' else 'isnull(M'+cast((@currentMonthforcast-@current_month_fc) as nvarchar)+',0)' end
			end
		end
		else if @TimeSeries = 'fc_spectrum_4'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = 1'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = 1'
			end
		end
		else if @TimeSeries = 'updateForecast_bom0'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'updateForecast_bom1'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'updateForecast_Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'			
			end
		end
		else if @TimeSeries = 'filter_Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = cast(ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)/1000000 as numeric(18,0))'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = cast(ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)/1000000 as numeric(18,0))'			
			end
		end
		else if @TimeSeries = 'SumColumn'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(['+@Current+'])'
			end
			else
			begin
				select @result =@result+''+@Alias+'['+@Current+'] = sum(['+@Current+'])'
			end
		end
		else if @TimeSeries = 'Total_Sum_minus_bom'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = sum(isnull(t.['+@Current+'],0)-isnull(t1.['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = sum(isnull(t.['+@Current+'],0)-isnull(t1.['+@Current+'],0))'
			end
		end
		else if @TimeSeries = 'Total_remainder'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=isnull(t1.['+@Current+'],0)-sum(isnull(f1.['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+']=isnull(t1.['+@Current+'],0)-sum(isnull(f1.['+@Current+'],0))'
			end
		end
		--else if @TimeSeries = 'Total_Plus_remainder'
		--begin
		--	if len(@result)=0
		--	begin
		--		select @result = '['+@Current+']=case when [Time series]=''1. Baseline Qty'' then f.['+@Current+']+t.['+@Current+'] else f.['+@Current+'] end'
		--	end
		--	else
		--	begin
		--		select @result =@result+',['+@Current+']=case when [Time series]=''1. Baseline Qty'' then f.['+@Current+']+t.['+@Current+'] else f.['+@Current+'] end'
		--	end
		--end
		else if @TimeSeries = 'Total_Plus_remainder'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=case when (select max(['+@Current+']) from FC_TYLE_Tmp_'+case when @Alias='' then 
				HOST_NAME() else @Alias end+' where [SUB GROUP/ Brand]=f.[SUB GROUP/ Brand] and [Channel]=f.[Channel])=sum(f.['+@Current+'])
				and case 
						when sum(f.['+@Current+'])=0 
							and (
									(charindex(''On Going'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''DC'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''TBDC'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''New Launch'',s.[Product status])>0 and [Time series]=''4. Launch Qty'')
								) then 1
						else 0 
					end>0
				then sum(f.['+@Current+']+t.['+@Current+']) else sum(f.['+@Current+']) end'
			end
			else
			begin
				select @result =@result+',['+@Current+']=case when (select max(['+@Current+']) from FC_TYLE_Tmp_'+case when @Alias='' then 
				HOST_NAME() else @Alias end+' where [SUB GROUP/ Brand]=f.[SUB GROUP/ Brand] and [Channel]=f.[Channel])=sum(f.['+@Current+'])
				and case 
						when sum(f.['+@Current+'])=0 
							and (
									(charindex(''On Going'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''DC'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''TBDC'',s.[Product status])>0 and [Time series]=''1. Baseline Qty'')
									OR
									(charindex(''New Launch'',s.[Product status])>0 and [Time series]=''4. Launch Qty'')
								) then 1
						else 0 
					end>0
				then sum(f.['+@Current+']+t.['+@Current+']) else sum(f.['+@Current+']) end'
			end
		end
		else if @TimeSeries = 'Total_Exclude_Bom'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=isnull(t.['+@Current+'],0)-isnull(t1.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+']=isnull(t.['+@Current+'],0)-isnull(t1.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'Total_Listcolumn'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=isnull('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',['+@Current+']=isnull('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'Total_getpercent'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=case when t.['+@Current+']>0 then a.['+@Current+']*1.0/t.['+@Current+'] else 0 end'
			end
			else
			begin
				select @result =@result+',['+@Current+']=case when t.['+@Current+']>0 then a.['+@Current+']*1.0/t.['+@Current+'] else 0 end'
			end
		end
		else if @TimeSeries = 'Total_x_total'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=CAST(ad.['+@Current+']*fm.['+@Current+'] as INT)'
			end
			else
			begin
				select @result =@result+',['+@Current+']=CAST(ad.['+@Current+']*fm.['+@Current+'] as INT)'
			end
		end
		else if @TimeSeries = 'Total_groupbycalcol'
		begin
			if len(@result)=0
			begin
				select @result = @Alias+'.['+@Current+']'
			end
			else
			begin
				select @result =@result+','+@Alias+'.['+@Current+']'
			end
		end
		else if @TimeSeries = 'Total_list_change'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=f.['+@Current+']-t.['+@Current+']'
			end
			else
			begin
				select @result =@result+',['+@Current+']=f.['+@Current+']-t.['+@Current+']'
			end
		end
		else if @TimeSeries = 'SIColumTemplate'
		begin
			if len(@result)=0
			begin
				select @result = '[M'+format((@currentMonthforcast-@Startmonth),'0')+'] = 0'
			end
			else
			begin
				select @result =@result+',[M'+format((@currentMonthforcast-@Startmonth),'0')+'] = 0'
			end
		end
		else if @TimeSeries = 'FOCColumn'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0.00) as numeric(18,9))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0) as numeric(18,9))'
			end
		end
		else if @TimeSeries = 'optimus'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0.00) as numeric(18,9))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0) as numeric(18,9))'
			end
		end
		else if @TimeSeries = 'BomColumn'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0.00) as numeric(18,0))'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = cast(isnull(replace([M'+format((@currentMonthforcast-@Startmonth2),'0')+'],'','',''''),0) as numeric(18,0))'
			end
		end
		else if @TimeSeries = 'NewCol'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+'] = 0'
			end
			else
			begin
				select @result =@result+',['+@Current+'] = 0'
			end
		end
		else if @TimeSeries = 'BomheaderQty'
		begin
			if len(@result)=0
			begin
				select @result = '['+@Current+']=sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
			else
			begin
				select @result =@result+',['+@Current+']=sum(ISNULL('+@Alias+'.['+@Current+'],0))'
			end
		end
		else if @TimeSeries = 'RSP'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)*isnull(s.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)*isnull(s.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'wf_copy_fc'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+']='+@Alias+'.[(Value)_'+@Current+']'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+']='+@Alias+'.[(Value)_'+@Current+']'
			end
		end
		else if @TimeSeries = 'wf_copy_fc_uat'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+']='+@Alias+'.[(Value)_'+@Current+']/1000000'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+']='+@Alias+'.[(Value)_'+@Current+']/1000000'
			end
		end
		else if @TimeSeries = 'RSP M-1' --//m-1
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)*isnull(s.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)*isnull(s.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'A_Version_M-1'
		begin
			if len(@result)=0
			begin
				select @result = '[(m-1)_'+@Current+'] = 0'
			end
			else
			begin
				select @result =@result+',[(m-1)_'+@Current+'] = 0'
			end
		end
		else if @TimeSeries = 'B_Version_M-1'
		begin
			if len(@result)=0
			begin
				select @result = '[(m-1)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(m-1)_'+@Current+'] = ISNULL('+@Alias+'.['+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'C_Version_M-1'
		begin
			if len(@result)=0
			begin
				select @result = '[(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(m-1)_'+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(m-1)_'+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'A_Version_M-1_Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_(m-1)_'+@Current+'] = cast(0 as numeric(18,0))'
			end
			else
			begin
				select @result =@result+',[(Value)_(m-1)_'+@Current+'] = cast(0 as numeric(18,0))'
			end
		end
		else if @TimeSeries = 'B_Version_M-1_Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'C_Version_M-1_Value'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_(m-1)_'+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_(m-1)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_(m-1)_'+@Current+'],0)'
			end
		end
		else if @TimeSeries = 'Current_A_WF_VALUE'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] =cast(0 as numeric(18,0))'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = cast(0 as numeric(18,0))'
			end
		end
		else if @TimeSeries = 'Current_B_WF_VALUE'
		begin
			if len(@result)=0
			begin
				select @result = '[(Value)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'
			end
			else
			begin
				select @result =@result+',[(Value)_'+@Current+'] = ISNULL('+@Alias+'.[(Value)_'+@Current+'],0)'
			end
		end
		
		select @startmonth_UploadFM = @startmonth_UploadFM +1
		select @currentMonthforcast = @currentMonthforcast + 1
	end
	insert into @tmpFinal(ListColumn) values(@result)
	return
end