/*
	select * from fnc_fc_validate_mismatch('CPD','202407','FM','Masterdata')
*/
/*function lấy data từ (select * from fc_validate_mismatch) ra theo function name*/
Alter function fnc_fc_validate_mismatch
(
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@functionName	nvarchar(50),
	@TypeName		nvarchar(100)--LIST
)
returns table
with encryption
As

	return
	select 
		*
	from fc_validate_mismatch_si_his_fc
	where 
		[Division]=@Division 
	and [FM_KEY]=@FM_KEY
	and [Function Name]=@functionName
	and [Type Name] IN(select value from string_split(@TypeName,','))