/*
	select * from fnc_fc_error_alert('CPD','202407')
*/
/*function convert data full-->pivot data để đưa lên giao diện*/
Alter function fnc_fc_error_alert(@division nvarchar(3),@FM_KEY nvarchar(6))
	returns table
	with encryption
As
	return
	select
		*
	from 
	(
		select 
			[Division],
			[FM_KEY],
			[Error name],
			[Status]
		from fc_error_alert 
		where Division=@division and FM_KEY=@FM_KEY
	) src
	pivot
	(
	  sum([Status])
	  for [Error name] IN([Missing Master Data],[Duplicate master data],[Missing BOM],[Missing RSP],[Inconsistency])-- week in ([1], [2], [3])
	) piv;