/*
	Declare 
		@b_Success		Int,
		@c_errmsg		Nvarchar(250)

	exec sp_Create_Error_Alert 'PPD','202410',1,@b_Success OUT,@c_errmsg OUT
	
	select @b_Success b_Success,@c_errmsg c_errmsg

	select * from fc_error_alert where FM_KEY='202411'
	select * from fc_validate_mismatch_si_his_fc
	select * from fc_validate_mismatch_so_his
	select * from fc_validate_mismatch_si_bud
*/
/*table chưa toàn bộ data missing data của fc month*/
Alter Proc sp_Create_Error_Alert
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@Reset			INT,
	@b_Success		Int				OUTPUT,     
	@c_errmsg		Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @debug					INT=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max)=''
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_Create_Error_Alert',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_debug('FC')
	--select @debug=1

	declare @table_error_alter nvarchar(100)=''
	select @table_error_alter='fc_error_alert'

	declare @listColumn_fc_error_alert nvarchar(max)=''
	SELECT @listColumn_fc_error_alert=ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'ErrorAlert','x')
	--SELECT listColumn_fc_error_alert=ListColumn FROM fn_FC_GetColheader_Current('202407','ErrorAlert','x')
	
	declare @listColumn_his_error_alert nvarchar(max)=''
	select @listColumn_his_error_alert=ListColumn from fn_FC_GetColHeader_Historical(@FM_KEY,'si',100)
	--select listColumn_his_error_alert=ListColumn from fn_FC_GetColHeader_Historical('202407','si',100)
	
	if @debug>0
	begin
		select 'create table fc_validate_mismatch_si_his_fc'
	end
	if @n_continue=1
	begin
		declare @table_si_his_fc		nvarchar(300)=''
		select @table_si_his_fc='fc_validate_mismatch_si_his_fc'
		if not exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_si_his_fc) AND type in (N'U')
		)
		begin			
			select @sql=
			'CREATE TABLE '+@table_si_his_fc+'
			(
				[Division] [varchar](3) NOT NULL,
				[FM_KEY] [varchar](6) NOT NULL,
				[Function Name] [varchar](50) NOT NULL,
				[Type Name] [varchar](50) NOT NULL,
				[SUB GROUP/ Brand] [nvarchar](500) NULL,
				[Channel] [nvarchar](10) NULL,
				[Time series] [nvarchar](30) NULL,
				[EAN Code] [nvarchar](50) NULL,
				[SKU Code] [nvarchar](50) NULL,'+
				@listColumn_his_error_alert+','+
				@listColumn_fc_error_alert+'
			)'
			if @debug>0
			begin
				select 'Create table'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
		else
		begin
			if @Reset=1
			begin
				select @sql=
				'delete '+@table_si_his_fc+'
				where 
					Division='''+@Division+'''
				and FM_KEY='''+@FM_KEY+''' '
			end

			if @debug>0
			begin
				select @sql 'Delete table where'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
	end
	
	if @n_continue = 1
	begin
		if not exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_error_alter) AND type in (N'U')
		)
		begin
			select @sql=
			'create table '+@table_error_alter+'
			(
				[Division]			nvarchar(3) null,
				[FM_KEY]			nvarchar(6) null,
				[Error Name]		nvarchar(100) null,
				[Status]			INT default 0
			)'

			if @debug>0
			begin
				select @sql 'Create table error alert'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
		else
		begin
			if @Reset=1
			begin
				select @sql=
				'Delete '+@table_error_alter+'
				where 
					[Division]='''+@Division+''' 
				and [FM_KEY]='''+@FM_KEY+''' '
			end
			
			if @debug>0
			begin
				select 'Delete table Name'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
	end
	if @n_continue=1
	begin
		select @sql=
		'insert into '+@table_error_alter+'
		(
			[Division],
			[FM_KEY],
			[Error Name],
			[Status]
		)
		values
		('''+@Division+''','''+@FM_KEY+''',''Missing Master Data'',0),
		('''+@Division+''','''+@FM_KEY+''',''Duplicate master data'',0),
		('''+@Division+''','''+@FM_KEY+''',''Missing BOM'',0),
		('''+@Division+''','''+@FM_KEY+''',''Missing RSP'',0),
		('''+@Division+''','''+@FM_KEY+''',''Inconsistency'',0) '

		if @debug>0
		begin
			select @sql 'Insert table error alert initial'
		end
		execute(@sql)

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end
	
	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH