/*
declare 
	@b_Success			Int,
	@c_errmsg			Nvarchar(250)

exec sp_add_MasterFile_OrderStatus_Online_Tmp 'Sky 12.2022.xlsx',@b_Success OUT, @c_errmsg OUT

Select @b_Success b_Success, @c_errmsg c_errmsg

select *
from MasterFile_OrderStatus_OnLine_Tmp

*/

Create or Alter proc sp_add_MasterFile_OrderStatus_Online_Tmp
	@filename			nvarchar(500),
	@b_Success			Int				OUTPUT,     
	@c_errmsg			Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	declare 
		@tablename			nvarchar(100) = '',
		@sql				nvarchar(max) = '', 
		@n_continue			int = 1,
		@n_err				int,
		@sp_name			nvarchar(200) = 'sp_add_MasterFile_OrderStatus_Online_Tmp',
		@Worksheet			nvarchar(100) = 'Sheet1'

  declare @SharefolderPath nvarchar(500)
  select @SharefolderPath = Value from [SC2].[dbo].[EnvironmentConfig] where Name = 'Sharefolder_SAP_Dir'

	--declare @tmp table (id int identity(1,1), WorksheetName nvarchar(50))
	--declare @total_rows int = 0, @current_row int = 1

	--insert into @tmp(WorksheetName) values('Sheet1')--,('Customer Master'),('BUNDLE MASTER FILE')

	--select @total_rows = isnull(count(*),0) from @tmp
	--select @total_rows '@total_rows'
	--select @n_continue '@n_continue'
	if @n_continue = 1
	begin		
		select @tablename = 'MasterFile_OrderStatus_OnLine_Tmp'
		--select @tablename '@tablename'
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@tablename) AND type in (N'U')
		)
		begin
			--select N'xóa table'
			--xoa table tmp
			select @sql = 'drop table '+@tablename
			execute(@sql)
		end
		--import table tmp
		select @sql =
		'select
			Filename = '''+@filename+''',
			*
			INTO '+@tablename+'
		From OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
						''Excel 12.0; HDR=YES; IMEX=1;Database=D:\SC_IMPORT\Pending\FC_OrderStatus\'+@filename+''',
						''SELECT * FROM ['+@Worksheet+'$]'')'
		--select @sql '@sql'
		execute(@sql)
		--select 'ok'
		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end


	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH
