/*
	declare 
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_add_MasterFile_CPD_Tmp 'CPD','202502','',@b_Success OUT, @c_errmsg OUT

	Select @b_Success b_Success, @c_errmsg c_errmsg

	select * from FC_MasterFile_CPD_Customer_Master_Tmp
	select * from FC_BFL_Master_CPD_Tmp
*/

Create or Alter proc sp_add_MasterFile_CPD_Tmp
	@Division			Nvarchar(3),
	@FM_KEY				nvarchar(6),
	@FilenameNeed		nvarchar(300),--//có thể chạy partial alias table name
	@b_Success			Int				OUTPUT,     
	@c_errmsg			Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	declare 
		@tablename			nvarchar(100) = '',
		@sql				nvarchar(max) = '', 
		@n_continue			int = 1,
		@n_err				int,
		@sp_name			nvarchar(200) = 'sp_add_MasterFile_CPD_Tmp',
		@filename			nvarchar(500)=''
		,@debug				INT=1

  
  declare @SharefolderPath nvarchar(500)
  select @SharefolderPath = Value from [SC2].[dbo].[EnvironmentConfig] where Name = 'Sharefolder_SAP_Dir'

	select @filename='BFL_MASTER_'+@FM_KEY+'.xlsx'
	declare @tmp table (id int identity(1,1), WorksheetName nvarchar(50),Alias nvarchar(50))
	declare @total_rows int = 0, @current_row int = 1
	insert into @tmp(WorksheetName,Alias) values('MM','MM_Master'),('Customer Master','Customer_Master')--,('BUNDLE MASTER FILE','Bundle_Master')

	declare @Full_name nvarchar(500) = ''
	select @Full_name = @SharefolderPath +'\Pending\FORECAST\'+@division+'\MasterFile\'+@filename

	if @debug>0
	begin
		select @Full_name '@Full_name'
	end

	select @total_rows = isnull(count(*),0) from @tmp
	--select @total_rows '@total_rows'
	--select @n_continue '@n_continue'
	if @n_continue = 1
	begin
		if (select dbo.fn_FileExists(@Full_name)) = 1
		begin
			--select @current_row '@current_row'
			while (@current_row<=@total_rows)
			begin
				declare @Worksheet			nvarchar(50) = ''
				declare @Alias				nvarchar(50) = ''

				select 
					@Worksheet = isnull(WorksheetName,''),
					@Alias = ISNULL(Alias,'')
				from @tmp 
				where id = @current_row

				select @tablename = CASE WHEN @Alias = 'MM_Master' THEN 'FC_BFL_Master_'+@division+'_Tmp' else 'FC_MasterFile_'+@Division+''+'_'+@Alias+'_Tmp' end
				--select @tablename '@tablename'
				if len(@FilenameNeed) = 0 or @FilenameNeed = @Alias
				begin
					if exists
					(
						SELECT * 
						FROM sys.objects 
						WHERE object_id = OBJECT_ID(@tablename) AND type in (N'U')
					)
					begin
						--select N'xóa table'
						--xoa table tmp
						select @sql = 'drop table '+@tablename
						execute(@sql)
					end
					--import table tmp
					select @sql =
					'select
						[Filename] = '''+@filename+''',
						[FM_KEY]='''+@FM_KEY+''',
						*
						INTO '+@tablename+'
					From OPENROWSET(''Microsoft.ACE.OLEDB.12.0'',
									''Excel 12.0; HDR=YES; IMEX=1;Database='+@SharefolderPath +'\Pending\FORECAST\'+@Division+'\MasterFile\'+@filename+''',
									''SELECT * FROM ['+@Worksheet+'$]'')'
					--select @sql '@sql'
					execute(@sql)
				end
				--select 'ok'
				select @n_err = @@ERROR
				if @n_err<>0
				begin
					select @n_continue = 3
					--select @n_err=60003
					select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
				end
		
				select @current_row = @current_row + 1
			end
		end
		else
		begin
			select @n_continue =3, @c_errmsg = 'No files.../'
		end
	end

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH
