/*
	Declare
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_Add_FC_BFL_Master 'LLD','202502','','',0,@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg

	select * from FC_BFL_Master_LLD where FM_KEY='202502'
	select * from FC_Trend_RSP_CPD where FM_KEY='202412'
*/

Alter proc sp_Add_FC_BFL_Master
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@Month			nvarchar(2),--//khong dung
	@Type			nvarchar(2),--//khong dung
	@OnlyTrend		int,
	@b_Success		Int				OUTPUT,     
	@c_errmsg		Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	DECLARE   
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''
		,@sql1					nvarchar(max) = ''
		,@sql2					nvarchar(max) = ''
		,@action_name			nvarchar(10) = ''

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)

	DECLARE @DbName NVARCHAR(20)

	-- Get the environment configuration
	SELECT @DbName = CASE 
		WHEN Value = 'Production' THEN 'master.dbo'
		ELSE 'master_UAT'
	END
	FROM EnvironmentConfig
	WHERE Name = 'Current_Environment'

	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_Add_FC_BFL_Master',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()		
	
	select @debug=debug from fnc_debug('FC')
	--select @debug=1

	declare @Filename				nvarchar(100) = ''
	select @Filename = 'BFL_Master_'+@FM_KEY+'.xlsx'

	declare @Tablename				nvarchar(200) = ''
	select @Tablename = 'FC_BFL_Master_'+@Division

	declare @list_Division nvarchar(50)=''
	select @list_Division='LLD,LDB,PPD'

	if @debug>0
	begin
		select 'Import BFL tmp'
	end
	if @n_continue =1
	begin
		if @Division IN(select value from string_split(@list_Division,','))--'LLD','LDB','PPD')
		begin
			if @DbName = 'master.dbo'
				exec link_37.master.dbo.sp_add_BFL_Master_Tmp @Division,@FM_KEY, @b_Success1 OUT, @c_errmsg1 OUT
			ELSE
				exec link_37.master_UAT.dbo.sp_add_BFL_Master_Tmp @Division,@FM_KEY, @b_Success1 OUT, @c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue = 3, @c_errmsg = @c_errmsg1
			end
		end
		ELSE
		BEGIN
			exec sp_add_MasterFile_CPD @Division,@FM_KEY,'',@b_Success1 OUT, @c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue = 3, @c_errmsg = @c_errmsg1
			end
		END
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget -->Budget'
	end
	if @n_continue=1
	begin
		if @Division NOT IN('CPD')
		begin
			exec sp_add_FC_Budget @Division,@FM_KEY,'B',@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=1, @c_errmsg = @c_errmsg1
			end
		end
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget -->Pre-Budget'
	end
	if @n_continue=1
	begin
		if @Division NOT IN('CPD')
		begin
			exec sp_add_FC_Budget @Division,@FM_KEY,'PB',@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=1, @c_errmsg = @c_errmsg1
			end
		end
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget -->Trend'
	end
	if @n_continue=1
	begin
		if @Division NOT IN('CPD')
		begin
			exec sp_add_FC_Budget @Division,@FM_KEY,'T',@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=1, @c_errmsg = @c_errmsg1
			end
		end
	end

	if @debug>0
	begin
		select 'Import historical LDB tmp'
	end
	if @n_continue = 1
	begin	
		if @Division='LDB'
		begin
			if @OnlyTrend=0
			begin
				IF @DbName = 'master.dbo'
					exec link_37.master.dbo.sp_add_FC_RSP_Historical_Tmp @Division,'LDB_RSP_HIS_02_YEAR.xlsx',@b_Success1 OUT, @c_errmsg1 OUT
				ELSE
					exec link_37.master_UAT.dbo.sp_add_FC_RSP_Historical_Tmp @Division,'LDB_RSP_HIS_02_YEAR.xlsx',@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @n_continue = 3, @c_errmsg = @c_errmsg1
				end
			end
		end
	end
	

	if @debug>0
	begin
		select 'declare column'
	end
	declare 
		@listColumn_LLD1		nvarchar(max) = '',
		@listColumn_LLD2		nvarchar(max) = '',
		@LISTCOLUMN_LDB0		NVARCHAR(MAX) = '',
		@LISTCOLUMN_LDB02		nvarchar(max) = '',
		@LISTCOLUMN_LDB1		NVARCHAR(MAX) = '',
		@LISTCOLUMN_LDB2		NVARCHAR(MAX) = '',
		@listcolumn_budget		nvarchar(max) = '',
		@listcolumn_trend		nvarchar(max) = ''

	select @listColumn_lld1 =
	'[Y0 (u) M1] = isnull(s.[Y0 M1],0),
	[Y0 (u) M2] = isnull(s.[Y0 M2],0),
	[Y0 (u) M3] = isnull(s.[Y0 M3],0),
	[Y0 (u) M4] = isnull(s.[Y0 M4],0),
	[Y0 (u) M5] = isnull(s.[Y0 M5],0),
	[Y0 (u) M6] = isnull(s.[Y0 M6],0),
	[Y0 (u) M7] = isnull(s.[Y0 M7],0),
	[Y0 (u) M8] = isnull(s.[Y0 M8],0),
	[Y0 (u) M9] = isnull(s.[Y0 M9],0),
	[Y0 (u) M10] = isnull(s.[Y0 M10],0),
	[Y0 (u) M11] = isnull(s.[Y0 M11],0),
	[Y0 (u) M12] = isnull(s.[Y0 M12],0),
	[Y+1 (u) M1] = isnull(s.[Y+1 M1],0),
	[Y+1 (u) M2] = isnull(s.[Y+1 M2],0),
	[Y+1 (u) M3] = isnull(s.[Y+1 M3],0),
	[Y+1 (u) M4] = isnull(s.[Y+1 M4],0),
	[Y+1 (u) M5] = isnull(s.[Y+1 M5],0),
	[Y+1 (u) M6] = isnull(s.[Y+1 M6],0),
	[Y+1 (u) M7] = isnull(s.[Y+1 M7],0),
	[Y+1 (u) M8] = isnull(s.[Y+1 M8],0),
	[Y+1 (u) M9] = isnull(s.[Y+1 M9],0),
	[Y+1 (u) M10] = isnull(s.[Y+1 M10],0),
	[Y+1 (u) M11] = isnull(s.[Y+1 M11],0),
	[Y+1 (u) M12] = isnull(s.[Y+1 M12],0)'
	select @listColumn_lld2 =
	'[Y0 (u) M1] = isnull(s.[Y0 (u) M1],0),
	[Y0 (u) M2] = isnull(s.[Y0 (u) M2],0),
	[Y0 (u) M3] = isnull(s.[Y0 (u) M3],0),
	[Y0 (u) M4] = isnull(s.[Y0 (u) M4],0),
	[Y0 (u) M5] = isnull(s.[Y0 (u) M5],0),
	[Y0 (u) M6] = isnull(s.[Y0 (u) M6],0),
	[Y0 (u) M7] = isnull(s.[Y0 (u) M7],0),
	[Y0 (u) M8] = isnull(s.[Y0 (u) M8],0),
	[Y0 (u) M9] = isnull(s.[Y0 (u) M9],0),
	[Y0 (u) M10] = isnull(s.[Y0 (u) M10],0),
	[Y0 (u) M11] = isnull(s.[Y0 (u) M11],0),
	[Y0 (u) M12] = isnull(s.[Y0 (u) M12],0),
	[Y+1 (u) M1] = isnull(s.[Y+1 (u) M1],0),
	[Y+1 (u) M2] = isnull(s.[Y+1 (u) M2],0),
	[Y+1 (u) M3] = isnull(s.[Y+1 (u) M3],0),
	[Y+1 (u) M4] = isnull(s.[Y+1 (u) M4],0),
	[Y+1 (u) M5] = isnull(s.[Y+1 (u) M5],0),
	[Y+1 (u) M6] = isnull(s.[Y+1 (u) M6],0),
	[Y+1 (u) M7] = isnull(s.[Y+1 (u) M7],0),
	[Y+1 (u) M8] = isnull(s.[Y+1 (u) M8],0),
	[Y+1 (u) M9] = isnull(s.[Y+1 (u) M9],0),
	[Y+1 (u) M10] = isnull(s.[Y+1 (u) M10],0),
	[Y+1 (u) M11] = isnull(s.[Y+1 (u) M11],0),
	[Y+1 (u) M12] = isnull(s.[Y+1 (u) M12],0)'
	SELECT @listcolumn_budget = 
	'[B_Y0_M1] = isnull(s.[B_Y0_M1],0),
	[B_Y0_M2] = isnull(s.[B_Y0_M2],0),
	[B_Y0_M3] = isnull(s.[B_Y0_M3],0),
	[B_Y0_M4] = isnull(s.[B_Y0_M4],0),
	[B_Y0_M5] = isnull(s.[B_Y0_M5],0),
	[B_Y0_M6] = isnull(s.[B_Y0_M6],0),
	[B_Y0_M7] = isnull(s.[B_Y0_M7],0),
	[B_Y0_M8] = isnull(s.[B_Y0_M8],0),
	[B_Y0_M9] = isnull(s.[B_Y0_M9],0),
	[B_Y0_M10] = isnull(s.[B_Y0_M10],0),
	[B_Y0_M11] = isnull(s.[B_Y0_M11],0),
	[B_Y0_M12] = isnull(s.[B_Y0_M12],0),
	[B_Y+1_M1] = isnull(s.[B_Y+1_M1],0),
	[B_Y+1_M2] = isnull(s.[B_Y+1_M2],0),
	[B_Y+1_M3] = isnull(s.[B_Y+1_M3],0),
	[B_Y+1_M4] = isnull(s.[B_Y+1_M4],0),
	[B_Y+1_M5] = isnull(s.[B_Y+1_M5],0),
	[B_Y+1_M6] = isnull(s.[B_Y+1_M6],0),
	[B_Y+1_M7] = isnull(s.[B_Y+1_M7],0),
	[B_Y+1_M8] = isnull(s.[B_Y+1_M8],0),
	[B_Y+1_M9] = isnull(s.[B_Y+1_M9],0),
	[B_Y+1_M10] = isnull(s.[B_Y+1_M10],0),
	[B_Y+1_M11] = isnull(s.[B_Y+1_M11],0),
	[B_Y+1_M12] = isnull(s.[B_Y+1_M12],0),
	[PB_Y+1_M1] = isnull(s.[PB_Y+1_M1],0),
	[PB_Y+1_M2] = isnull(s.[PB_Y+1_M2],0),
	[PB_Y+1_M3] = isnull(s.[PB_Y+1_M3],0),
	[PB_Y+1_M4] = isnull(s.[PB_Y+1_M4],0),
	[PB_Y+1_M5] = isnull(s.[PB_Y+1_M5],0),
	[PB_Y+1_M6] = isnull(s.[PB_Y+1_M6],0),
	[PB_Y+1_M7] = isnull(s.[PB_Y+1_M7],0),
	[PB_Y+1_M8] = isnull(s.[PB_Y+1_M8],0),
	[PB_Y+1_M9] = isnull(s.[PB_Y+1_M9],0),
	[PB_Y+1_M10] = isnull(s.[PB_Y+1_M10],0),
	[PB_Y+1_M11] = isnull(s.[PB_Y+1_M11],0),
	[PB_Y+1_M12] = isnull(s.[PB_Y+1_M12],0)'
	select @listcolumn_trend = 
	'[T_Y0_M1] = isnull(s.[T_Y0_M1],0),
	[T_Y0_M2] = isnull(s.[T_Y0_M2],0),
	[T_Y0_M3] = isnull(s.[T_Y0_M3],0),
	[T_Y0_M4] = isnull(s.[T_Y0_M4],0),
	[T_Y0_M5] = isnull(s.[T_Y0_M5],0),
	[T_Y0_M6] = isnull(s.[T_Y0_M6],0),
	[T_Y0_M7] = isnull(s.[T_Y0_M7],0),
	[T_Y0_M8] = isnull(s.[T_Y0_M8],0),
	[T_Y0_M9] = isnull(s.[T_Y0_M9],0),
	[T_Y0_M10] = isnull(s.[T_Y0_M10],0),
	[T_Y0_M11] = isnull(s.[T_Y0_M11],0),
	[T_Y0_M12] = isnull(s.[T_Y0_M12],0)'
	SELECT @LISTCOLUMN_LDB0 = 
	'[Y-2 (u) M1] = isnull(h.[Y-2 M1],0),
	[Y-2 (u) M2] = isnull(h.[Y-2 M2],0),
	[Y-2 (u) M3] = isnull(h.[Y-2 M3],0),
	[Y-2 (u) M4] = isnull(h.[Y-2 M4],0),
	[Y-2 (u) M5] = isnull(h.[Y-2 M5],0),
	[Y-2 (u) M6] = isnull(h.[Y-2 M6],0),
	[Y-2 (u) M7] = isnull(h.[Y-2 M7],0),
	[Y-2 (u) M8] = isnull(h.[Y-2 M8],0),
	[Y-2 (u) M9] = isnull(h.[Y-2 M9],0),
	[Y-2 (u) M10] = isnull(h.[Y-2 M10],0),
	[Y-2 (u) M11] = isnull(h.[Y-2 M11],0),
	[Y-2 (u) M12] = isnull(h.[Y-2 M12],0),
	[Y-1 (u) M1] = isnull(h.[Y-1 M1],0),
	[Y-1 (u) M2] = isnull(h.[Y-1 M2],0),
	[Y-1 (u) M3] = isnull(h.[Y-1 M3],0),
	[Y-1 (u) M4] = isnull(h.[Y-1 M4],0),
	[Y-1 (u) M5] = isnull(h.[Y-1 M5],0),
	[Y-1 (u) M6] = isnull(h.[Y-1 M6],0),
	[Y-1 (u) M7] = isnull(h.[Y-1 M7],0),
	[Y-1 (u) M8] = isnull(h.[Y-1 M8],0),
	[Y-1 (u) M9] = isnull(h.[Y-1 M9],0),
	[Y-1 (u) M10] = isnull(h.[Y-1 M10],0),
	[Y-1 (u) M11] = isnull(h.[Y-1 M11],0),
	[Y-1 (u) M12] = isnull(h.[Y-1 M12],0)'
	SELECT @LISTCOLUMN_LDB02 = 
	'[Y-2 (u) M1] = isnull(s.[Y-2 (u) M1],0),
	[Y-2 (u) M2] = isnull(s.[Y-2 (u) M2],0),
	[Y-2 (u) M3] = isnull(s.[Y-2 (u) M3],0),
	[Y-2 (u) M4] = isnull(s.[Y-2 (u) M4],0),
	[Y-2 (u) M5] = isnull(s.[Y-2 (u) M5],0),
	[Y-2 (u) M6] = isnull(s.[Y-2 (u) M6],0),
	[Y-2 (u) M7] = isnull(s.[Y-2 (u) M7],0),
	[Y-2 (u) M8] = isnull(s.[Y-2 (u) M8],0),
	[Y-2 (u) M9] = isnull(s.[Y-2 (u) M9],0),
	[Y-2 (u) M10] = isnull(s.[Y-2 (u) M10],0),
	[Y-2 (u) M11] = isnull(s.[Y-2 (u) M11],0),
	[Y-2 (u) M12] = isnull(s.[Y-2 (u) M12],0),
	[Y-1 (u) M1] = isnull(s.[Y-1 (u) M1],0),
	[Y-1 (u) M2] = isnull(s.[Y-1 (u) M2],0),
	[Y-1 (u) M3] = isnull(s.[Y-1 (u) M3],0),
	[Y-1 (u) M4] = isnull(s.[Y-1 (u) M4],0),
	[Y-1 (u) M5] = isnull(s.[Y-1 (u) M5],0),
	[Y-1 (u) M6] = isnull(s.[Y-1 (u) M6],0),
	[Y-1 (u) M7] = isnull(s.[Y-1 (u) M7],0),
	[Y-1 (u) M8] = isnull(s.[Y-1 (u) M8],0),
	[Y-1 (u) M9] = isnull(s.[Y-1 (u) M9],0),
	[Y-1 (u) M10] = isnull(s.[Y-1 (u) M10],0),
	[Y-1 (u) M11] = isnull(s.[Y-1 (u) M11],0),
	[Y-1 (u) M12] = isnull(s.[Y-1 (u) M12],0)'
	SELECT @LISTCOLUMN_LDB1 = 
	'[Y0 (u) M1] = isnull(s.[Y0 M1],0),
	[Y0 (u) M2] = isnull(s.[Y0 M2],0),
	[Y0 (u) M3] = isnull(s.[Y0 M3],0),
	[Y0 (u) M4] = isnull(s.[Y0 M4],0),
	[Y0 (u) M5] = isnull(s.[Y0 M5],0),
	[Y0 (u) M6] = isnull(s.[Y0 M6],0),
	[Y0 (u) M7] = isnull(s.[Y0 M7],0),
	[Y0 (u) M8] = isnull(s.[Y0 M8],0),
	[Y0 (u) M9] = isnull(s.[Y0 M9],0),
	[Y0 (u) M10] = isnull(s.[Y0 M10],0),
	[Y0 (u) M11] = isnull(s.[Y0 M11],0),
	[Y0 (u) M12] = isnull(s.[Y0 M12],0),
	[Y+1 (u) M1] = isnull(s.[Y+1 M1],0),
	[Y+1 (u) M2] = isnull(s.[Y+1 M2],0),
	[Y+1 (u) M3] = isnull(s.[Y+1 M3],0),
	[Y+1 (u) M4] = isnull(s.[Y+1 M4],0),
	[Y+1 (u) M5] = isnull(s.[Y+1 M5],0),
	[Y+1 (u) M6] = isnull(s.[Y+1 M6],0),
	[Y+1 (u) M7] = isnull(s.[Y+1 M7],0),
	[Y+1 (u) M8] = isnull(s.[Y+1 M8],0),
	[Y+1 (u) M9] = isnull(s.[Y+1 M9],0),
	[Y+1 (u) M10] = isnull(s.[Y+1 M10],0),
	[Y+1 (u) M11] = isnull(s.[Y+1 M11],0),
	[Y+1 (u) M12] = isnull(s.[Y+1 M12],0)'
	SELECT @LISTCOLUMN_LDB2 = 
	'[Y0 (u) M1] = isnull(s.[Y0 (u) M1],0),
	[Y0 (u) M2] = isnull(s.[Y0 (u) M2],0),
	[Y0 (u) M3] = isnull(s.[Y0 (u) M3],0),
	[Y0 (u) M4] = isnull(s.[Y0 (u) M4],0),
	[Y0 (u) M5] = isnull(s.[Y0 (u) M5],0),
	[Y0 (u) M6] = isnull(s.[Y0 (u) M6],0),
	[Y0 (u) M7] = isnull(s.[Y0 (u) M7],0),
	[Y0 (u) M8] = isnull(s.[Y0 (u) M8],0),
	[Y0 (u) M9] = isnull(s.[Y0 (u) M9],0),
	[Y0 (u) M10] = isnull(s.[Y0 (u) M10],0),
	[Y0 (u) M11] = isnull(s.[Y0 (u) M11],0),
	[Y0 (u) M12] = isnull(s.[Y0 (u) M12],0),
	[Y+1 (u) M1] = isnull(s.[Y+1 (u) M1],0),
	[Y+1 (u) M2] = isnull(s.[Y+1 (u) M2],0),
	[Y+1 (u) M3] = isnull(s.[Y+1 (u) M3],0),
	[Y+1 (u) M4] = isnull(s.[Y+1 (u) M4],0),
	[Y+1 (u) M5] = isnull(s.[Y+1 (u) M5],0),
	[Y+1 (u) M6] = isnull(s.[Y+1 (u) M6],0),
	[Y+1 (u) M7] = isnull(s.[Y+1 (u) M7],0),
	[Y+1 (u) M8] = isnull(s.[Y+1 (u) M8],0),
	[Y+1 (u) M9] = isnull(s.[Y+1 (u) M9],0),
	[Y+1 (u) M10] = isnull(s.[Y+1 (u) M10],0),
	[Y+1 (u) M11] = isnull(s.[Y+1 (u) M11],0),
	[Y+1 (u) M12] = isnull(s.[Y+1 (u) M12],0)'
	
	BEGIN TRAN
	if @debug>0
	begin
		select 'Insert BFL master main'
	end
	if @n_continue = 1
	begin
		if @Division IN(select value from string_split(@list_Division,','))--('LLD','LDB','PPD')
		begin
			if @debug>0
			begin
				select 'Create table BFL'
			end
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@tablename) AND type in (N'U')
			)
			begin
				select @sql='Delete '+@Tablename+' where [FM_KEY]='''+@FM_KEY+''' '

				if @debug>0
				begin
					select @sql 'delete table BFL master'
				end
				execute(@sql)
			end
			else
			begin
				if @Division IN(select value from string_split('LLD,PPD',','))--'LLD'
				begin
					select @sql=
					'create table '+@Tablename+'
					(
						[FileName] [varchar](500) NOT NULL,
						[FM_KEY]	nvarchar(6) null,
						[Signature] [nvarchar](255) NULL,
						[Axe] [nvarchar](255) NULL,
						[Sub Axe] [nvarchar](255) NULL,
						[Brand] [nvarchar](255) NULL,
						[Sub Brand] [nvarchar](255) NULL,
						[Franchise] [nvarchar](255) NULL,
						[Sub Franchise] [nvarchar](255) NULL,
						[BFL Code] [nvarchar](50) NULL,
						[BFL Name] [nvarchar](500) NULL,
						[% Ratio]	[nvarchar](nvarchar(10) NULL,
						[EAN Code] [nvarchar](255) NULL,
						[SKU Code] [nvarchar](255) NULL,
						[SKU Name] [nvarchar](255) NULL,
						[Country Status] [nvarchar](255) NULL,
						[Hero] [nvarchar](255) NULL,
						[Product Status] [nvarchar](255) NULL,
						[LSI] [datetime] NOT NULL,
						[Y0 (u) M1] [float] NOT NULL,
						[Y0 (u) M2] [float] NOT NULL,
						[Y0 (u) M3] [float] NOT NULL,
						[Y0 (u) M4] [float] NOT NULL,
						[Y0 (u) M5] [float] NOT NULL,
						[Y0 (u) M6] [float] NOT NULL,
						[Y0 (u) M7] [float] NOT NULL,
						[Y0 (u) M8] [float] NOT NULL,
						[Y0 (u) M9] [float] NOT NULL,
						[Y0 (u) M10] [float] NOT NULL,
						[Y0 (u) M11] [float] NOT NULL,
						[Y0 (u) M12] [float] NOT NULL,
						[Y+1 (u) M1] [float] NOT NULL,
						[Y+1 (u) M2] [float] NOT NULL,
						[Y+1 (u) M3] [float] NOT NULL,
						[Y+1 (u) M4] [float] NOT NULL,
						[Y+1 (u) M5] [float] NOT NULL,
						[Y+1 (u) M6] [float] NOT NULL,
						[Y+1 (u) M7] [float] NOT NULL,
						[Y+1 (u) M8] [float] NOT NULL,
						[Y+1 (u) M9] [float] NOT NULL,
						[Y+1 (u) M10] [float] NOT NULL,
						[Y+1 (u) M11] [float] NOT NULL,
						[Y+1 (u) M12] [float] NOT NULL,'
				select @sql1='
						[B_Y0_M1] [float] NOT NULL,
						[B_Y0_M2] [float] NOT NULL,
						[B_Y0_M3] [float] NOT NULL,
						[B_Y0_M4] [float] NOT NULL,
						[B_Y0_M5] [float] NOT NULL,
						[B_Y0_M6] [float] NOT NULL,
						[B_Y0_M7] [float] NOT NULL,
						[B_Y0_M8] [float] NOT NULL,
						[B_Y0_M9] [float] NOT NULL,
						[B_Y0_M10] [float] NOT NULL,
						[B_Y0_M11] [float] NOT NULL,
						[B_Y0_M12] [float] NOT NULL,
						[B_Y+1_M1] [float] NOT NULL,
						[B_Y+1_M2] [float] NOT NULL,
						[B_Y+1_M3] [float] NOT NULL,
						[B_Y+1_M4] [float] NOT NULL,
						[B_Y+1_M5] [float] NOT NULL,
						[B_Y+1_M6] [float] NOT NULL,
						[B_Y+1_M7] [float] NOT NULL,
						[B_Y+1_M8] [float] NOT NULL,
						[B_Y+1_M9] [float] NOT NULL,
						[B_Y+1_M10] [float] NOT NULL,
						[B_Y+1_M11] [float] NOT NULL,
						[B_Y+1_M12] [float] NOT NULL,
						[PB_Y+1_M1] [float] NOT NULL,
						[PB_Y+1_M2] [float] NOT NULL,
						[PB_Y+1_M3] [float] NOT NULL,
						[PB_Y+1_M4] [float] NOT NULL,
						[PB_Y+1_M5] [float] NOT NULL,
						[PB_Y+1_M6] [float] NOT NULL,
						[PB_Y+1_M7] [float] NOT NULL,
						[PB_Y+1_M8] [float] NOT NULL,
						[PB_Y+1_M9] [float] NOT NULL,
						[PB_Y+1_M10] [float] NOT NULL,
						[PB_Y+1_M11] [float] NOT NULL,
						[PB_Y+1_M12] [float] NOT NULL,
						[T_Y0_M1] [float] NOT NULL,
						[T_Y0_M2] [float] NOT NULL,
						[T_Y0_M3] [float] NOT NULL,
						[T_Y0_M4] [float] NOT NULL,
						[T_Y0_M5] [float] NOT NULL,
						[T_Y0_M6] [float] NOT NULL,
						[T_Y0_M7] [float] NOT NULL,
						[T_Y0_M8] [float] NOT NULL,
						[T_Y0_M9] [float] NOT NULL,
						[T_Y0_M10] [float] NOT NULL,
						[T_Y0_M11] [float] NOT NULL,
						[T_Y0_M12] [float] NOT NULL,
						[Active] [int] NOT NULL,
						[AddDate] [datetime] NOT NULL,
						[EditDate] [datetime] NOT NULL,
						[AddWho] [nvarchar](128) NULL,
						[EditWho] [nvarchar](128) NULL
					)'
				end
				else if @Division='LDB'
				begin
					select @sql=
					'create table '+@Tablename+'
					(
						[FileName] [varchar](500) NOT NULL,
						[FM_KEY]	nvarchar(6) null,
						[Signature] [varchar](50) NULL,
						[Axe] [varchar](50) NULL,
						[SUB Axe] [varchar](50) NULL,
						[Brand] [varchar](1) NOT NULL,
						[Sub Brand] [varchar](1) NULL,
						[Franchise] [nvarchar](255) NULL,
						[Sub Franchise] [varchar](1) NULL,
						[BFL Code] [varchar](1) NULL,
						[BFL Name] [nvarchar](255) NULL,
						[% Ratio]	[nvarchar](nvarchar(10) NULL,
						[EAN code] [varchar](50) NULL,
						[SKU Code] [varchar](50) NULL,
						[SKU Name] [varchar](50) NULL,
						[Country Status] [varchar](1) NULL,
						[Hero] [nvarchar](255) NULL,
						[Product Type] [varchar](50) NULL,
						[Dchain Specs Status] [varchar](50) NULL,
						[Item Category Group] [varchar](50) NULL,
						[Product Status] [varchar](12) NOT NULL,
						[Active] [int] NULL,
						[Y-2 (u) M1] [float] NOT NULL,
						[Y-2 (u) M2] [float] NOT NULL,
						[Y-2 (u) M3] [float] NOT NULL,
						[Y-2 (u) M4] [float] NOT NULL,
						[Y-2 (u) M5] [float] NOT NULL,
						[Y-2 (u) M6] [float] NOT NULL,
						[Y-2 (u) M7] [float] NOT NULL,
						[Y-2 (u) M8] [float] NOT NULL,
						[Y-2 (u) M9] [float] NOT NULL,
						[Y-2 (u) M10] [float] NOT NULL,
						[Y-2 (u) M11] [float] NOT NULL,
						[Y-2 (u) M12] [float] NOT NULL,
						[Y-1 (u) M1] [float] NOT NULL,
						[Y-1 (u) M2] [float] NOT NULL,
						[Y-1 (u) M3] [float] NOT NULL,
						[Y-1 (u) M4] [float] NOT NULL,
						[Y-1 (u) M5] [float] NOT NULL,
						[Y-1 (u) M6] [float] NOT NULL,
						[Y-1 (u) M7] [float] NOT NULL,
						[Y-1 (u) M8] [float] NOT NULL,
						[Y-1 (u) M9] [float] NOT NULL,
						[Y-1 (u) M10] [float] NOT NULL,
						[Y-1 (u) M11] [float] NOT NULL,
						[Y-1 (u) M12] [float] NOT NULL,
						[Y0 (u) M1] [float] NOT NULL,
						[Y0 (u) M2] [float] NOT NULL,
						[Y0 (u) M3] [float] NOT NULL,
						[Y0 (u) M4] [float] NOT NULL,
						[Y0 (u) M5] [float] NOT NULL,
						[Y0 (u) M6] [float] NOT NULL,
						[Y0 (u) M7] [float] NOT NULL,
						[Y0 (u) M8] [float] NOT NULL,
						[Y0 (u) M9] [float] NOT NULL,
						[Y0 (u) M10] [float] NOT NULL,
						[Y0 (u) M11] [float] NOT NULL,
						[Y0 (u) M12] [float] NOT NULL,
						[Y+1 (u) M1] [float] NOT NULL,
						[Y+1 (u) M2] [float] NOT NULL,
						[Y+1 (u) M3] [float] NOT NULL,
						[Y+1 (u) M4] [float] NOT NULL,
						[Y+1 (u) M5] [float] NOT NULL,
						[Y+1 (u) M6] [float] NOT NULL,
						[Y+1 (u) M7] [float] NOT NULL,
						[Y+1 (u) M8] [float] NOT NULL,
						[Y+1 (u) M9] [float] NOT NULL,
						[Y+1 (u) M10] [float] NOT NULL,
						[Y+1 (u) M11] [float] NOT NULL,
						[Y+1 (u) M12] [float] NOT NULL,'
			select @sql1='
						[B_Y0_M1] [nvarchar](255) NOT NULL,
						[B_Y0_M2] [nvarchar](255) NOT NULL,
						[B_Y0_M3] [nvarchar](255) NOT NULL,
						[B_Y0_M4] [nvarchar](255) NOT NULL,
						[B_Y0_M5] [nvarchar](255) NOT NULL,
						[B_Y0_M6] [nvarchar](255) NOT NULL,
						[B_Y0_M7] [nvarchar](255) NOT NULL,
						[B_Y0_M8] [nvarchar](255) NOT NULL,
						[B_Y0_M9] [nvarchar](255) NOT NULL,
						[B_Y0_M10] [nvarchar](255) NOT NULL,
						[B_Y0_M11] [nvarchar](255) NOT NULL,
						[B_Y0_M12] [nvarchar](255) NOT NULL,
						[B_Y+1_M1] [nvarchar](255) NOT NULL,
						[B_Y+1_M2] [nvarchar](255) NOT NULL,
						[B_Y+1_M3] [nvarchar](255) NOT NULL,
						[B_Y+1_M4] [nvarchar](255) NOT NULL,
						[B_Y+1_M5] [nvarchar](255) NOT NULL,
						[B_Y+1_M6] [nvarchar](255) NOT NULL,
						[B_Y+1_M7] [nvarchar](255) NOT NULL,
						[B_Y+1_M8] [nvarchar](255) NOT NULL,
						[B_Y+1_M9] [nvarchar](255) NOT NULL,
						[B_Y+1_M10] [nvarchar](255) NOT NULL,
						[B_Y+1_M11] [nvarchar](255) NOT NULL,
						[B_Y+1_M12] [nvarchar](255) NOT NULL,
						[PB_Y+1_M1] [float] NOT NULL,
						[PB_Y+1_M2] [float] NOT NULL,
						[PB_Y+1_M3] [float] NOT NULL,
						[PB_Y+1_M4] [float] NOT NULL,
						[PB_Y+1_M5] [float] NOT NULL,
						[PB_Y+1_M6] [float] NOT NULL,
						[PB_Y+1_M7] [float] NOT NULL,
						[PB_Y+1_M8] [float] NOT NULL,
						[PB_Y+1_M9] [float] NOT NULL,
						[PB_Y+1_M10] [float] NOT NULL,
						[PB_Y+1_M11] [float] NOT NULL,
						[PB_Y+1_M12] [float] NOT NULL,
						[T_Y0_M1] [nvarchar](255) NOT NULL,
						[T_Y0_M2] [nvarchar](255) NOT NULL,
						[T_Y0_M3] [nvarchar](255) NOT NULL,
						[T_Y0_M4] [nvarchar](255) NOT NULL,
						[T_Y0_M5] [nvarchar](255) NOT NULL,
						[T_Y0_M6] [nvarchar](255) NOT NULL,
						[T_Y0_M7] [nvarchar](255) NOT NULL,
						[T_Y0_M8] [nvarchar](255) NOT NULL,
						[T_Y0_M9] [nvarchar](255) NOT NULL,
						[T_Y0_M10] [nvarchar](255) NOT NULL,
						[T_Y0_M11] [nvarchar](255) NOT NULL,
						[T_Y0_M12] [nvarchar](255) NOT NULL
					)'
				end
				
				if @debug>0
				begin
					select @sql+@sql1 'Create table'
				end
				execute(@sql+@sql1)
			end
		end		
		if @debug>0
		begin
			select 'Insert data table BFL'
		end
		if @Division IN(select value from string_split('LLD,PPD',','))--'LLD'
		begin
			select @sql =
			'INSERT INTO '+@Tablename+'
			select
				[FileName]='''+@Filename+''',
				[FM_KEY]='''+@FM_KEY+''',
				[Signature]=ISNULL(s.[Signature],''''),
				[Axe]=ISNULL(s.[Axe],''''),
				[Sub Axe]=ISNULL(s.[Sub Axe],''''),
				[Brand]=ISNULL(s.[Brand],''''),
				[Sub Brand]=ISNULL(s.[Sub Brand],''''),
				[Franchise]=ISNULL(s.[Franchise],''''),
				[Sub Franchise]=ISNULL(s.[Sub Franchise],''''),
				[BFL Code]=ISNULL(s.[BFL Code],''''),
				[BFL Name]=ISNULL(s.[BFL Name],''''),
				[% Ratio]=ISNULL(s.[% Ratio],''1''),
				[EAN Code]=ISNULL(s.[EAN],''''),
				[SKU Code]=ISNULL(s.[SKU Code],''''),
				[SKU Name]=ISNULL(s.[SKU Name],''''),
				[Country Status]=ISNULL(s.[Country Status],''''),
				[Hero]=ISNULL(s.[Hero],''''),					
				[Product Status]=ISNULL(s.[Product Status],''''),
				[LSI]=Getdate(),'
				+@listColumn_LLD1+','
				+@listcolumn_budget+','
				+@listcolumn_trend+',
				[Active] = 1,
				[AddDate]=Getdate(),
				[EditDate]=Getdate(),
				[AddWho]=SUSER_NAME(),
				[EditWho]=SUSER_NAME()
			from '+@DbName+'.FC_BFL_'+@Division+'_Tmp s  '
			
			if @debug>0
			begin
				select @sql 'Insert master data trừ CPD', @OnlyTrend '@OnlyTrend',len(@sql) 'len_sql'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
		else if @Division = 'LDB'
		begin
			declare @list_header_set0_pass nvarchar(max)=''
			select @list_header_set0_pass=ListColumn from fn_FC_GetColHeader_Historical(@FM_KEY,'si',0)
			--select list_header_set0_pass=ListColumn from fn_FC_GetColHeader_Historical('202411','si',0)

			declare @list_header_set0_fc nvarchar(max)=''
			select @list_header_set0_fc=ListColumn from fn_FC_GetColheader_Current(@FM_KEY,'Set_0','f')
			--select list_header_set0_fc=ListColumn from fn_FC_GetColheader_Current('202411','Set_0','f')

			declare @list_header_set0_B nvarchar(max)=''
			select @list_header_set0_B=ListColumn from fn_FC_GetColheader_Current_BT(@FM_KEY,'','B',1)
			--select list_header_set0_B=ListColumn from fn_FC_GetColheader_Current_BT('202410','','B',1)

			declare @list_header_set0_PB nvarchar(max)=''
			select @list_header_set0_PB=ListColumn from fn_FC_GetColheader_Current_BT(@FM_KEY,'','PB',1)
			--select list_header_set0_PB=ListColumn from fn_FC_GetColheader_Current_BT('202410','','PB',1)

			declare @list_header_set0_T nvarchar(max)=''
			select @list_header_set0_T=ListColumn from fn_FC_GetColheader_Current_BT(@FM_KEY,'','T',5)
			--select list_header_set0_T=ListColumn from fn_FC_GetColheader_Current_BT('202410','','T',5)

			select @sql = 
			'INSERT INTO '+@Tablename+'
			SELECT
				*	
			FROM
			(
				select DISTINCT
					[FileName]=''mm dOWNLOAD'',
					[FM_KEY]='''+@FM_KEY+''',
					[Signature]=isnull(m.[Signature],''''),
					[Axe]=isnull(m.[CAT/Axe],''''),
					[SUB Axe]=isnull(m.[SUB CAT/ Sub Axe],''''),
					[Brand]='''',
					[Sub Brand]='''',
					[Franchise]='''',
					[Sub Franchise]='''',
					[BFL Code]='''',
					[BFL Name]='''',
					[% Ratio]=''1'',
					[EAN code]=isnull(m.[EAN / UPC],''''),
					[SKU Code]=isnull(m.[Sap Code],''''),
					[SKU Name]=isnull(m.[SUB GROUP/ Brand],''''),
					[Country Status]='''',
					[Hero]='''',
					[Product Type]=isnull(m.[Material Type],''YFG''),
					[Dchain Specs Status]=isnull(m.[Dchain Specs Status],''0''),
					[Item Category Group]=isnull(m.[Item Category Group],''NORM''),
					[Product Status]=isnull(m.[Product Status],''YFG''),
					[Active]=cast(''1'' as int),'+
					@list_header_set0_pass+','+
					@list_header_set0_fc+','+
					@list_header_set0_B+','+
					@list_header_set0_PB+','+
					@list_header_set0_T+'
				from fnc_MM_ZMR54OLD_Stg('''+@Division+''') m
				left join
				(
					select 
						*
					from '+@DbName+'.FC_BFL_'+@Division+'_Tmp
				) s on s.[EAN]=m.[EAN / UPC]				
				where STT = 1 
				and m.[Item Category Group]=''LUMF''
				and m.[EAN / UPC] NOT IN(''3337875762908'')'
		SELECT @sql1='
				union all
				select
					[FileName]='''+@Filename+''',
					[FM_KEY]='''+@FM_KEY+''',
					[Signature] = isnull(s.[Signature],m.[Signature]),
					[Axe] = isnull(s.[Axe],m.[CAT/Axe]),
					[SUB Axe] = isnull(s.[Sub Axe],m.[SUB CAT/ Sub Axe]),
					[Brand] = '''',
					[Sub Brand] = '''',
					[Franchise] = Isnull(s.[Franchise],''''),
					[Sub Franchise] = '''',
					[BFL Code] = '''',
					[BFL Name] = isnull(s.[BFL Name],m.[SUB GROUP/ Brand]),
					[% Ratio]=ISNULL(s.[% Ratio],''1''),
					[EAN code] = isnull(s.[EAN],m.[EAN / UPC]),
					[SKU Code] = isnull(m.[Sap Code],s.[EAN]),
					[SKU Name] = isnull(s.[BFL Name],m.[SUB GROUP/ Brand]),
					[Country Status] = '''',
					[Hero] = isnull(s.[Hero],''''),
					[Product Type] = isnull(m.[Material Type],''YFG''),
					[Dchain Specs Status] = isnull(m.[Dchain Specs Status],''0''),
					[Item Category Group] = isnull(m.[Item Category Group],''NORM''),
					[Product Status] = isnull(m.[Product Status],''New Launch''),
					[Active] = cast(case s.[Product status] when ''Active'' then 1 else 0 end as int),'
					+@LISTCOLUMN_LDB0+','
					+@LISTCOLUMN_LDB1+','
					+@listcolumn_budget+','
					+@listcolumn_trend+'
				from 
				(
					select 
						*
					from '+@DbName+'.FC_BFL_'+@Division+'_Tmp 
				) s 
				left join
				(
					select 
						* 
					from fnc_MM_ZMR54OLD_Stg('''+@Division+''')
					where 
						[Item Category Group]<>''LUMF'' 
					and [STT] = 1
				) m on s.[EAN]=m.[EAN / UPC]
				left join
				(
					select 
						* 
					from '+@DbName+'.FC_RSP_Historical_'+@Division+'_Tmp
				) h on h.Barcode=s.[EAN]
				where isnull(s.[EAN],'''')<>''''
				union all
				select
					[FileName]='''+@Filename+''',
					[FM_KEY]='''+@FM_KEY+''',
					[Signature] = isnull(s.[Signature],m.[Signature]),
					[Axe] = isnull(s.[Axe],m.[CAT/Axe]),
					[SUB Axe] = isnull(s.[Sub Axe],m.[SUB CAT/ Sub Axe]),
					[Brand] = '''',
					[Sub Brand] = '''',
					[Franchise] = Isnull(s.[Franchise],''''),
					[Sub Franchise] = '''',
					[BFL Code] = '''',
					[BFL Name] = Isnull(s.[BFL Name],''DUMMY ''+s.[EAN]),
					[% Ratio]=''1'',
					[EAN code] = isnull(s.[EAN],m.[EAN / UPC]),
					[SKU Code] = isnull(m.[Sap Code],s.[EAN]),
					[SKU Name] = isnull(s.[BFL Name],m.[SUB GROUP/ Brand]),
					[Country Status] = '''',
					[Hero] = isnull(s.[Hero],''''),
					[Product Type] = isnull(m.[Material Type],''YFG''),
					[Dchain Specs Status] = isnull(m.[Dchain Specs Status],''0''),
					[Item Category Group] = isnull(m.[Item Category Group],''NORM''),
					[Product Status] = isnull(m.[Product Status],''New Launch''),
					[Active] = cast(case s.[Product status] when ''Active'' then 1 else 0 end as int),'
					+@LISTCOLUMN_LDB0+','
					+@LISTCOLUMN_LDB1+','
					+@listcolumn_budget+','
					+@listcolumn_trend+'
				from 
				(
					select 
						*
					from '+@DbName+'.FC_BFL_'+@Division+'_Tmp 
				) s 
				left join
				(
					select 
						* 
					from fnc_MM_ZMR54OLD_Stg('''+@Division+''')
					where [STT]=1
				) m on m.[EAN / UPC] = s.[EAN]
				left join
				(
					select 
						* 
					from '+@DbName+'.FC_RSP_Historical_'+@Division+'_Tmp
				) h on h.Barcode = m.[EAN / UPC]
				where isnull(m.[EAN / UPC],'''')=''''
			) AS X '
			--where m.STT = 1'

			if @debug>0
			begin
				select @sql 'check'
				select @sql+@sql1 'Insert master data trừ CPD', @OnlyTrend '@OnlyTrend',len(@sql) 'Len_sql',len(@sql1) 'len_sql1'
			end
			execute(@sql+@sql1)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
	end

	if @debug>0
	begin
		select 'Insert trend RSP'
	end
	if @n_continue=9
	begin
		declare @Tablename_Trend		nvarchar(200) = ''
		select @Tablename_Trend = 'FC_Trend_RSP_'+@Division

		if @Division IN(select value from string_split(@list_Division,','))--('LLD','LDB')
		begin
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@Tablename_Trend) AND type in (N'U')
			)
			begin
				select @sql = 'Delete '+@Tablename_Trend+' where [FM_KEY]='''+@FM_KEY+''' '

				if @debug>0
				begin
					select @sql 'Delete Trend rsp'
				end
				execute(@sql)
			end
			else
			begin
				select @sql=
				'CREATE TABLE '+@Tablename_Trend+'
				(
					[FileName]			[varchar](22) NOT NULL,
					[FM_KEY]			nvarchar(6) null,
					[Year]				[varchar](4) NULL,
					[Month]				[varchar](2) NOT NULL,
					[Type]				[varchar](2) NOT NULL,
					[EAN code]			[varchar](50) NOT NULL,
					[SKU Code]			[varchar](50) NOT NULL,
					[T_Y0_M1]			[float] NOT NULL,
					[T_Y0_M2]			[float] NOT NULL,
					[T_Y0_M3]			[float] NOT NULL,
					[T_Y0_M4]			[float] NOT NULL,
					[T_Y0_M5]			[float] NOT NULL,
					[T_Y0_M6]			[float] NOT NULL,
					[T_Y0_M7]			[float] NOT NULL,
					[T_Y0_M8]			[float] NOT NULL,
					[T_Y0_M9]			[float] NOT NULL,
					[T_Y0_M10]			[float] NOT NULL,
					[T_Y0_M11]			[float] NOT NULL,
					[T_Y0_M12]			[float] NOT NULL,
					[AddDate]			[datetime] NOT NULL,
					[EditDate]			[datetime] NOT NULL,
					[AddWho]			[nvarchar](128) NULL,
					[EditWho]			[nvarchar](128) NULL
				)'
				if @debug>0
				begin
					select @sql 'Create table trend'
				end
				execute(@sql)
			end
			
			select @sql=
			'INSERT INTO '+@Tablename_Trend+'
			select
				[FileName]='''+@Filename+''',
				[FM_KEY]='''+@FM_KEY+''',
				[Year]=left('''+@FM_KEY+''',4),
				[Month]=right('''+@FM_KEY+''',2),
				[Type]=case 
							when (select isnull(count(*),0) from '+@Tablename_Trend+' where [year]=left('''+@FM_KEY+''',4) and [Month]=right('''+@FM_KEY+''',2))>0 then 
									(select ''T''+format(MAX(distinct cast(RIGHT(isnull([Type],''T0''),1) as int)+1),''0'') from '+@Tablename_Trend+') 
							else ''T1'' 
						end,
				[EAN code] = isnull(s.[EAN],''''),
				[SKU Code] = isnull(m.[Sap Code],s.[EAN]),'
				+@listcolumn_trend+',
				[AddDate]=Getdate(),
				[EditDate]=Getdate(),
				[AddWho]=SUSER_NAME(),
				[EditWho]=SUSER_NAME()
			from 
			(
				select 
					*
				from '+@DbName+'.FC_BFL_'+@Division+'_Tmp 
			) s 
			left join
			(
				select 
					*
				from fnc_MM_ZMR54OLD_Stg('''+@Division+''')
				where STT = 1
			) m on m.[EAN / UPC] = s.[EAN] 
			where
			(
				[T_Y0_M1]+[T_Y0_M2]+[T_Y0_M3]+[T_Y0_M4]+[T_Y0_M5]+[T_Y0_M6]+[T_Y0_M7]
				+[T_Y0_M8]+[T_Y0_M9]+[T_Y0_M10]+[T_Y0_M12]+[T_Y0_M12]
			)<>0 '

			if @debug>0
			begin
				select @sql 'sql import trend'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin				
				select @n_continue = 3
				select @n_err=60002
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end		
	end
	

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH