/*
	Declare
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_add_FC_SI_Group 'CPD','202501','FC_SI_FOC_SINGLE',@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg

	/*tablename
		Optimus:
		1. FC_SO_OPTIMUS_Promo_Bom-->NO USE
		2. FC_SO_OPTIMUS_NORMAL-->NO USE
		7. FOR LDB,CPD,LLD-->JUST TYPING 'OPTIMUS'
		SI templace
		3. FC_SI_FOC_single
		4. FC_SI_Promo_Single
		5. FC_SI_Launch_Single
		6. FC_SI_Promo_Bom
		
	*/

	select * from FC_SO_OPTIMUS_Promo_Bom_PPD_202412
	select * from FC_SO_OPTIMUS_NORMAL_LLD_202409
	select * from FC_SI_FOC_Single_CPD_202408
	select * from FC_SI_Promo_Single_LDB
	select * from FC_SI_Launch_Single_CPD_202407
	select * from FC_SI_Promo_Bom_PPD_202410
	--truncate table FC_SI_Promo_Bom_LDB
	--only LDB-->da ra bom
	select * from FC_LLD_202409_SO_FORECAST
*/
Alter proc sp_add_FC_SI_Group
	@Division			nvarchar(3),
	@FM_KEY				Nvarchar(6),
	@TableName			nvarchar(100),
	@b_Success			Int				OUTPUT,     
	@c_errmsg			Nvarchar(250)	OUTPUT
	with encryption
AS
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE  
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''
			
	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)

	DECLARE @DbName NVARCHAR(20)

	-- Get the environment configuration
	SELECT @DbName = CASE 
		WHEN Value = 'Production' THEN 'master.dbo'
		ELSE 'master_UAT'
	END
	FROM EnvironmentConfig
	WHERE Name = 'Current_Environment'

	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_add_FC_SI_Group',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_Debug('FC')
	--select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table
	

	declare @Current_key date = cast(left(@FM_KEY,4)+'-'+substring(@FM_KEY,5,2)+'-01' as date)
	declare @currentYear nvarchar(4) = ''
	declare @rowcount1 int = 0
	declare @tmp table(id int identity(1,1), [Month_Desc] nvarchar(5),[Year] nvarchar(4))
	
	declare @Filename_ok nvarchar(500) = ''
	declare @Filename_bundle_ok nvarchar(500) = ''
	declare @tablename_ok nvarchar(200)=''
	declare @tablename_bundle_ok nvarchar(200)=''

	DECLARE @TABLENAME_BUNDLE NVARCHAR(200)=''

	if @TableName='OPTIMUS'
	begin
		select @tablename_ok='FC_SO_OPTIMUS_NORMAL', @tablename_bundle_ok='FC_SO_OPTIMUS_PROMO_BOM'

		select 
			@Filename_ok = @tablename_ok+'_'+@FM_KEY+'.xlsx',						
			@Filename_bundle_ok =@tablename_bundle_ok+'_'+@FM_KEY+'.xlsx'
	end
	else
	begin
		select @tablename_ok=replace(@TableName,'FC_','')
		select 
			@Filename_ok = @tablename_ok+'_'+@FM_KEY+'.xlsx',						
			@Filename_bundle_ok =''
	end

	if @debug>0
	begin
		select @Filename_ok '@Filename_ok',@Filename_bundle_ok '@Filename_bundle_ok'
	end
	
	select @currentYear = year(@Current_key)
	--//add tung file promo_bom, promo_single,New_launch, FOC...
	if @debug >0
	begin
		SELECT 'Run import file optimus'
	end
	--import Optimus template
	if @n_continue =1
	begin
		IF @TableName='OPTIMUS'
		BEGIN
			IF @Division IN('LDB')
			BEGIN
				--//import single + Bundle LDB
				if 
				(
					select 
						casT(x.Run_Optimus as int) 
					from 
					(
						select Run_Optimus=isnull(Config23,'0') 
						from SysConfigValue
						where ConfigHeaderID=48 and Config1='tag_add_FC_SI_Group_FC_SO_OPTIMUS'
					) as x
				)=1
				begin
					--//import 12 files template into data lake tmp
					if @DbName = 'master.dbo'
						exec link_37.master.dbo.sp_fc_convert_SO_LDB @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT
					else
						exec link_37.master_UAT.dbo.sp_fc_convert_SO_LDB @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @n_continue = 3, @c_errmsg = @c_errmsg1
					end	
				end
			END
			else
			begin
				--//import single <>LDB
				if @DbName = 'master.dbo'
					exec link_37.master.dbo.sp_add_FC_SO_OPTIMUS_NORMAL_Tmp @Division,@FM_KEY,@Filename_ok, @b_Success1 OUT, @c_errmsg1 OUT
				else
					exec link_37.master_UAT.dbo.sp_add_FC_SO_OPTIMUS_NORMAL_Tmp @Division,@FM_KEY,@Filename_ok, @b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @n_continue = 3, @c_errmsg = @c_errmsg1
				end

				IF @n_continue=1
				BEGIN
					--//import bundle <>LDB
					if @DbName = 'master.dbo'
						exec link_37.master.dbo.sp_add_FC_SO_OPTIMUS_PROMO_BOM_Tmp @Division,@FM_KEY,@Filename_bundle_ok, @b_Success1 OUT, @c_errmsg1 OUT	
					else
						exec link_37.master_UAT.dbo.sp_add_FC_SO_OPTIMUS_PROMO_BOM_Tmp @Division,@FM_KEY,@Filename_bundle_ok, @b_Success1 OUT, @c_errmsg1 OUT
					if @b_Success1=0
					begin
						select @n_continue = 3, @c_errmsg = @c_errmsg1
					end
				END
			end
		end
	end
	if @debug >0
	begin
		SELECT 'Run import file sell in',@Filename_ok '@Filename_ok'
	end
	--import template SI(Bundle+Single)
	if @n_continue=1
	begin
		if @TableName NOT IN('OPTIMUS')
		begin
			--select 'here 1.1'
			if @DbName = 'master.dbo'
				exec link_37.master.dbo.sp_add_FC_SI_Template_Tmp @division,@FM_KEY,@tablename,@Filename_ok, @b_Success1 OUT, @c_errmsg1 OUT
			else
				exec link_37.master_UAT.dbo.sp_add_FC_SI_Template_Tmp @division,@FM_KEY,@tablename,@Filename_ok, @b_Success1 OUT, @c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue = 3, @c_errmsg = @c_errmsg1
			end
		end
	end
	if @debug>0
	begin		
		select 'run sp_Create_FC_SI_GROUP'
	end
	if @n_continue =1
	begin		
		exec sp_Create_FC_SI_GROUP @Division,@FM_KEY,@tablename,@b_Success1 OUT,@c_errmsg1 OUT		
		
		if @b_Success1=0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +@c_errmsg1+'./ ('+@sp_name+')'
		end
	end
	if @debug>0
	begin
		select 'run sp_fc_convert_so_optimus_case1'
	end
	IF @n_continue = 1
	BEGIN
		if @TableName='OPTIMUS'
		begin
			--do template Bom optimus khac voi templace normal nen phai convert ve chuan normal so optimus va gui CT&P lam BI
			if @Division IN('CPD','LDB')
			begin
				--XU LI BOM OPTIMUS CPD...
				exec sp_fc_convert_so_optimus_case1 @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT
				if @b_Success1 = 0
				begin
					select @n_continue = 3, @c_errmsg = @c_errmsg1
				end
			end
		end
	END
	if @debug>0
	begin
		select 'run sp_Create_FC_LDB_SO_FORECAST'
	end
	if @n_continue=1
	begin		
		if @TableName='OPTIMUS'
		begin
			if @Division='LDB'
			begin
				--//add them GROSS Sell-OUT VALUE cho LDB
				exec sp_Create_FC_LDB_SO_FORECAST @Division,@FM_KEY,'OPTIMUS', @b_Success1 OUT,@c_errmsg1 OUT		
		
				if @b_Success1=0
				begin
					select @n_continue = 3
					--select @n_err=60003
					select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +@c_errmsg1+'./ ('+@sp_name+')'
				end
			end
		end
	end
	--select @n_continue
	if @n_continue = 3
	begin
		--rollback
		select @b_Success = 0
	end
	else
	begin
		--Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   --ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH