/*
	declare 
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_add_MasterFile_CPD 'CPD','202502','',@b_Success OUT, @c_errmsg OUT

	Select @b_Success b_Success, @c_errmsg c_errmsg

	select * from FC_BFL_Master_CPD where FM_KEY='202502'
	select * from fc_masterfile_CPD_customer_master
*/
ALTER proc sp_add_MasterFile_CPD
	@Division			nvarchar(3),
	@FM_KEY				nvarchar(6),
	@FilenameNeed		nvarchar(300),
	@b_Success			Int				OUTPUT,
	@c_errmsg			Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	declare 
		@debug				int=0,
		@tablename			nvarchar(100) = '', 
		@sql				nvarchar(max) = '', 
		@sql1				nvarchar(max) = '', 
		@n_continue			int = 1,
		@n_err				int,
		@sp_name			nvarchar(200) = 'sp_add_MasterFile_CPD',
		@Error				int = 0,
		@Error_Message		nvarchar(500) = '',
		@move				varchar(4000),
		@destinationpath	varchar(3000)
		--,@filename			nvarchar(500) = ''

	declare 
		@b_Success1			Int,
		@c_errmsg1			Nvarchar(250)

	--select @filename = 'BFL_MASTER_'+@FM_KEY+'.xlsx'
	select @debug=debug from fnc_debug('FC')
	select @debug=1

	if @debug>0
	begin
		select 'check division=CPD'
	end
	if @n_continue = 1
	begin
		if @Division <>'CPD'
		begin
			select @n_continue = 3, @c_errmsg = N'Không thể chạy function này với division #CPD, vui lòng liện hệ PIM teams.../'
		end	
	end
	if @debug>0
	begin
		select 'sp_add_MasterFile_CPD_Tmp'
	end
	if @n_continue = 1
	begin
		DECLARE @DbName NVARCHAR(20)

		-- Get the environment configuration
		SELECT @DbName = CASE 
			WHEN Value = 'Production' THEN 'master.dbo'
			ELSE 'master_UAT'
		END
		FROM EnvironmentConfig
		WHERE Name = 'Current_Environment'

		if @DbName = 'master.dbo'
			exec link_37.master.dbo.sp_add_MasterFile_CPD_Tmp @Division,@FM_KEY,@FilenameNeed,@b_Success1 OUT, @c_errmsg1 OUT
		ELSE
			exec link_37.master_UAT.dbo.sp_add_MasterFile_CPD_Tmp @Division,@FM_KEY,@FilenameNeed,@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1 =0
		begin
			select @n_continue = 3, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget'
	end
	if @n_continue = 1
	begin
		--//tien hanh import data
		exec sp_add_FC_Budget @Division,@FM_Key,'B',@b_Success1 OUT,@c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue=1, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget'
	end
	if @n_continue=1
	begin
		--//tien hanh import data
		exec sp_add_FC_Budget @Division,@FM_Key,'PB',@b_Success1 OUT,@c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue=1, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'sp_add_FC_Budget'
	end
	if @n_continue = 1
	begin
		--//tien hanh import data
		exec sp_add_FC_Budget @Division,@FM_Key,'T',@b_Success1 OUT,@c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue=1, @c_errmsg = @c_errmsg1
		end
	end

	BEGIN TRAN
	if @debug>0
	begin
		select 'Import Master data...',@n_continue '@n_continue'
	end
	if @n_continue = 1
	begin
		declare @tmp table (id int identity(1,1), WorksheetName nvarchar(50),Alias nvarchar(50))
		declare @total_rows int = 0, @current_row int = 1

		--insert into @tmp(WorksheetName,Alias) values('MM','MM_Master'),('Customer Master','Customer_Master'),('BUNDLE MASTER FILE','Bundle_Master')
		insert into @tmp(WorksheetName,Alias) 
		values('MM','MM_Master'),('Customer Master','Customer_Master')--,('BUNDLE MASTER FILE','Bundle_Master')
		select @total_rows = isnull(count(*),0) from @tmp

		WHILE (@current_row <=@total_rows)
		BEGIN
			declare 
				@Worksheet			nvarchar(50) = '', 
				@Alias nvarchar(50) = ''
			select 
				@Worksheet = isnull(WorksheetName,''),
				@Alias = ISNULL(Alias,'')
			from @tmp where id = @current_row

			
			if @debug>0
			begin
				select @Alias '@Alias'
			end

			if @Alias in('MM_Master','Customer_Master')
			begin
				select @tablename = case when @Alias = 'MM_Master' then 'FC_BFL_Master_'+@Division else 'FC_MasterFile_'+@Division+'_'+@Alias end
				
				if exists
				(
					SELECT * 
					FROM sys.objects 
					WHERE object_id = OBJECT_ID(@tablename) AND type in (N'U')
				)
				begin
					select @sql = 'Delete '+@tablename+' where [FM_KEY]='''+@FM_KEY+''' '
					if @debug>0
					begin
						select @sql 'Delete table'
					end
					execute(@sql)
				end
				else
				begin
					if @Alias = 'MM_Master'
					begin
						select @sql = 
						'CREATE TABLE '+@tablename+'
						(
							[ID]		numeric(18,0) identity(1,1) primary key not null,
							[Filename]	varchar(500) NOT NULL,
							[FM_KEY]	nvarchar(6) null,
							[EAN (VALUE)] nvarchar(255) NULL,
							[7digit] nvarchar(255) NULL,
							[Material] nvarchar(255) NULL,
							[Material Type] nvarchar(255) NULL,
							[Material Description (Eng)] nvarchar(255) NULL,
							[2nd Language Description] nvarchar(255) NULL,
							[EAN (TEXT)] nvarchar(255) NULL,
							[Dchain 02] nvarchar(255) NULL,
							[MMPP Status] nvarchar(255) NULL,
							[Standard Cost] nvarchar(255) NULL,
							[MAP] nvarchar(255) NULL,
							[YPB0 - Currency] nvarchar(255) NULL,
							[YPB0 - Value (Gia nhap tu nha may)] nvarchar(255) NULL,
							[Vendor Code] nvarchar(255) NULL,
							[MRP Group] nvarchar(255) NULL,
							[Signature] nvarchar(255) NULL,
							[Signature Description] nvarchar(255) NULL,
							[Brand Description] nvarchar(255) NULL,
							[SubBrand Description] nvarchar(255) NULL,
							[Reference Description] nvarchar(255) NULL,
							[Axe description] nvarchar(255) NULL,
							[SubAxe Description] nvarchar(255) NULL,
							[Class Description] nvarchar(255) NULL,
							[Function Description] nvarchar(255) NULL,
							[Item Category Group] nvarchar(255) NULL,
							[Material Gr 1] nvarchar(255) NULL,
							[x] nvarchar(255) NULL,
							[Category] nvarchar(255) NULL,
							[Sub-Category] nvarchar(255) NULL,
							[Sub Brand] nvarchar(255) NULL,
							[Sub-group] nvarchar(255) NULL,
							[Group] nvarchar(255) NULL,
							[Sub-group FC] nvarchar(255) NULL,
							[ABC Class] nvarchar(255) NULL,
							[Type] nvarchar(255) NULL,
							[SAP Code Status] nvarchar(255) NULL,
							[EAN Status] nvarchar(255) NULL,
							[Sub Groub Status] nvarchar(255) NULL,
							[Launch Month] nvarchar(255) NULL,
							[DC Month] nvarchar(255) NULL,
							[Final EAN] nvarchar(255) NULL,
							[Compass] nvarchar(255) NULL,
							[Bundle/Single] nvarchar(255) NULL,
							[RSP] nvarchar(255) NULL,
							[FLA] nvarchar(255) NULL,
							[Reason 1] nvarchar(255) NULL,
							[Reason 1 for change] nvarchar(255) NULL,
							[Reason 2] nvarchar(255) NULL,
							[Reason 2 for change] nvarchar(255) NULL,
							[Gross Weight] nvarchar(255) NULL,
							[Nett Weight] nvarchar(255) NULL,
							[Alt UOM Width] nvarchar(255) NULL,
							[Alt UOM Length] nvarchar(255) NULL,
							[Alt UOM Height] nvarchar(255) NULL,
							[Creation Date] nvarchar(255) NULL,'
					select @sql1 ='
							[YR03 M0] nvarchar(255) NULL,
							[YR03 Y+1] nvarchar(255) NULL,
							[LY-2_ RSP_Jan] nvarchar(255) NULL,
							[LY-2_ RSP_Feb] nvarchar(255) NULL,
							[LY-2_ RSP_Mar] nvarchar(255) NULL,
							[LY-2_ RSP_Apr] nvarchar(255) NULL,
							[LY-2_ RSP_May] nvarchar(255) NULL,
							[LY-2_ RSP_Jun] nvarchar(255) NULL,
							[LY-2_ RSP_Jul] nvarchar(255) NULL,
							[LY-2_ RSP_Aug] nvarchar(255) NULL,
							[LY-2_ RSP_Sep] nvarchar(255) NULL,
							[LY-2_ RSP_Oct] nvarchar(255) NULL,
							[LY-2_ RSP_Nov] nvarchar(255) NULL,
							[LY-2_ RSP_Dec] nvarchar(255) NULL,
							[LY-1_ RSP_Jan] nvarchar(255) NULL,
							[LY-1_ RSP_Feb] nvarchar(255) NULL,
							[LY-1_ RSP_Mar] nvarchar(255) NULL,
							[LY-1_ RSP_Apr] nvarchar(255) NULL,
							[LY-1_ RSP_May] nvarchar(255) NULL,
							[LY-1_ RSP_Jun] nvarchar(255) NULL,
							[LY-1_ RSP_Jul] nvarchar(255) NULL,
							[LY-1_ RSP_Aug] nvarchar(255) NULL,
							[LY-1_ RSP_Sep] nvarchar(255) NULL,
							[LY-1_ RSP_Oct] nvarchar(255) NULL,
							[LY-1_ RSP_Nov] nvarchar(255) NULL,
							[LY-1_ RSP_Dec] nvarchar(255) NULL,
							[CY_ RSP_Jan] nvarchar(255) NULL,
							[CY_ RSP_Feb] nvarchar(255) NULL,
							[CY_ RSP_Mar] nvarchar(255) NULL,
							[CY_ RSP_Apr] nvarchar(255) NULL,
							[CY_ RSP_May] nvarchar(255) NULL,
							[CY_ RSP_Jun] nvarchar(255) NULL,
							[CY_ RSP_Jul] nvarchar(255) NULL,
							[CY_ RSP_Aug] nvarchar(255) NULL,
							[CY_ RSP_Sep] nvarchar(255) NULL,
							[CY_ RSP_Oct] nvarchar(255) NULL,
							[CY_ RSP_Nov] nvarchar(255) NULL,
							[CY_ RSP_Dec] nvarchar(255) NULL,
							[NY__ RSP_Jan] nvarchar(255) NULL,
							[NY__ RSP_Feb] nvarchar(255) NULL,
							[NY__ RSP_Mar] nvarchar(255) NULL,
							[NY__ RSP_Apr] nvarchar(255) NULL,
							[NY__ RSP_May] nvarchar(255) NULL,
							[NY__ RSP_Jun] nvarchar(255) NULL,
							[NY__ RSP_Jul] nvarchar(255) NULL,
							[NY__ RSP_Aug] nvarchar(255) NULL,
							[NY__ RSP_Sep] nvarchar(255) NULL,
							[NY__ RSP_Oct] nvarchar(255) NULL,
							[NY__ RSP_Nov] nvarchar(255) NULL,
							[NY__ RSP_Dec] nvarchar(255) NULL,
							[Ref. Code]		nvarchar(20) NULL,
							[% Ratio]		nvarchar(10) NULL,
							[Active]			int default 1
						) '
					end
					else if @Alias = 'Customer_Master'
					begin
						select @sql =
						'CREATE TABLE '+@tablename+'
						(
							ID					numeric(18,0) identity(1,1) primary key not null,
							[Filename]			varchar(500) NOT NULL,
							[FM_KEY]			nvarchar(6) null,
							[Distribution Channel] nvarchar(2) NULL,
							[Node 5]			Nvarchar(10) NULL,
							[Name 5]			nvarchar(255) NULL,
							[Node 2]			nvarchar(10) NULL,
							[Name 2]			nvarchar(255) NULL,
							[Node 3]			nvarchar(10) NULL,
							[Name 3]			nvarchar(255) NULL,
							[Node 4]			nvarchar(10) NULL,
							[Name 4]			nvarchar(255) NULL,
							[Channel]			nvarchar(20) NULL,
							[B2B/D2C]			nvarchar(20) NULL,
							[Sub Channel]		nvarchar(20) NULL,
							[Customer Note 3]	nvarchar(255) NULL,
							[Customer Name]		nvarchar(255) NULL
						)'
					end
				

					if @debug>0
					begin
						if @Alias='MM_Master'
						begin
							select @sql+@sql1 'Check table exists', len_ = len(@sql+@sql1)
						end
						else
						begin
							select @sql 'Check table exists', len_ = len(@sql)
						end
					end	
					if @Alias='MM_Master'
					begin
						execute(@sql+@sql1)
					end
					else
					begin
						execute(@sql)
					end
				end

				select @sql = '
				Insert into '+@tablename+'
				(
					'+
					case 
						when @Alias = 'MM_Master' then 
							'[Filename],
							[FM_KEY],
							[EAN (VALUE)],
							[7digit],
							[Material],
							[Material Type],
							[Material Description (Eng)],
							[2nd Language Description],
							[EAN (TEXT)],
							[Dchain 02],
							[MMPP Status],
							[Standard Cost],
							[MAP],
							[YPB0 - Currency],
							[YPB0 - Value (Gia nhap tu nha may)],
							[Vendor Code],
							[MRP Group],
							[Signature],
							[Signature Description],
							[Brand Description],
							[SubBrand Description],
							[Reference Description],
							[Axe description],
							[SubAxe Description],
							[Class Description],
							[Function Description],
							[Item Category Group],
							[Material Gr 1],
							[x],
							[Category],
							[Sub-Category],
							[Sub Brand],
							[Sub-group],
							[Group],
							[Sub-group FC],
							[ABC Class],
							[Type],
							[SAP Code Status],
							[EAN Status],
							[Sub Groub Status],
							[Launch Month],
							[DC Month],
							[Final EAN],
							[Compass],
							[Bundle/Single],
							[RSP],
							[FLA],
							[Reason 1],
							[Reason 1 for change],
							[Reason 2],
							[Reason 2 for change],
							[Gross Weight],
							[Nett Weight],
							[Alt UOM Width],
							[Alt UOM Length],
							[Alt UOM Height],
							[Creation Date],
							[YR03 M0],
							[YR03 Y+1],
							[LY-2_ RSP_Jan],
							[LY-2_ RSP_Feb],
							[LY-2_ RSP_Mar],
							[LY-2_ RSP_Apr],
							[LY-2_ RSP_May],
							[LY-2_ RSP_Jun],
							[LY-2_ RSP_Jul],
							[LY-2_ RSP_Aug],
							[LY-2_ RSP_Sep],
							[LY-2_ RSP_Oct],
							[LY-2_ RSP_Nov],
							[LY-2_ RSP_Dec],
							[LY-1_ RSP_Jan],
							[LY-1_ RSP_Feb],
							[LY-1_ RSP_Mar],
							[LY-1_ RSP_Apr],
							[LY-1_ RSP_May],
							[LY-1_ RSP_Jun],
							[LY-1_ RSP_Jul],
							[LY-1_ RSP_Aug],
							[LY-1_ RSP_Sep],
							[LY-1_ RSP_Oct],
							[LY-1_ RSP_Nov],
							[LY-1_ RSP_Dec],
							[CY_ RSP_Jan],
							[CY_ RSP_Feb],
							[CY_ RSP_Mar],
							[CY_ RSP_Apr],
							[CY_ RSP_May],
							[CY_ RSP_Jun],
							[CY_ RSP_Jul],
							[CY_ RSP_Aug],
							[CY_ RSP_Sep],
							[CY_ RSP_Oct],
							[CY_ RSP_Nov],
							[CY_ RSP_Dec],
							[NY__ RSP_Jan],
							[NY__ RSP_Feb],
							[NY__ RSP_Mar],
							[NY__ RSP_Apr],
							[NY__ RSP_May],
							[NY__ RSP_Jun],
							[NY__ RSP_Jul],
							[NY__ RSP_Aug],
							[NY__ RSP_Sep],
							[NY__ RSP_Oct],
							[NY__ RSP_Nov],
							[NY__ RSP_Dec],
							[Ref. Code]'
						--when @Alias = 'Bundle_Master' then
						--	'[Filename],
						--	[EAN BOM],
						--	[EAN Component],
						--	[Division],
						--	[BOM material],
						--	[Material Desc(Header)],
						--	[Material type],
						--	[DCHain Status(Header)],
						--	[Item No.],
						--	[Components],
						--	[Material Desc(Components)],
						--	[Quantity],
						--	[DCHain Status(Components)],
						--	[MM/PP Status(Components)],
						--	[Valid From],
						--	[Component Type],
						--	[Component RSP],
						--	[Map],
						--	[Ref.],
						--	[SINGLE/BUNDLE]'
						when @Alias = 'Customer_Master' then
							'[Filename],
							[FM_KEY],
							[Distribution Channel],
							[Node 5],
							[Name 5],
							[Node 2],
							[Name 2],
							[Node 3],
							[Name 3],
							[Node 4],
							[Name 4],
							[Channel],
							[B2B/D2C],
							[Sub Channel],
							[Customer Note 3],
							[Customer Name]'
						end
					+'
				)
				select
					'+case 
							when @Alias = 'MM_Master' then 
								'Filename,[FM_KEY]='''+@FM_KEY+''',[F1],[F2],[F3],[F4],[F5],[F6],[F7],[F8],[F9],[F10],[F11],[F12],[F13],[F14],[F15],[F16],[F17],
								[F18],[F19],[F20],[F21],[F22],[F23],[F24],[F25],[F26],[F27],[F28],[F29],[F30],[F31],[F32],[F33],[F34],
								[F35],[F36],[F37],[F38],[F39],[F40],[F41],[F42],[F43],[F44],[F45],[F46],[F47],[F48],[F49],[F50],[F51],
								[F52],[F53],[F54],[F55],[F56],[F57],[F58],[F59],[F60],[F61],[F62],[F63],[F64],[F65],[F66],[F67],[F68],
								[F69],[F70],[F71],[F72],[F73],[F74],[F75],[F76],[F77],[F78],[F79],[F80],[F81],[F82],[F83],[F84],[F85],
								[F86],[F87],[F88],[F89],[F90],[F91],[F92],[F93],[F94],[F95],[F96],[F97],[F98],[F99],[F100],[F101],[F102],
								[F103],[F104],[F105],[F106]'
							when @Alias = 'Customer_Master' then 
								'*'
							--when @Alias = 'Bundle_Master' then
							--	'*'
						end+'
				from '+@DbName+'.'+@tablename+'_Tmp '
				+case 
					--when @Alias = 'Bundle_Master' then 'where isnull(F1,'''')<>''EAN BOM'' and isnull(F1,'''')<>'''''
					when @Alias = 'MM_Master' then 'where isnull(F1,'''')<>''EAN (VALUE)'' and isnull(F1,'''')<>'''''
					else ''
				end
				if @debug>0
				begin
					select @sql As '@sql 1.1.2'
				end
				execute(@sql)
			END
			--else IF @Alias = 'Bundle_Master'
			--BEGIN
			--	select @tablename = 'FC_MasterFile_CPD'+'_'+@Alias
			
			--	select @sql = 'truncate table '+@tablename
			--	if @debug>0
			--	begin
			--		select @sql '@sql 1.1.3.1'
			--	end
			--	execute(@sql)

			--	select @sql = 
			--	'select
			--		*
			--		INTO '+@tablename+'
			--	from link_37.Master.dbo.'+@tablename+'_Tmp
			--	where isnull(F1,'''')<>''EAN BOM'' and isnull(F1,'''')<>'''' '
				
			--	if @debug>0
			--	begin
			--		select @sql = '@sql 1.1.3.2'
			--	end
			--	--execute(@sql)
			--END

			select @n_err = @@ERROR
			if @n_err<>0
			begin
				SELECT @Error = @Error+1
				--select @n_continue = 3
				select	@Error_Message = @Error_Message + ERROR_MESSAGE()--+'./ ('+@sp_name+')'
			end
			SELECT @current_row = @current_row + 1
		END
	end
	if @Error>0
	begin
		select 
			@n_continue = 3,
			@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +@Error_Message+'./ ('+@sp_name+')'
	end

	if @n_continue = 3
	begin
		rollback
		--select @b_Success = 0
		--set @destinationpath='\\10.240.65.43\loreal\10_PUBLIC\03_SAPData\SC_IMPORT\Error\FORECAST\CPD\MasterFile\'
		----select @destinationpath '@destinationpath'
		--set @move ='move \\10.240.65.43\loreal\10_PUBLIC\03_SAPData\SC_IMPORT\Pending\FORECAST\CPD\MasterFile\"'+@FileName+'" '+ @destinationpath
		--exec master.dbo.xp_cmdshell @move
		
	end
	else
	begin
		--set @destinationpath='\\10.240.65.43\loreal\10_PUBLIC\03_SAPData\SC_IMPORT\Archive\FORECAST\CPD\MasterFile\'
		----select @destinationpath '@destinationpath'
		--set @move ='move \\10.240.65.43\loreal\10_PUBLIC\03_SAPData\SC_IMPORT\Pending\FORECAST\CPD\MasterFile\"'+@FileName+'" '+ @destinationpath
		--exec master.dbo.xp_cmdshell @move
		
		Commit
		Select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH