/*
	declare
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_add_Users 'Oanh.Tran','12345','12345','Trần Xuân Oánh','LDB',1,@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg
*/

Alter Proc sp_add_Users
	@userName				nvarchar(50),
	@Password				varchar(50),
	@Repassword				varchar(50),
	@TenNV					nvarchar(150),
	@Division				nvarchar(3),
	@Type					INT,--//0: add new, 1: edit
	@b_Success				Int				OUTPUT,     
	@c_errmsg				Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_add_Users',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()
	declare @convert_password	varchar(100)=''
	--Select convert_password=convert(varchar(50),HashBytes('MD5', @Password),2)
	Select @convert_password=convert(varchar(50),HashBytes('MD5', @Password),2)
	--SELECT @Password '@Password',@convert_password '@convert_password'

	if @n_continue = 1
	begin
		
		if @Type=0
		begin			
			if exists(select * from DM_NhanVien where MaNV=@userName)
			begin
				select @n_continue=3
				select @n_err=60001
				select @c_errmsg=N'Nhân viên đã tồn tại'+'./ ('+@sp_name+')'
			end
		end
	end
	if @n_continue=1
	begin
		if @Password<>@Repassword
		begin
			select @n_continue=3
			select @n_err=60002
			select @c_errmsg=N'Mật khẩu xác nhận không trùng khớp'+'./ ('+@sp_name+')'
		end
	end
	if @n_continue = 1
	begin
		if @Type=0
		begin
			insert into DM_NhanVien(MaNV,MatMa,[Password],TenNV,NgaySinh,MaCV,MaPB,CCode,Division)
			select
				MaNV=@userName,
				MatMa='JAKFB0i7XRE=',
				[Password]=@convert_password,
				TenNV='N'+@TenNV,
				NgaySinh='1900-01-01',
				MaCV='3',
				MaPB='1',
				CCode='06',
				Division=@Division
		end
		else
		begin
			UPDATE DM_NhanVien
			SET [Password]=@convert_password
			WHERE MaNV=@userName
		end

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end	
	
	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH