/*
	declare 
		@b_Success				Int	,
		@c_errmsg				Nvarchar(250)

	exec sp_FC_checkLogin 'PPD','202412','admin1','Pd09241109@1',@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg	

	select status_login = isnull(Check_Status,'') from fnc_CheckLogin('laetitia.fraisse-mirc','Pd09241109@1')
*/

Alter proc sp_FC_checkLogin
	@Division			nvarchar(3),
	@FM_KEY				nvarchar(6),
	@userID				Nvarchar(50),
	@password			varchar(20),
	@b_Success			Int				OUTPUT,     
	@c_errmsg			Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@status_login			nvarchar(2) = ''

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)

	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_FC_checkLogin',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @table_FC_FM_Original nvarchar(200)=''
	select @table_FC_FM_Original='FC_FM_Original_'+@Division+@Monthfc

	BEGIN TRAN
	if @n_continue=9
	begin
		if @userID<>'admin1'
		begin
			select @n_continue = 3
			select @n_err=60011
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) 
								+char(10)+N'Everyone, please pause the tool for 2 days'
								+char(10)+' (09:00 AM 02-01-2025-->03:00 PM 03-01-2025), '
								+char(10)+'Phuong is maintaining the system!'
								+char(10)+' thank All'
		end
	end
	if @debug>0
	begin
		select 'check user validate DM_Nhanvien'
	end
	if @n_continue = 1
	begin
		if not exists(select 1 from DM_NhanVien (NOLOCK) where MaNV = @userID)
		begin
			select @n_continue = 3
			select @n_err=60001
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +':User name: ['+@userID+'] invalid./ ('+@sp_name+')'
		end
	end
	if @debug>0
	begin
		select 'check user validate password'
	end
	if @n_continue = 1
	begin
		select @status_login = isnull(Check_Status,'') from fnc_CheckLogin(@userID,@password)
		if @status_login is null
		begin
			select @status_login = ''
		end
		if len(@status_login) = 0
		begin
			select @n_continue = 3
			select @c_errmsg = 'User: ['+@userID+'] '+CHAR(10)+'-->password is wrong, pls check.../'
		end
	end
	
	if @debug>0
	begin
		select 'Update DM_Nhanvien-->Division'
	end
	if @n_continue = 1
	begin
		--run update division active vao DM_NHanvien
		update DM_NhanVien 
		set 
			Division = @Division 
		where MaNV = @userID

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end
	if @debug>0
	begin
		select 'check permission with division'
	end
	if @n_continue = 1
	begin
		if not exists
		(
			select 
				* 
			from V_FC_CONFIG_USER_ALLOW 
			where 
				active = 1 
			and userid = @userID 
			and Division = @Division
		)
		begin
			select @n_continue = 3
			select @c_errmsg = 'user ['+@userID+'] not permission with division ['+@Division+'].../'
		end
	end

	if @debug>0
	begin
		select 'Update DM_Nhanvien user, FM KEY'
	end
	if @n_continue=1
	begin
		if exists(select 1 from FC_ComputerName (NOLOCK) where ComputerName=HOST_NAME())
		begin
			update FC_ComputerName
			set 
				UserID=@USERS,
				FM_KEY=@FM_KEY
			where ComputerName=HOST_NAME()
		end
		else
		begin
			insert into FC_ComputerName
			(
				ComputerName,
				FM_KEY,
				UserID
			)
			select
				HOST_NAME(),
				@FM_KEY,
				@userID
		end
			
		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end

	end
	if @debug>0
	begin
		select 'sp_fc_add_fnc_SubGroupMasterFull_New'
	end
	if @n_continue=9
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
		)
		begin
			exec sp_fc_add_fnc_SubGroupMasterFull_New @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT
		
			if @b_Success1=0
			begin
				select @n_continue=1, @c_errmsg = @c_errmsg1
			end
		end
	end

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		--if exists
		--(
		--	SELECT * 
		--	FROM sys.objects 
		--	WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
		--)
		--begin
		--	exec sp_fc_add_fnc_SubGroupMasterFull_New @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT
		
		--	if @b_Success1=0
		--	begin
		--		select @n_continue=1, @c_errmsg = @c_errmsg1
		--	end
		--end
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH