USE [SC2]
GO
/****** Object:  StoredProcedure [dbo].[sp_FC_FM_Original_CreateEmptyIfNotExist]    Script Date: 4/24/2025 9:21:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Declare
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_FC_FM_Original_CreateEmptyIfNotExist 'LLD','202506' ,@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg

	select * from FC_FM_Original_LLD_202506
*/

CREATE OR ALTER   proc [dbo].[sp_FC_FM_Original_CreateEmptyIfNotExist]
	@Division		nvarchar(3),
	@FM_Key			Nvarchar(6),
	@b_Success		Int = 1		OUT,
	@c_errmsg		Nvarchar(250) = ''	OUT
as


DECLARE @sql nvarchar(max) = ''

declare @table_name nvarchar(100) = ''
select @table_name = 'FC_FM_Original_'+@Division+'_'+@FM_Key

if not exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_name) AND type in (N'U')
		)
begin
	SELECT @sql = '
	CREATE TABLE '+@table_name+'(
		[id] [bigint] NULL,
		[FM_KEY] [varchar](6) NOT NULL,
		[Product type] [nvarchar](10) NULL,
		[Signature] [nvarchar](100) NULL,
		[CAT/Axe] [nvarchar](300) NULL,
		[SUB CAT/ Sub Axe] [nvarchar](300) NULL,
		[GROUP/ Class] [nvarchar](300) NULL,
		[Ref. Code] [nvarchar](30) NULL,
		[SUB GROUP/ Brand] [nvarchar](500) NULL,
		[HERO] [nvarchar](60) NULL,
		[Channel] [nvarchar](4000) NOT NULL,
		[Product status] [nvarchar](50) NULL,
		[Time series] [nvarchar](4000) NOT NULL,
		[SIT] [int] NOT NULL,
		[SIT Day] [int] NOT NULL,
		[SOH] [int] NOT NULL,
		[MTD SI] [int] NOT NULL,
		[Total GIT] [int] NOT NULL,
		[GIT M0] [int] NOT NULL,
		[GIT M1] [int] NOT NULL,
		[GIT M2] [int] NOT NULL,
		[GIT M3] [int] NOT NULL,
		[Risk (u) M0] [int] NOT NULL,
		[Risk (u) M1] [int] NOT NULL,
		[Risk (u) M2] [int] NOT NULL,
		[Risk (u) M3] [int] NOT NULL,
		[Total risk (u)] [int] NOT NULL,
		[Risk (val) M0] [numeric](18, 0) NULL,
		[Risk (val) M1] [numeric](18, 0) NULL,
		[Risk (val) M2] [numeric](18, 0) NULL,
		[Risk (val) M3] [numeric](18, 0) NULL,
		[Total risk (val)] [numeric](18, 0) NULL,
		[AVE P3M Y-1] [int] NOT NULL,
		[AVE F3M Y-1] [int] NOT NULL,
		[AVE P3M Y0] [int] NOT NULL,
		[AVE F3M Y0] [int] NOT NULL,
		[%F3M Y0/ P3M Y0] [numeric](18, 2) NULL,
		[%F3M Y-1/ P3M Y-1] [numeric](18, 2) NULL,
		[SLOB] [int] NOT NULL,
		[Y-2 (u) M1] [int] NOT NULL,
		[Y-2 (u) M2] [int] NOT NULL,
		[Y-2 (u) M3] [int] NOT NULL,
		[Y-2 (u) M4] [int] NOT NULL,
		[Y-2 (u) M5] [int] NOT NULL,
		[Y-2 (u) M6] [int] NOT NULL,
		[Y-2 (u) M7] [int] NOT NULL,
		[Y-2 (u) M8] [int] NOT NULL,
		[Y-2 (u) M9] [int] NOT NULL,
		[Y-2 (u) M10] [int] NOT NULL,
		[Y-2 (u) M11] [int] NOT NULL,
		[Y-2 (u) M12] [int] NOT NULL,
		[Y-1 (u) M1] [int] NOT NULL,
		[Y-1 (u) M2] [int] NOT NULL,
		[Y-1 (u) M3] [int] NOT NULL,
		[Y-1 (u) M4] [int] NOT NULL,
		[Y-1 (u) M5] [int] NOT NULL,
		[Y-1 (u) M6] [int] NOT NULL,
		[Y-1 (u) M7] [int] NOT NULL,
		[Y-1 (u) M8] [int] NOT NULL,
		[Y-1 (u) M9] [int] NOT NULL,
		[Y-1 (u) M10] [int] NOT NULL,
		[Y-1 (u) M11] [int] NOT NULL,
		[Y-1 (u) M12] [int] NOT NULL,
		[Y0 (u) M1] [int] NOT NULL,
		[Y0 (u) M2] [int] NOT NULL,
		[Y0 (u) M3] [int] NOT NULL,
		[Y0 (u) M4] [int] NULL,
		[Y0 (u) M5] [int] NULL,
		[Y0 (u) M6] [int] NULL,
		[Y0 (u) M7] [int] NULL,
		[Y0 (u) M8] [int] NULL,
		[Y0 (u) M9] [int] NULL,
		[Y0 (u) M10] [int] NULL,
		[Y0 (u) M11] [int] NULL,
		[Y0 (u) M12] [int] NULL,
		[Y+1 (u) M1] [int] NULL,
		[Y+1 (u) M2] [int] NULL,
		[Y+1 (u) M3] [int] NULL,
		[Y+1 (u) M4] [int] NULL,
		[Y+1 (u) M5] [int] NULL,
		[Y+1 (u) M6] [int] NULL,
		[Y+1 (u) M7] [int] NULL,
		[Y+1 (u) M8] [int] NULL,
		[Y+1 (u) M9] [int] NULL,
		[Y+1 (u) M10] [int] NULL,
		[Y+1 (u) M11] [int] NULL,
		[Y+1 (u) M12] [int] NULL,
		[(m-1)_Y0 (u) M1] [int] NOT NULL,
		[(m-1)_Y0 (u) M2] [int] NOT NULL,
		[(m-1)_Y0 (u) M3] [int] NOT NULL,
		[(m-1)_Y0 (u) M4] [int] NOT NULL,
		[(m-1)_Y0 (u) M5] [int] NOT NULL,
		[(m-1)_Y0 (u) M6] [int] NOT NULL,
		[(m-1)_Y0 (u) M7] [int] NOT NULL,
		[(m-1)_Y0 (u) M8] [int] NOT NULL,
		[(m-1)_Y0 (u) M9] [int] NOT NULL,
		[(m-1)_Y0 (u) M10] [int] NOT NULL,
		[(m-1)_Y0 (u) M11] [int] NOT NULL,
		[(m-1)_Y0 (u) M12] [int] NOT NULL,
		[(m-1)_Y+1 (u) M1] [int] NOT NULL,
		[(m-1)_Y+1 (u) M2] [int] NOT NULL,
		[(m-1)_Y+1 (u) M3] [int] NOT NULL,
		[(m-1)_Y+1 (u) M4] [int] NOT NULL,
		[(m-1)_Y+1 (u) M5] [int] NOT NULL,
		[(m-1)_Y+1 (u) M6] [int] NOT NULL,
		[(m-1)_Y+1 (u) M7] [int] NOT NULL,
		[(m-1)_Y+1 (u) M8] [int] NOT NULL,
		[(m-1)_Y+1 (u) M9] [int] NOT NULL,
		[(m-1)_Y+1 (u) M10] [int] NOT NULL,
		[(m-1)_Y+1 (u) M11] [int] NOT NULL,
		[(m-1)_Y+1 (u) M12] [int] NOT NULL,
		[B_Y0_M1] [int] NULL,
		[B_Y0_M2] [int] NULL,
		[B_Y0_M3] [int] NULL,
		[B_Y0_M4] [int] NULL,
		[B_Y0_M5] [int] NULL,
		[B_Y0_M6] [int] NULL,
		[B_Y0_M7] [int] NULL,
		[B_Y0_M8] [int] NULL,
		[B_Y0_M9] [int] NULL,
		[B_Y0_M10] [int] NULL,
		[B_Y0_M11] [int] NULL,
		[B_Y0_M12] [int] NULL,
		[B_Y+1_M1] [int] NULL,
		[B_Y+1_M2] [int] NULL,
		[B_Y+1_M3] [int] NULL,
		[B_Y+1_M4] [int] NULL,
		[B_Y+1_M5] [int] NULL,
		[B_Y+1_M6] [int] NULL,
		[B_Y+1_M7] [int] NULL,
		[B_Y+1_M8] [int] NULL,
		[B_Y+1_M9] [int] NULL,
		[B_Y+1_M10] [int] NULL,
		[B_Y+1_M11] [int] NULL,
		[B_Y+1_M12] [int] NULL,
		[PB_Y+1_M1] [int] NULL,
		[PB_Y+1_M2] [int] NULL,
		[PB_Y+1_M3] [int] NULL,
		[PB_Y+1_M4] [int] NULL,
		[PB_Y+1_M5] [int] NULL,
		[PB_Y+1_M6] [int] NULL,
		[PB_Y+1_M7] [int] NULL,
		[PB_Y+1_M8] [int] NULL,
		[PB_Y+1_M9] [int] NULL,
		[PB_Y+1_M10] [int] NULL,
		[PB_Y+1_M11] [int] NULL,
		[PB_Y+1_M12] [int] NULL,
		[T1_Y0_M1] [int] NULL,
		[T1_Y0_M2] [int] NULL,
		[T1_Y0_M3] [int] NULL,
		[T1_Y0_M4] [int] NULL,
		[T1_Y0_M5] [int] NULL,
		[T1_Y0_M6] [int] NULL,
		[T1_Y0_M7] [int] NULL,
		[T1_Y0_M8] [int] NULL,
		[T1_Y0_M9] [int] NULL,
		[T1_Y0_M10] [int] NULL,
		[T1_Y0_M11] [int] NULL,
		[T1_Y0_M12] [int] NULL,
		[T2_Y0_M1] [int] NULL,
		[T2_Y0_M2] [int] NULL,
		[T2_Y0_M3] [int] NULL,
		[T2_Y0_M4] [int] NULL,
		[T2_Y0_M5] [int] NULL,
		[T2_Y0_M6] [int] NULL,
		[T2_Y0_M7] [int] NULL,
		[T2_Y0_M8] [int] NULL,
		[T2_Y0_M9] [int] NULL,
		[T2_Y0_M10] [int] NULL,
		[T2_Y0_M11] [int] NULL,
		[T2_Y0_M12] [int] NULL,
		[T3_Y0_M1] [int] NULL,
		[T3_Y0_M2] [int] NULL,
		[T3_Y0_M3] [int] NULL,
		[T3_Y0_M4] [int] NULL,
		[T3_Y0_M5] [int] NULL,
		[T3_Y0_M6] [int] NULL,
		[T3_Y0_M7] [int] NULL,
		[T3_Y0_M8] [int] NULL,
		[T3_Y0_M9] [int] NULL,
		[T3_Y0_M10] [int] NULL,
		[T3_Y0_M11] [int] NULL,
		[T3_Y0_M12] [int] NULL,
		[(Value)_Y-2 (u) M1] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M2] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M3] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M4] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M5] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M6] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M7] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M8] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M9] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M10] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M11] [numeric](18, 0) NULL,
		[(Value)_Y-2 (u) M12] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M1] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M2] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M3] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M4] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M5] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M6] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M7] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M8] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M9] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M10] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M11] [numeric](18, 0) NULL,
		[(Value)_Y-1 (u) M12] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M1] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M2] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M3] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M4] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M5] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M6] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M7] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M8] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M9] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M10] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M11] [numeric](18, 0) NULL,
		[(Value)_Y0 (u) M12] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M1] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M2] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M3] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M4] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M5] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M6] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M7] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M8] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M9] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M10] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M11] [numeric](18, 0) NULL,
		[(Value)_Y+1 (u) M12] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M1] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M2] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M3] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M4] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M5] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M6] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M7] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M8] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M9] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M10] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M11] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y0 (u) M12] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M1] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M2] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M3] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M4] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M5] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M6] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M7] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M8] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M9] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M10] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M11] [numeric](18, 0) NULL,
		[(Value)_(m-1)_Y+1 (u) M12] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M1] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M2] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M3] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M4] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M5] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M6] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M7] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M8] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M9] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M10] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M11] [numeric](18, 0) NULL,
		[(Value)_B_Y0_M12] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M1] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M2] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M3] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M4] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M5] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M6] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M7] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M8] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M9] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M10] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M11] [numeric](18, 0) NULL,
		[(Value)_B_Y+1_M12] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M1] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M2] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M3] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M4] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M5] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M6] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M7] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M8] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M9] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M10] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M11] [numeric](18, 0) NULL,
		[(Value)_PB_Y+1_M12] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M1] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M2] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M3] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M4] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M5] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M6] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M7] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M8] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M9] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M10] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M11] [numeric](18, 0) NULL,
		[(Value)_T1_Y0_M12] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M1] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M2] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M3] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M4] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M5] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M6] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M7] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M8] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M9] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M10] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M11] [numeric](18, 0) NULL,
		[(Value)_T2_Y0_M12] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M1] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M2] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M3] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M4] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M5] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M6] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M7] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M8] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M9] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M10] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M11] [numeric](18, 0) NULL,
		[(Value)_T3_Y0_M12] [numeric](18, 0) NULL
	) 
	'
	execute(@sql)
end
select @b_Success = 1, @c_errmsg = 'Successfully.../'