/*
	declare
		@b_Success			Int=0,
		@c_errmsg			Nvarchar(250)=''

	exec sp_FC_FM_WF_Upload 'CPD','202407','','1. Baseline Qty',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg

	select * 
	from FC_FM_WF_Upload_CPD 
	where [Time series]='1. Baseline Qty'
	order by [SUB GROUP/ Brand] asc, [Sap code] asc,[Time series] asc
	select * from FC_FM_WF_Upload_LLD
*/
Alter proc sp_FC_FM_WF_Upload
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@TableFM		nvarchar(3),--//FM2: lấy từ table non-modelling
	@Timeseries		nvarchar(30),
	@b_Success			Int				OUTPUT,     
	@c_errmsg			Nvarchar(250)	OUTPUT
	with encryption
AS
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''
		,@sql1					nvarchar(max) = ''
		,@sql2					nvarchar(max) = ''

	Declare 
		@b_Success1		Int,
		@c_errmsg1		Nvarchar(250)

	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_FC_FM_WF_Upload',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_Debug('FC')
	--select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @listcolumn nvarchar(max) = ''
	declare @listcolumn_spectrum nvarchar(max) = ''
	SELECT @listcolumn = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'UploadFMWF','f')
	--SELECT listcolumn = ListColumn FROM fn_FC_GetColheader_Current('202406','UploadFMWF','f')
	SELECT @listcolumn_spectrum = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'SpectrumCal','spt')
	--SELECT listcolumn_spectrum = ListColumn FROM fn_FC_GetColheader_Current('202406','SpectrumCal','spt')

	declare @tablename				NVARCHAR(200) = ''
	SELECT @tablename = 'FC_FM_WF_Upload_'+@division

	if @n_continue = 1
	begin
		exec sp_fc_Get_spectrum_standard @division,@FM_KEY,@Timeseries,@b_Success1 OUT, @c_errmsg1 OUT
		if @b_Success1 = 0
		begin
			select @n_continue=3, @c_errmsg = @c_errmsg1
		end
	end
	BEGIN TRAN
	if @n_continue =1
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@tablename) AND type in (N'U')
		)
		begin
			select @sql = 'drop table '+@tablename
			if @debug>0
			begin
				select @sql 'Drop table'
			end
			execute(@sql)
		end

		/*declare @tmp table
		(
			Division	nvarchar(3),
			Channel		nvarchar(10),
			[Time series]	nvarchar(20),
			Spectrum		int default 0
		)
		insert into @tmp
		select * from V_FC_SPECTRUM_CONFIG

		list có spectrum*/
		select @sql ='
		select
			[Division]='''+@division+''',		
			[Signature]=F.[Signature],
			[SUB GROUP/ Brand] = f.[SUB GROUP/ Brand],
			[Bundle name]=spt.[Bundle name],
			[Channel] = f.[Channel],
			[Time series] = f.[Time series],
			[Sap Code] = spt.SKU,
			[Country Status] = spt.[Country Status],'
			+@listcolumn+'
			INTO '+@tablename+'
		from FC_FM_Original_'+@division+@Monthfc+' f (NOLOCK)
		inner join 
		(
			select    
			   s.[SUB GROUP/ Brand],    
			   s.[Bundle name], 
			   spt.Channel,
			   spt.sku,
			   spt.[Country Status],
			   spd.[Time series],'
			   +@listcolumn_spectrum+'
		   from FC_Spectrum_'+@division+' spt    
		   inner join  
		   (    
			   select  DISTINCT
				   [Signature],    
				   [SUB GROUP/ Brand],     
				   [Material],    
				   [Bundle name]    
			   from fnc_SubGroupMaster('''+@division+''',''full'')     
		   ) s on s.Material = spt.SKU   
		   inner join   
		   (     
			   select 
					*      
			   from fc_spectrum_standard_'+@division+'
			) spd on spd.[SUB GROUP/ Brand] = s.[SUB GROUP/ Brand] and spd.Channel = spt.Channel 
			and spt.[Country status] IN
			(
				select value 
				from string_split
				(
					(
					select DISTINCT
						[List Country status]		
					from fnc_FC_CountryStatus_Config('''+@division+''')
					where [Time series] = '''+@Timeseries+'''),
					'',''
				)
			)
		) spt on spt.[SUB GROUP/ Brand] = f.[SUB GROUP/ Brand] and spt.Channel = f.Channel 
		where 
			f.Channel NOT IN(''O+O'')
		and f.[Time series] NOT IN(''6. Total Qty'')
		and f.[Time series]='''+@Timeseries+''' '
		/*
		and substring(f.[Product status],3,2) NOT IN(''DC'')
		and f.HERO NOT IN(''PLV'')
		*/

		if @debug>0
		begin
			select @sql+@sql1 'Create table'
		end
		execute(@sql+@sql1)

		select @n_err = @@ERROR
		if @n_err<>0
		begin				
			select @n_continue = 3
			select @n_err=60002
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0
        ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH


/*
union all
				select
					[Signature]='A',
					[SUB GROUP/ Brand]='A',
					Material = 'A1',
					[Bundle name]='sp A1'
				union all
				select
					[Signature]='A',
					[SUB GROUP/ Brand]='A',
					Material = 'A2',
					[Bundle name]='sp A2'
				union all
				select
					[Signature]='A',
					[SUB GROUP/ Brand]='A',
					Material = 'A3',
					[Bundle name]='sp A3'

select   
				s.[SUB GROUP/ Brand],
				ct.[Country Status],
				s.[Bundle name],
				s.[Signature],
				spt.*   
			from FC_Spectrum_'+@division+' spt
			inner join 
			(
				select DISTINCT
					[Signature],
					[SUB GROUP/ Brand],
					[Material],
					[Bundle name]
				from fnc_SubGroupMaster('''+@division+''','''')
			) s on spt.SKU = s.Material
			left join
			(
				select DISTINCT 
					Channel,
					[Sku Code],
					[Country Status]   
				from fc_fm_country_status_'+@division+'
			) ct on ct.Channel = spt.Channel and ct.[Sku Code] = spt.[SKU]
*/