/*
	exec sp_get_Filter_GAP_DPvsBP 
		'CPD',
		'202411',
		'ONLINE,OFFLINE',
		'D',
		'Y0 (u) M11,Y0 (u) M12,Y+1 (u) M1,Y+1 (u) M2,Y+1 (u) M3',
		'BROW ART PRO**OFFLINE',
		0
*/
	
Alter proc sp_get_Filter_GAP_DPvsBP
	@Division			nvarchar(3),
	@FM_KEY				nvarchar(6),
	@Channel			nvarchar(50),
	@Header				nvarchar(1),--//H: Header,D: Detail,S: Summary,C: Count Summary,F: FC Line
	@ListColumn			Nvarchar(1000),
	@Subgrp				varchar(max),
	@ShowAll_Channel	int			
As
begin
	declare @debug						int=0
	declare @tableName					nvarchar(200)=''
	declare @sql						nvarchar(max)=''
	declare @listcoloum_unit			nvarchar(1000)=''
	declare @listcolumn_value			nvarchar(1000)=''
	declare @listcolumn_value_BP		nvarchar(1000)=''

	declare @list_Column_fc_unit		nvarchar(max)=''
	declare @list_Column_fc_value		nvarchar(max)=''
	declare @list_Column_fc_value_BP	nvarchar(max)=''

	select @debug=debug from fnc_debug('FC')
	--select @debug=1
	
	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	select @tableName='FC_FILTER_GAP_DPvsBP_'+@division+'_'+HOST_NAME()

	select @listcoloum_unit='f.['+REPLACE(@listcolumn,',',']+f.[')+']'
	select @listcolumn_value='f.[(Value)_'+REPLACE(@listcolumn,',',']+f.[(Value)_')+']'
	--select listcolumn_value='f.[(Value)_'+REPLACE('Y0 (u) M8,Y0 (u) M9,Y0 (u) M10,Y0 (u) M11,Y0 (u) M12',',',']+f.[(Value)_')+']'

	select @list_Column_fc_unit = ListColumn from fn_FC_GetColheader_Current(@FM_KEY,'1. Baseline Qty c','f')
	--select list_Column_fc_unit = ListColumn from fn_FC_GetColheader_Current('202408','1. Baseline Qty c','f')
	if @debug>0
	begin
		select @list_Column_fc_unit '@list_Column_fc_unit'
	end
	select @list_Column_fc_value = ListColumn from fn_FC_GetColheader_Current(@FM_KEY,'filter_Value','f')
	--select list_Column_fc_value = ListColumn from fn_FC_GetColheader_Current('202411','filter_Value','f')

	--//lấy list script value BP
	declare @tmp table (id int identity(1,1),[Month_unit] nvarchar(20))

	insert into @tmp(Month_unit)
	select value from string_split(@listcolumn,',')

	--select * from @tmp

	declare @listcolum_value nvarchar(max)=''
	declare @totalrows int=0,@currentrow int=1
	declare @result			nvarchar(max)=''

	select @totalrows=isnull(count(*),0) from @tmp

	while (@currentrow<=@totalrows)
	begin
		declare @month_item nvarchar(20)=''
		select @month_item=Month_unit from @tmp where id=@currentrow
		--select @month_item
		if len(@result)=0
		begin
			select @result='f.['+@month_item+']*s.['+@month_item+']'
		end
		else
		begin
			select @result=@result+'+f.['+@month_item+']*s.['+@month_item+']'
		end

		select @currentrow=@currentrow+1
	end
	if @debug>0
	begin
		select '('+@result+')' '@result'
	end

	select @listcolumn_value_BP = @result--ListColumn from fn_FC_GetColheader_Current(@FM_KEY,'RSP','f')

	if @debug>0
	begin
		select @list_Column_fc_value '@list_Column_fc_value'
	end	

	if @Header='S'
	begin
		select @sql=
		'select
			[Description]=[Tablename],
			[DP]=format(case when [Tablename] NOT IN(''FC Line'') then [DP] else 0 end/case when [Tablename] in(''Value'') then 1000000 else 1 end,''#,##0''),
			[BP]=format(case when [Tablename] NOT IN(''FC Line'') then [BP] else 0 end/case when [Tablename] in(''Value'') then 1000000 else 1 end,''#,##0''),
			[GAP]=format(([BP]-[DP])/case when [Tablename] in(''Value'') then 1000000 else 1 end,''#,##0''),
			[%GAP]=case when [DP]=0 then ''0'' else format((([BP]-[DP])/[DP])*100,''#,##0'') end
		from
		(			
			select 
				[Tablename]=''Unit'',
				[DP]=(
						select sum(('+@listcoloum_unit+'))
						from FC_FM_Original_'+@Division+@Monthfc+' f
						inner join '+@tableName+' f1 on f1.[Forecasting Line]=f.[SUB GROUP/ Brand]
						and f1.Channel=f.Channel
						and f.[Time series]=''6. Total Qty''
					),
				[BP]=(
					select sum(('+@listcoloum_unit+'))
					from FC_FM_Original_'+@Division+@Monthfc+' f
					inner join '+@tableName+' f1 on f1.[Forecasting Line]=f.[SUB GROUP/ Brand]
					and f1.Channel=f.Channel
					and f.[Time series]=''7. BP Unit''
				)
			union all
			select 
				[Tablename]=''Value'',
				[DP]=(
						select sum(('+@listcolumn_value+'))
						from FC_FM_Original_'+@Division+@Monthfc+' f
						inner join '+@tableName+' f1 on f1.[Forecasting Line]=f.[SUB GROUP/ Brand]
						and f1.Channel=f.Channel
						and f.[Time series]=''6. Total Qty''
					),
				[BP]=(
						select sum(('+@listcolumn_value_BP+'))
						from FC_FM_Original_'+@Division+@Monthfc+' f
						inner join '+@tableName+' f1 on f1.[Forecasting Line]=f.[SUB GROUP/ Brand]
						and f1.Channel=f.Channel
						and f.[Time series]=''7. BP Unit''
						inner join
						(
							select * from fnc_SubGroupMaster_RSP('''+@Division+''',''full'')
						) s on s.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
					)
		) as x'
	end
	else if @Header='H'
	begin
		select @sql=
		'WITH cte as
		(
			select				
				[Total]=sum(abs(([BP]-[DP])))
			from
			(
				SELECT
					[Forecasting Line],
					[DP]=(
							select
								'+@listcoloum_unit+'
							from FC_FM_Original_'+@Division+@Monthfc+' f
							where [SUB GROUP/ Brand]=f1.[Forecasting Line]
							and Channel=f1.Channel
							and [Time series]=''6. Total Qty''
						),
					[BP]=(
								select
									'+@listcoloum_unit+'
								from FC_FM_Original_'+@Division+@Monthfc+' f
								where [SUB GROUP/ Brand]=f1.[Forecasting Line]
								and Channel=f1.Channel
								and [Time series]=''7. BP Unit''
							)
				FROM FC_FILTER_GAP_DPvsBP_'+@Division+'_'+HOST_NAME()+' f1
			) as x
		)
		select
			[Selected]=cast(''0'' as BIT),
			[Forecasting Line],
			[Channel],
			[DP],
			[BP],
			[GAP]=abs(([BP]-[DP])),
			[%GAP]=format(abs(case when [DP]=0 then 0 else ([BP]-[DP])*1.0/[DP] end)*100,''#,##0.000''),
			[WOG]=cast(round(abs(([BP]-[DP]))*1.0/
					(
						select * from cte
					)*100,0) as int)
		from
		(
			SELECT
				[Forecasting Line],
				[Channel],
				[DP]=(
						select
							'+@listcoloum_unit+'
						from FC_FM_Original_'+@Division+@Monthfc+' f
						where [SUB GROUP/ Brand]=f1.[Forecasting Line]
						and Channel=f1.Channel
						and [Time series]=''6. Total Qty''
					),
				[BP]=(
							select
								'+@listcoloum_unit+'
							from FC_FM_Original_'+@Division+@Monthfc+' f
							where [SUB GROUP/ Brand]=f1.[Forecasting Line]
							and Channel=f1.Channel
							and [Time series]=''7. BP Unit''
						)
			FROM FC_FILTER_GAP_DPvsBP_'+@Division+'_'+HOST_NAME()+' f1
		) as x '
		--where f1.[Time series]=''9. BP vs FC (%)''
		--where f1.[Time series]=''9. BP vs FC (%)''
	end
	else if @Header='D'
	begin
		SELECT @sql=
		'select
			[ID],
			/*[Signature],
			[HERO],
			[CAT/Axe],
			[SUB CAT/ Sub Axe],
			[GROUP/ Class],
			[Product type],*/
			[Forecasting Line]=[SUB GROUP/ Brand],
			[Channel],
			[Time series],'
			+@list_Column_fc_unit+','
			+@list_Column_fc_value+'
		from FC_FM_Original_'+@Division+@Monthfc+' F
		where 
			/*[SUB GROUP/ Brand] LIKE ''%'+REPLACE(LTRIM(RTRIM(@Subgrp)),'?','')+'%'' */
			([SUB GROUP/ Brand]+''**''+[Channel]) IN(select value from string_split('''+REPLACE(LTRIM(RTRIM(@Subgrp)),'?','')+''','',''))
		and cast(replace(left([Time series],2),''.'','''') as int)<=9
		and channel IN(select value from string_split('''+case when @ShowAll_Channel=1 then 'ONLINE,OFFLINE,O+O' else @Channel end+''','',''))
		order by ID asc'
	end
	

	if @debug>0
	begin
		select @sql 'get data'
	end
	execute(@sql)	
end
