/*
	Declare
		@b_Success			Int,
		@c_errmsg			Nvarchar(250)

	exec sp_Get_SI_His_NEW 'PPD','202410','',@b_Success OUT,@c_errmsg OUT

	select @b_Success b_Success,@c_errmsg c_errmsg
*/

Alter PROC sp_Get_SI_His_NEW
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@Type			nvarchar(3),--//MTD/NULL
	@b_Success		Int				OUTPUT,     
	@c_errmsg		Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	DECLARE 
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		
	declare 
		 @fromdate				date
		,@todate				date
		,@SaleOrg				nvarchar(5) = ''	
		,@frommonth_his			date
		,@frommonth_ok			Nvarchar(8)
		,@tomonth_his			date
		,@Tomonth_ok			Nvarchar(8)
		,@sql					nvarchar(max) = ''
		,@full					nvarchar(4) = ''
		
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_Get_SI_His_NEW',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @full  = 'full'
	
	select @debug=debug from fnc_Debug('FC')
	--select @debug=1
	--//----------------------------------------------------------------------------------------
	declare @table_FC_ZV14_Historical nvarchar(100) = ''
	select @table_FC_ZV14_Historical = 'V_'+@Division+'_FC_ZV14_Historical'

	declare @table_FC_LIST_ZV14_BOM_HEADER nvarchar(100) = ''
	select @table_FC_LIST_ZV14_BOM_HEADER = 'FC_'+@Division+'_LIST_ZV14_BOM_HEADER'
	--//----------------------------------------------------------------------------------------

	declare @table_FC_SI_HIS nvarchar(100) = ''
	select  @table_FC_SI_HIS = @Division+'_FC_SI_HIS'

	declare @table_FC_SI_HIS_BOM_HEADER nvarchar(100) = ''
	select @table_FC_SI_HIS_BOM_HEADER = @Division+'_FC_SI_HIS_BOM_HEADER'

	declare @table_FC_SI_HIS_BOM_HEADER_FDR nvarchar(100) = ''
	select @table_FC_SI_HIS_BOM_HEADER_FDR = @Division+'_FC_SI_HIS_BOM_HEADER_FDR'

	declare @table_FC_SI_HIS_FOC_VP_FDR nvarchar(100) = ''
	select @table_FC_SI_HIS_FOC_VP_FDR = @Division+'_FC_SI_HIS_FOC_VP_FDR'

	declare @table_single_tmp nvarchar(100) = ''
	select @table_single_tmp = @Division+'_single_tmp'

	declare @table_bomheader_tmp nvarchar(100) = ''
	select @table_bomheader_tmp = @Division+'_bomheader_tmp'

	declare @table_bom_Component_tmp nvarchar(100) = ''
	select @table_bom_Component_tmp = @Division+'_bomComponent_tmp'

	declare @table_foc_single_tmp nvarchar(100) = ''
	select @table_foc_single_tmp = @Division+'_focsingle_tmp'

	declare @table_foc_bom_Component_tmp nvarchar(100) = ''
	select @table_foc_bom_Component_tmp = @Division+'_foc_bom_Component_tmp'
	
	declare @MaterialType	nvarchar(200) = ''
	select @MaterialType = case when  @Division = 'CPD' then 'where [Product Type] in(''YFG'',''YSM2'')' else 'where [Product Type] in(''YFG'')' end
	
	declare @MaterialType_ZV14	nvarchar(200) = ''
	select @MaterialType_ZV14 = case when @Division = 'CPD' then '[Material Type] in(''YFG'',''YSM2'')' else '[Material Type] in(''YFG'')' end

	if @n_continue = 1
	begin
		if @Type = ''
		begin
			select @frommonth_his = dateadd(MM,-24,cast(left(@FM_KEY,4)+'-'+right(@FM_KEY,2)+'-01' as date))
			select @frommonth_ok = format(@frommonth_his,'yyyyMMdd')
			select @tomonth_his = eomonth(dateadd(MM,23,@frommonth_his))
			select @Tomonth_ok = format(@tomonth_his,'yyyyMMdd')
			
			if @debug >0
			begin
				select @frommonth_ok,@tomonth_ok
			end

			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_FC_SI_HIS) AND type in (N'U')
			)
			begin
				select @sql = 'drop table '+@table_FC_SI_HIS
				execute(@sql)
			end
			
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_FC_SI_HIS_BOM_HEADER) AND type in (N'U')
			)
			begin
				select @sql = 'drop table '+ @table_FC_SI_HIS_BOM_HEADER
				execute(@sql)
			end

			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_FC_SI_HIS_BOM_HEADER_FDR) AND type in (N'U')
			)
			begin
				select @sql = 'drop table '+ @table_FC_SI_HIS_BOM_HEADER_FDR
				execute(@sql)
			end

			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_FC_SI_HIS_FOC_VP_FDR) AND type in (N'U')
			)
			begin
				select @sql = 'drop table '+ @table_FC_SI_HIS_FOC_VP_FDR
				execute(@sql)
			end

			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_single_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'drop table '+ @table_single_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_bomheader_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'drop table '+ @table_bomheader_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_bom_Component_tmp) AND type in (N'U')
			)			
			BEGIN
				select @sql = 'drop table '+ @table_bom_Component_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_foc_single_tmp) AND type in (N'U')
			)			
			BEGIN
				select @sql = 'drop table '+ @table_foc_single_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_foc_bom_Component_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'drop table '+ @table_foc_bom_Component_tmp
				execute(@sql)
			END

			--//INSERT Sheet BOM HEADER--<> FDR-->dùng rã bom ra component single line <promo bom>
			select @sql = 
			'select
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[Sap Code]=case when '''+@Division+'''=''LLD'' then '''' else x.[Sap Code] end,
				[HIS_QTY_BOM_HEADER] = sum([DO Billed Quantity]*[ABS]),
				[HIS_QTY_BOM_HEADER_FDR] = 0
				INTO '+@table_FC_SI_HIS_BOM_HEADER+'
			from
			(
				select 
					[Product Type] = s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Sap Code] = case when '''+@Division+'''=''LLD'' then '''' else z.[Bill. Material] end,
					[Barcode] = [Barcode_Original],
					[Channel],
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				'+case when @Division IN('CPD','LDB','LLD','PPD') then
				'inner join 
				(
					select distinct
						[Type],
						[Product Type],
						[SUB GROUP/ Brand],
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
				) s On s.Barcode = z.[Barcode_Original]' 
				else 
				'inner join 
				(
					select DISTINCT 
						[Type]=[Material Type],
						[EAN / UPC],
						[Item Category Group]
					from SC1.dbo.MM_ZMR54OLD_Stg 
					where 
						[Sales  Org]=''V300''
					and [Material Type] IN(''YFG'')
					and [Item Category Group]=''LUMF''
				) m on m.[EAN / UPC]=z.Barcode_Original ' end+'
				where 
					[FOC TYPE] <>''FDR''
				and '+@MaterialType_ZV14+'
				and [Item Category Group]=''LUMF''
			) as x 
			group by
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel] '
				+case when @Division='LLD' then '' else ',x.[Sap Code]' end

			if @debug>0
			begin
				select @sql 'INSERT Sheet BOM HEADER--<> FDR'
			end
			execute(@sql)

			--//INSERT Sheet BOM HEADER=FDR-->dùng rã bom ra component single FDR+single FDR=foc line
			select @sql = 
			'select
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				Channel,
				[Sap Code] = case when '''+@Division+'''=''LLD'' then '''' else x.[Sap Code] end,
				HIS_QTY_BOM_HEADER = 0,
				HIS_QTY_BOM_HEADER_FDR = sum([DO Billed Quantity]*[ABS])
				INTO '+@table_FC_SI_HIS_BOM_HEADER_FDR+'
			from
			(
				select 
					[Product Type]=s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Sap Code] = case when '''+@Division+'''=''LLD'' then '''' else z.[Bill. Material] end,
					Barcode = Barcode_Original,
					Channel,
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				'+case 
					when @Division IN('CPD','LDB','LLD','PPD')  then
						'inner join 
						(
							select distinct
								[Type],
								[Product Type],
								[SUB GROUP/ Brand],
								[Barcode],
								[Item Category Group]
							from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
							'+@MaterialType+'
						) s On s.Barcode = z.[Barcode_Original]' 
					else 
						'inner join 
						(
							select DISTINCT
								[Type]=[Material Type],
								[EAN / UPC],
								[Item Category Group]
							from SC1.dbo.MM_ZMR54OLD_Stg 
							where 
								[Sales  Org]=''v300''
							and [Material Type] IN(''YFG'')
							and [Item Category Group]=''LUMF''
						) m on m.[EAN / UPC]=z.Barcode_Original ' 
				end+'
				where
					[FOC TYPE] = ''FDR''
				and Channel <> ''FOC''
				and '+@MaterialType_ZV14+'
				and s.[Item Category Group]=''LUMF''
			) as x 
			group by
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				Channel'
				+case when @Division='LLD' then '' else ',x.[Sap Code]' end

			if @debug >0
			begin
				select @sql  'INSERT Sheet BOM HEADER = FDR'
			end
			execute(@sql)

			--//INSERT Sheet <FOC TO VP>-->gen ra sheet <FOC To VP> bao gồm cả single lẫn bunle(Không rã bom)
			select @sql =
			'select
				[Product Type] = s.[Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[Sap Code] = case when '''+@Division+'''=''LLD'' then '''' else x.[Sap Code] end,
				[HIS_QTY_BOM_HEADER] = 0,
				[HIS_QTY_FOC_TO_VP] = sum([DO Billed Quantity]*[ABS])
				INTO '+@table_FC_SI_HIS_FOC_VP_FDR+'
			from
			(
				select 
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Sap Code] = case when '''+@Division+'''=''LLD'' then '''' else z.[Bill. Material] end,
					Barcode = Barcode_Original,
					Channel,
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				where
					[FOC TYPE]=''FDR''
				and Channel=''FOC''
				and '+@MaterialType_ZV14+'
			) as x
			inner join 
			(
				select distinct 
					[Type],
					[Product Type],
					[SUB GROUP/ Brand],
					[Barcode]
				from fnc_SubGroupMaster('''+@division+''','''+@full+''')
				'+@MaterialType+'
			) s On s.Barcode = x.barcode
			group by
				[Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				Channel '
				+case when @Division='LLD' then '' else ',x.[Sap Code]' end

			if @debug>0
			begin
				select @sql 'INSERT Sheet <FOC TO VP>'
			end
			execute(@sql)

			--//insert single WF <1. Baseline Qty>
			select @sql = 
			'SELECT
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[HIS_QTY_SINGLE] = sum([DO Billed Quantity]*[ABS]),
				[HIS_QTY_SINGLE_FDR] = 0,
				[HIS_QTY_BOM] = 0,
				[HIS_QTY_BOM_FDR] = 0
				INTO '+@table_single_tmp+'
			FROM
			(
				select 	
					[Product Type]=s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),					
					[Barcode] = Barcode_Original,
					[Channel],
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct
						[Type],
						[Product Type],
						[SUB GROUP/ Brand],
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
				) s On s.Barcode = z.[Barcode_Original]
				where 
					[FOC TYPE] <> ''FDR'' 
				and z.Channel <> ''FOC''
				and '+@MaterialType_ZV14+'
				and s.[Item Category Group]<>''LUMF''
				/*and Barcode_Original not in(select distinct Barcode from '+@table_FC_LIST_ZV14_BOM_HEADER+')*/
			) AS X
			group by
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel] '

			if @debug>0
			begin
				select @sql 'insert single WF <1. Baseline Qty>'
			end
			execute(@sql)

			--//Insert Bom component WF <3. Promo Qty(BOM)>
			select @sql = 
			'select
				[Product Type]=s.[Type],
				[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[HIS_QTY_SINGLE] = 0,
				[HIS_QTY_SINGLE_FDR] = 0,
				[HIS_QTY_BOM] = sum([DO Billed Quantity]*zmr.Qty*[ABS]),
				[HIS_QTY_BOM_FDR] = 0
				INTO '+@table_bom_Component_tmp+'
			from
			(
				select 
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Barcode] = Barcode_Original,
					[Material]=case when '''+@Division+'''<>''CPD'' then '''' else z.[Bill. Material] end,
					[DO Billed Quantity] = z.[DO Billed Quantity],
					[ABS],
					[Channel]
				from '+@table_FC_ZV14_Historical+' z
				'+case 
					when @Division IN('CPD','LDB','LLD','PPD')  then '
						inner join 
						(
							select distinct
								[Material]=case when '''+@Division+'''<>''CPD'' then '''' else [Material] end,
								[Barcode],
								[Item Category Group]
							from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
							'+@MaterialType+'
							and [Item Category Group]=''LUMF''
						) s On s.Barcode = z.[Barcode_Original] '+case 
																		when @Division<>'CPD' then '' 
																		else 'and s.Material=z.[Bill. Material]' 
																	end+' '
					else 
						'inner join 
						(
							select DISTINCT
								[EAN / UPC],
								[Item Category Group]
							from SC1.dbo.MM_ZMR54OLD_Stg 
							where 
								[Sales  Org]=''V300''
							and [Material Type] IN(''YFG'')
							and [Item Category Group]=''LUMF''
						) s on s.[EAN / UPC]=z.Barcode_Original' 
				end+'
				where 
					[FOC TYPE]<>''FDR'' 
				and s.[Item Category Group]=''LUMF''
			) as x
			inner join 
			(
				select 
					* 
				from V_ZMR32
			) zmr on zmr.Barcode_Bom = x.Barcode '+case when @Division<>'CPD' then '' else 'and zmr.Material_Bom=x.[Material]' end+'
			inner join 
			(
				select distinct
					[Type],
					[Product Type],
					[SUB GROUP/ Brand],
					[Barcode],
					[Material]=case when '''+@Division+'''<>''CPD'' then '''' else [Material] end
				from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
				'+@MaterialType+'
			) s On s.Barcode = zmr.Barcode_Component '+case when @Division<>'CPD' then '' else 'and s.Material=zmr.Material_Component' end+'
			where zmr.'+@MaterialType_ZV14+'
			group by
				s.[Type],
				s.[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel] '

			if @debug>0
			begin
				select @sql 'Insert Bom component WF <3. Promo Qty(BOM)>'
			end
			execute(@sql)

			--//Insert foc <single> wf <5. FOC Qty>
			select @sql = 
			'select
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[HIS_QTY_SINGLE] = 0,
				[HIS_QTY_SINGLE_FDR] = sum([DO Billed Quantity]*[ABS]),
				[HIS_QTY_BOM] = 0,
				[HIS_QTY_BOM_FDR] = 0
				INTO '+@table_foc_single_tmp+'
			from
			(
				select 
					[Product Type]=s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Barcode] = Barcode_Original,
					[DO Billed Quantity] = z.[DO Billed Quantity],
					[ABS],
					[Channel]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct
						[Type],
						[Product Type],
						[SUB GROUP/ Brand],
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
				) s On s.Barcode = z.[Barcode_Original]
				where 
					[FOC TYPE]=''FDR''
				and [Channel]<>''FOC''
			) as x 
			group by 
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel] '

			if @debug>0
			begin
				select @sql 'Insert foc <single> wf <5. FOC Qty>'
			end
			execute(@sql)

			--//Insert foc <bom component> wf <5. FOC Qty>
			select @sql = '
			select
				[Product Type] = s.[Type],
				[SUB GROUP/ Brand] = s.[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel],
				[HIS_QTY_SINGLE] = 0,
				[HIS_QTY_SINGLE_FDR] = 0,
				[HIS_QTY_BOM] = 0,
				[HIS_QTY_BOM_FDR] = sum([DO Billed Quantity]*Qty*[ABS])
				INTO '+@table_foc_bom_Component_tmp+'
			from
			(
				select 
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Barcode] = Barcode_Original,
					[Material]=case when '''+@Division+'''<>''CPD'' then '''' else z.[Bill. Material] end,
					[DO Billed Quantity] = z.[DO Billed Quantity],
					[ABS],
					[Channel]
				from '+@table_FC_ZV14_Historical+' z
				'+case 
					when @Division IN('CPD','LDB','LLD','PPD')  then 
						'inner join 
						(
							select distinct
								[Material]=case when '''+@Division+'''<>''CPD'' then '''' else [Material] end,
								[Barcode],
								[Item Category Group]
							from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
							'+@MaterialType+'
							and [Item Category Group]=''LUMF''
						) s On s.Barcode = z.[Barcode_Original] '+case when @Division<>'CPD' then '' else ' and s.Material=z.[Bill. Material]' end+' '
					else 
						'inner join 
						(
							select DISTINCT
								[EAN / UPC],
								[Item Category Group]
							from SC1.dbo.MM_ZMR54OLD_Stg 
							where 
								[Sales  Org]=''v300''
							and [Material Type] IN(''YFG'')
							and [Item Category Group]=''LUMF''
						) s on s.[EAN / UPC]=z.Barcode_Original' 
				end+'
				where 
					[FOC TYPE] = ''FDR''
				and Channel <> ''FOC''
				and s.[Item Category Group]=''LUMF''
			) as x
			inner join 
			(
				select 
					* 
				from V_ZMR32
			) zmr on zmr.Barcode_Bom = x.Barcode '+case when @Division<>'CPD' then '' else 'and zmr.Material_Bom=x.Material' end+'
			inner join 
			(
				select distinct 
					[Type],
					[Product Type],
					[SUB GROUP/ Brand],
					[Barcode],
					[Material]=case when '''+@Division+'''<>''CPD'' then '''' else [Material] end
				from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
				'+@MaterialType+'
			) s On s.Barcode = zmr.Barcode_Component '+case when @Division<>'CPD' then '' else 'and s.Material=zmr.Material_Component' end+'
			where zmr.'+@MaterialType_ZV14+'
			group by
				s.[Type],
				s.[SUB GROUP/ Brand],
				[Year],
				[Month],				
				[Channel] '

			if @debug >0
			begin
				select @sql 'Insert foc <bom component> wf <5. FOC Qty>'
			end
			execute(@sql)

			--//sumarize single & bom component
			select @sql = 
			'select
				[Product Type],
				[SubGrp]=[SUB GROUP/ Brand],
				[Year],
				[Month],
				Channel,	
				HIS_QTY_SINGLE = SUM(HIS_QTY_SINGLE),
				HIS_QTY_SINGLE_FDR = SUM(HIS_QTY_SINGLE_FDR),
				HIS_QTY_BOM = SUM(HIS_QTY_BOM),
				HIS_QTY_BOM_FDR = SUM(HIS_QTY_BOM_FDR) 
				INTO '+@table_FC_SI_HIS+' 
			from
			(
				select
					[Product Type],
					[SUB GROUP/ Brand],
					[Year],
					[Month],
					Channel,				
					HIS_QTY_SINGLE,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM,
					HIS_QTY_BOM_FDR
				from '+@table_single_tmp+' 
				union all
				select
					[Product Type],
					[SUB GROUP/ Brand],
					[Year],
					[Month],
					Channel,
					HIS_QTY_SINGLE,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM,
					HIS_QTY_BOM_FDR
				from '+@table_bom_Component_tmp+'
				UNION ALL
				select
					[Product Type],
					[SUB GROUP/ Brand],
					[Year],
					[Month],
					Channel,				
					HIS_QTY_SINGLE,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM,
					HIS_QTY_BOM_FDR
				from '+@table_foc_single_tmp+' 
				union all
				select
					[Product Type],
					[SUB GROUP/ Brand],
					[Year],
					[Month],
					Channel,
					HIS_QTY_SINGLE,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM,
					HIS_QTY_BOM_FDR
				from '+@table_foc_bom_component_tmp+' 
			) as x
			GROUP BY
				[Product Type],
				[SUB GROUP/ Brand],
				[Year],
				[Month],
				Channel '

			if @debug>0
			begin
				select @sql '@sql 1.1.8'
			end
			execute(@sql)
		end
		else if @type = 'MTD'
		begin
			select @frommonth_his = DATEADD(MM,0,cast(left(@FM_KEY,4)+'-'+right(@FM_KEY,2)+'-01' as date))
			select @frommonth_ok = format(@frommonth_his,'yyyyMMdd')
			select  @tomonth_his = EOMONTH(DATEADD(MM,0,cast(left(@FM_KEY,4)+'-'+right(@FM_KEY,2)+'-01' as date)))
			select @Tomonth_ok = format(@tomonth_his,'yyyyMMdd')
			if @debug>0
			begin
				select @frommonth_ok '@frommonth_ok MTD',@Tomonth_ok '@Tomonth_ok MTD'
			end

			declare @table_FC_SI_MTD_HIS nvarchar(100) = ''
			select @table_FC_SI_MTD_HIS = @Division+'_FC_SI_MTD_HIS'

			declare @table_single_MTD_tmp nvarchar(100) = ''
			select @table_single_MTD_tmp = @Division+'_single_MTD_tmp'

			declare @table_single_MTD_FDR_tmp nvarchar(100) = ''
			select @table_single_MTD_FDR_tmp = @Division+'_single_MTD_FDR_tmp'

			declare @table_bom_Component_MTD_tmp nvarchar(100) = ''
			select @table_bom_Component_MTD_tmp = @Division+'_bom_Component_MTD_tmp'

			declare @table_bom_Component_MTD_FDR_tmp nvarchar(100) = ''
			select @table_bom_Component_MTD_FDR_tmp = @Division+'_bom_Component_MTD_FDR_tmp'

			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_FC_SI_MTD_HIS) AND type in (N'U')
			)
			begin
				select @sql = 'drop table '+@table_FC_SI_MTD_HIS--FC_SI_MTD_HIS
				execute(@sql)
			end
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_single_MTD_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'DROP TABLE '+@table_single_MTD_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_single_MTD_FDR_tmp) AND type in (N'U')
			)			
			BEGIN
				select @sql = 'DROP TABLE '+@table_single_MTD_FDR_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_bom_Component_MTD_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'DROP TABLE '+@table_bom_Component_MTD_tmp
				execute(@sql)
			END
			if exists
			(
				SELECT * 
				FROM sys.objects 
				WHERE object_id = OBJECT_ID(@table_bom_Component_MTD_FDR_tmp) AND type in (N'U')
			)
			BEGIN
				select @sql = 'DROP TABLE '+@table_bom_Component_MTD_FDR_tmp
				execute(@sql)
			END

			--insert single mtd
			select @sql = 
			'SELECT
				[Product Type],
				[SUB GROUP/ Brand],				
				[Channel],
				HIS_QTY_SINGLE = sum([DO Billed Quantity]*[ABS]),
				HIS_QTY_BOM = 0,
				HIS_QTY_SINGLE_FDR = 0,
				HIS_QTY_BOM_FDR = 0
				INTO '+@table_single_MTD_tmp+'
			FROM
			(
				select
					[Product Type]=s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Barcode]=Barcode_Original,
					[Channel],
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct
						[Type],
						[Product Type],
						[SUB GROUP/ Brand],
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
				) s On s.Barcode = z.[Barcode_Original]
				where 
					cast([Billing Doc Date] as bigint) between cast('+@frommonth_ok+' as bigint) and cast('+@Tomonth_ok+'as bigint) 
				and [FOC TYPE] <> ''FDR''
				and '+@MaterialType_ZV14+'
				and s.[Item Category Group]<>''LUMF''
			) AS X 
			group by
				[Product Type],
				[SUB GROUP/ Brand],				
				[Channel] '

			if @debug>0
			begin
				select @sql '@sql insert single mtd'
			end
			execute(@sql)

			--Insert Bom component mtd-normal
			select @sql = 
			'select
				[Product Type] = s.[Type],
				[SUB GROUP/ Brand] = s.[SUB GROUP/ Brand],				
				[Channel],
				[HIS_QTY_SINGLE] = 0,
				[HIS_QTY_BOM] = sum([DO Billed Quantity]*Qty*[ABS]),
				[HIS_QTY_SINGLE_FDR] = 0,
				[HIS_QTY_BOM_FDR] = 0
				INTO '+@table_bom_Component_MTD_tmp+'
			from
			(
				select 
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					[Barcode] = Barcode_Original,
					[DO Billed Quantity] = z.[DO Billed Quantity],
					[ABS],
					[Channel]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
					and [Item Category Group]=''LUMF''
				) s On s.Barcode = z.Barcode_Original
				where 
					cast([Billing Doc Date] as bigint) between cast('+@frommonth_ok+' as bigint) and cast('+@Tomonth_ok+'as bigint) 
				and [FOC TYPE]<> ''FDR''
				and s.[Item Category Group]=''LUMF''				
			) as x
			inner join V_ZMR32 zmr on zmr.Barcode_Bom = x.Barcode
			inner join 
			(
				select distinct 
					[Type],
					[Product Type],
					[SUB GROUP/ Brand],
					Barcode 
				from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
				'+@MaterialType+'
			) s On s.barcode = zmr.barcode_Component
			where zmr.'+@MaterialType_ZV14+'
			group by
				s.[Type],
				s.[SUB GROUP/ Brand],				
				[Channel] '

			if @debug>0
			begin
				select @sql 'Insert Bom component mtd-normal'
			end
			execute(@sql)

			--insert single mtd - FOC WF -->FDR
			select @sql = 
			'SELECT
				[Product Type],
				[SUB GROUP/ Brand],				
				[Channel],
				[HIS_QTY_SINGLE] = 0,
				[HIS_QTY_BOM] = 0,
				[HIS_QTY_SINGLE_FDR] = sum([DO Billed Quantity]*[ABS]),
				[HIS_QTY_BOM_FDR] = 0
				INTO '+@table_single_MTD_FDR_tmp+'
			FROM
			(
				select 	
					[Product Type]=s.[Type],
					[SUB GROUP/ Brand]=s.[SUB GROUP/ Brand],
					[Barcode] = Barcode_Original,
					[Channel],
					[DO Billed Quantity],
					[ABS]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct 
						[Type],
						[Product Type],
						[SUB GROUP/ Brand],
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
				) s On s.Barcode = z.Barcode_Original
				where 
					cast([Billing Doc Date] as bigint) between cast('+@frommonth_ok+' as bigint) and cast('+@Tomonth_ok+'as bigint) 
				and [FOC TYPE] =''FDR''
				and channel<> ''FOC''
				and '+@MaterialType_ZV14+'
				and s.[Item Category Group]<>''LUMF''				
			) AS X
			group by
				[Product Type],
				[SUB GROUP/ Brand],				
				Channel '

			if @debug>0
			begin
				select @sql 'insert single mtd -FOC WF -->FDR'
			end
			execute(@sql)

			--Insert Bom component mtd FOC WF -->FDR
			select @sql = 
			'select
				[Product Type] = s.[Type],
				[SUB GROUP/ Brand] = s.[SUB GROUP/ Brand],				
				[Channel],
				HIS_QTY_SINGLE = 0,
				HIS_QTY_BOM = 0,
				HIS_QTY_SINGLE_FDR = 0,
				HIS_QTY_BOM_FDR = sum([DO Billed Quantity]*Qty*[ABS])
				INTO '+@table_bom_Component_MTD_FDR_tmp+'
			from
			(
				select 
					[Year] = left(z.[Billing Doc Date],4),
					[Month] = substring(z.[Billing Doc Date],5,2),
					Barcode = Barcode_Original,
					[DO Billed Quantity] = z.[DO Billed Quantity],
					[ABS],
					[Channel]
				from '+@table_FC_ZV14_Historical+' z
				inner join 
				(
					select distinct
						[Barcode],
						[Item Category Group]
					from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
					'+@MaterialType+'
					and [Item Category Group]=''LUMF''
				) s On s.Barcode = z.Barcode_Original
				where 
					cast([Billing Doc Date] as bigint) between cast('+@frommonth_ok+' as bigint) and cast('+@Tomonth_ok+'as bigint) 
				and [FOC TYPE]<>''FDR''
				and s.[Item Category Group]=''LUMF''
			) as x
			inner join V_ZMR32 zmr on zmr.barcode_Bom = x.barcode
			inner join 
			(
				select distinct 
					[Type],
					[Product Type],
					[SUB GROUP/ Brand],
					barcode 
				from fnc_SubGroupMaster('''+@Division+''','''+@full+''')
				'+@MaterialType+'
			) s On s.barcode = zmr.barcode_Component
			where zmr.'+@MaterialType_ZV14+'
			group by
				s.[Type],
				s.[SUB GROUP/ Brand],				
				Channel '

			if @debug >0
			begin
				select @sql 'Insert Bom component mtd FOC WF -->FDR'
			end
			execute(@sql)

			--sumarize single MTD & bom component MTD
			select @sql =
			'select
				[Product Type],
				[SubGrp]=[SUB GROUP/ Brand],
				[Channel],
				[Time Series]= ''6. Total Qty'',
				HIS_QTY_SINGLE,
				HIS_QTY_BOM,
				HIS_QTY_SINGLE_FDR,
				HIS_QTY_BOM_FDR
				INTO '+@table_FC_SI_MTD_HIS+'
			from
			(
				select
					[Product Type],
					[SUB GROUP/ Brand],
					Channel,				
					HIS_QTY_SINGLE,
					HIS_QTY_BOM,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM_FDR
				from '+@table_single_MTD_tmp+'
				union all
				select
					[Product Type],
					[SUB GROUP/ Brand],				
					Channel,
					HIS_QTY_SINGLE,
					HIS_QTY_BOM,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM_FDR
				from '+@table_bom_Component_MTD_tmp+'
				UNION ALL
				select
					[Product Type],
					[SUB GROUP/ Brand],
					Channel,				
					HIS_QTY_SINGLE,
					HIS_QTY_BOM,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM_FDR
				from '+@table_single_MTD_FDR_tmp+'
				union all
				select
					[Product Type],
					[SUB GROUP/ Brand],				
					Channel,
					HIS_QTY_SINGLE,
					HIS_QTY_BOM,
					HIS_QTY_SINGLE_FDR,
					HIS_QTY_BOM_FDR
				from '+@table_bom_Component_MTD_FDR_tmp+'
			) as x'
			if @debug>0
			begin
				select @sql '@sql sumarize single MTD & bom component MTD'
			end
			execute(@sql)

		end
		
		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end

	END
	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH