/*
	Declare 
		@b_Success		Int,
		@c_errmsg		Nvarchar(250)

	exec sp_Gen_WF_New3 'CPD','202502','',@b_Success OUT,@c_errmsg OUT
	
	select @b_Success b_Success,@c_errmsg c_errmsg

	/*
	TYPE
		0. ''-->GEN LAN DAU
		1. PROMO_BOM
		2. PARTIAL
		3. VALUE
	*/
	select * from FC_FM_Original_CPD_202502 order by ID asc

*/
Alter proc sp_Gen_WF_New3
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@TypeView		nvarchar(10),
	@b_Success		Int				OUTPUT,
	@c_errmsg		Nvarchar(250)	OUTPUT
	with encryption
	/*
		case @TypeView = 
		1. '' =>gen data đầu tháng
		2. PROMO_BOM =>rã bom forecast to WF,
		3. Partial =>run tag config
		4. VALUE =->run value
	*/
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@errorTotal			int=0

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_Gen_WF_New3',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	declare @hostname			nvarchar(50)=host_name()
	--select @hostname='VNCORPVNWKS1119'
	declare @tmp table (id int identity(1,1), Col nvarchar(20))
	declare @tmp2 table (id int identity(1,1), Col nvarchar(20))
	--//declare V_FC_WF_FUNCTION_ACTIVE_NEW table (Tag_name nvarchar(100) null,Active int default 0)
	--declare @FC_Table_Status		nvarchar(200) = 'FC_Table_Status'
	declare @headerName_FC			nvarchar(max) = ''
	declare @sql					nvarchar(max) = ''	
	declare @current_month_fc_so	nvarchar(20) = ''
	declare @FC_FM_Original			nvarchar(100) = ''
	declare @total_typeview			int = 0
	declare @current_typeview		int = 1
	declare @tag_name_child_ok		nvarchar(200) = ''
	DECLARE @Patchkey				varchar(36) = ''

	select @debug=debug from fnc_debug('FC')
	select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @table_FC_FM_Original nvarchar(200)=''
	select @table_FC_FM_Original='FC_FM_Original_'+@Division+'_'+@FM_KEY
	
	if @n_continue=1
	begin
		if @Division='LLD'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open LLD]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
		if @Division='PPD'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open PPD]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
		else if @Division='CPD'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open CPD]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
		else if @Division='LDB'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open LDB]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
	end
	if @n_continue=1
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID('FC_FM_Original_'+@Division+@Monthfc) AND type in (N'U')
		)
		begin
			exec sp_Backup_WF_before_Save @Division,@FM_KEY,'ALL',@b_Success OUT,@c_errmsg OUT
			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
		end
	end
	if @n_continue=1
	begin
		--//define table name WF
		select @FC_FM_Original = 'FC_FM_Original_'+@Division+@Monthfc
		if @debug >0
		begin
			select @FC_FM_Original '@FC_FM_Original'
		end

		declare @run_optimus int = 0
		select
			@run_optimus=cast(RUN as int)
		from
		(
			select
				[RUN]=ISNULL(Config23,'0')
			from SysConfigValue (NOLOCK)
			where ConfigHeaderID=48
			and Config1='tag_add_FC_SI_Group_FC_SO_OPTIMUS'
		) as x

		if @run_optimus is null 
		begin
			select @run_optimus=0
		end
		--//create table by PC
		declare @tableName_new		nvarchar(200)=''
		select @tableName_new='FC_FUNCTION_ACTIVE_FINAL'
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@tableName_new) AND type in (N'U')
		)
		begin
			select @sql  ='Delete '+@tableName_new+' where [host_name]='''+@hostname+''' '
			execute(@sql)
		end

		--//lay config run theo type:gen-->'', partial,value,re-gen
		if @TypeView=''
		begin
			select @sql='
			INSERT INTO '+@tableName_new+'
			(
				[host_name],
				[Tag_name],
				[Active],
				[STT],
				[Type_View]
			)
			select 
				[host_name]='''+@hostname+''',
				[Tag_name],
				[Active],
				[STT],
				[Type_View]=''''
			from fnc_TypeView('''+@TypeView+''',''a'','''') 
			order by STT ASC '
		end
		else if @TypeView='re-gen'
		begiN		
			SELECT @sql='
			INSERT INTO '+@tableName_new+'
			(
				[host_name],
				[Tag_name],
				[Active],
				[STT],
				[List_Signature],
				[Type_View]
			)
			select 
				[host_name]='''+@hostname+''',
				[Tag_name],
				[Active],
				[STT],
				[List_Signature],
				[Type_View]
			from [FC_FUNCTION_ACTIVE_'+@hostname+']'+' 
			where [Selected]=1
			order by [STT] ASC '
		end
		if @debug>0
		begin
			select @sql 'Create table typeview'
		end
		execute(@sql)

		declare @tmp_typeview table
		(
			id int identity(1,1),
			Tag_name nvarchar(100),
			[Active] int default 0,
			STT nvarchar(20), 
			List_Signature nvarchar(500),
			Type_View	nvarchar(20)
		)

		insert into @tmp_typeview(Tag_name,Active,STT,List_Signature,Type_View)
		select 
			[Tag_name]=f.Tag_name,
			[Active]=f.Active,
			[STT]=f.STT,
			[List_Signature]=f.[List_Signature],
			[Type_View]=f.[Type_View]
		from FC_FUNCTION_ACTIVE_FINAL f
		where [host_name]=@hostname
		order by
			f.STT asc
		
		if @debug>0
		begin
			select * from @tmp_typeview
		end
	end
	if @debug>0
	begin
		select 'Tao table get error alert detail'
	end
	if @n_continue=1
	begin
		if @TypeView=''
		begin
			exec sp_Create_Error_Alert @Division,@FM_KEY,1,@b_Success1 OUT,@c_errmsg1 OUT
	
			if @b_Success1=0
			begin
				select @n_continue=1,@c_errmsg = @c_errmsg1
			end
		end
	end
	
	if @n_continue = 1
	begin
		select @Patchkey = NEWID()  
		if @debug>0
		begin
			select @Patchkey '@Patchkey'
		end

		exec sp_Add_FC_Table_Status @Division,@TypeView,@Patchkey,@b_Success1,@c_errmsg1

		if @b_Success1 = 0
		begin
			select @n_continue = 3,@c_errmsg = @c_errmsg1
		end
		--//lấy danh sách action dc phép chạy
		select @total_typeview = isnull(count(*),0) from @tmp_typeview
		--select * from FC_Table_Status where Patchkey = @Patchkey
	end
	--return
	--//bắt đầu vòng lặp
	--//gán @errortotal = @errortotal+1 nếu task = error
	if @debug>0
	begin
		select @current_typeview '@current_typeview',@total_typeview '@total_typeview'
	end
	if @n_continue = 1
	begin
		while (@current_typeview<=@total_typeview)
		begin		
			declare 
				@tag_name_ok		nvarchar(300)='',
				@sp_name_child		nvarchar(200)='',
				@List_Signature		nvarchar(500)=''

			select 
				@tag_name_ok=isnull(Tag_name ,''),
				@List_Signature=ISNULL(List_Signature,'')
			from @tmp_typeview 
			where id = @current_typeview
			
			select @sp_name_child = 'sp_'+@tag_name_ok

			if @debug>0
			begin
				select @tag_name_ok '@tag_name_ok',@sp_name_child '@sp_name_child'
			end
			if @tag_name_ok = ''
			begin
				select @errorTotal = @errorTotal + 1
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name,N'Tag_name should be not null',@b_Success1 OUT,@c_errmsg1 OUT
				if @debug>0
				begin
					select @n_continue '@n_continue', tablename = N'Tag_name should be not null'
				end
				--return
			end
			else if @tag_name_ok  = 'tag_add_BFL_Master'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue', tablename = 'tag_add_BFL_Master'
				end
				exec sp_Add_FC_BFL_Master_NEW @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_FM_FC_SI_BASELINE'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue', tablename = 'tag_gen_FM_FC_SI_BASELINE'
				end
				declare @sp_name_check nvarchar(500)=''
				select 
					@sp_name_check=ISNULL([sp name],'') 
				from V_FC_NEW_CONFIG_BOM_HEADER where [Tag Name]=@tag_name_ok

				if @sp_name_check='sp_Sum_FC_FM_baseLine_new'
				begin
					exec sp_Sum_FC_FM_baseLine_new @Division,@FM_Key,0,@b_Success1 OUT,@c_errmsg1 OUT
				end
				else
				begin
					exec sp_Sum_FC_FM_baseLine_new_2 @Division,@FM_Key,0,@b_Success1 OUT,@c_errmsg1 OUT
				end

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_fm_non_modeling'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue', tablename = 'tag_gen_fm_non_modeling'
				end
				exec sp_tag_gen_fm_non_modeling_new @Division,@FM_KEY,'full',0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//create table FC_FM_Original
			else if @tag_name_ok = 'tag_create_FC_FM_Original'-->OK
			begin
				if @n_continue=1
				begin
					if @Division IN('CPD','LDB','LLD','PPD')
					begin
						select @tag_name_ok='sp_FC_Run_Auto_Manual_Task_Begin_Day'
						if @debug>0
						begin
							select @n_continue '@n_continue',@tag_name_ok
						end
						exec sp_FC_Run_Auto_Manual_Task_Begin_Day @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT
						if @b_Success1=0
						begin
							select @n_continue=3,@c_errmsg=@c_errmsg1
						end
						if @debug>0
						begin
							select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
						end
						exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
						exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
					end
				end
				if @TypeView=''
				begin
					if @debug>0
					begin
						select @n_continue '@n_continue', tablename = 'tag_create_FC_FM_Original'
					end
					exec sp_FC_FM_Original_NEW_FINAL @Division,@FM_KEY,'full',@b_Success1 OUT,@c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @errorTotal = @errorTotal+1
					end
				
					if @debug>0
					begin
						select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
					end
					exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
					exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				end
			end			
			--//Gen_SO_OPTIMUS
			else if @tag_name_ok = 'tag_Gen_Bomheader_SO_OPTIMUS'--OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_Gen_Bomheader_SO_OPTIMUS'
				end

				exec sp_Gen_BomHeader_Forecast_SO_OPTIMUS @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_git'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_gen_git'
				end
				exec sp_FC_GIT_New @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT				
				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_soh_mtd_git'
			begin
				-- Gen SOH 
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_gen_soh_mtd_git'
				end
				
				if exists
				(
					SELECT * 
					FROM sys.objects 
					WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
				)
				begin
					exec sp_tag_gen_soh @Division,@FM_Key,1,@b_Success1 OUT,@c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @n_continue = 1, @c_errmsg = @c_errmsg1
					end
				end
				-- Update MTD SI 
				if exists
				(
					SELECT * 
					FROM sys.objects 
					WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
				)
				begin
					if exists
					(
						SELECT * 
						FROM sys.objects 
						WHERE object_id = OBJECT_ID(@Division+'_'+@FM_KEY+'_His_SI_Single_Final') AND type in (N'U')
					)
					begin

						exec sp_Create_V_His_SI_Final @Division,@FM_KEY,'h',@b_Success1 OUT,@c_errmsg1 OUT
					end 
				
					exec sp_tag_update_wf_mtd_si_NEW @Division,@FM_KEY,1,@b_Success1 OUT, @c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @n_continue=3,@c_errmsg=@c_errmsg1
					end
				end
				-- Gen GIT 
				exec sp_FC_GIT_New @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT				
				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_update_sit'
			begin
				if exists
				(
					SELECT * 
					FROM sys.objects 
					WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
				)
				begin
					exec sp_tag_update_wf_sit_NEW @Division,@FM_Key,1,@b_Success1 OUT, @c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @n_continue = 1, @c_errmsg = @c_errmsg1
					end
				end
			end
			--//Update his data 2022-current month-1 (single+promo bom his)
			else if @tag_name_ok = 'tag_update_wf_zv14_02_year_actual'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_wf_zv14_02_year_actual'
				end
				exec sp_tag_update_wf_zv14_02_year_actual @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//Update FC Promo single just only OFFLINE, ONLINE base from FM
			else if @tag_name_ok = 'tag_update_wf_promo_single_unit_only_offline'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_wf_promo_single_unit_only_offline'
				end
				exec sp_tag_update_wf_promo_single_unit_only_offline @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//Update New Launch Forecast just only OFFLINE, ONLINE base from FM
			else if @tag_name_ok = 'tag_update_wf_new_launch_unit_only_offline'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_wf_new_launch_unit_only_offline'
				end
				exec sp_tag_update_wf_new_launch_unit_only_offline @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//Update FOC Forecast just only OFFLINE, ONLINE base from FM
			else if @tag_name_ok = 'tag_update_wf_foc_unit_only_offline'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_wf_foc_unit_only_offline'
				end
				exec sp_tag_update_wf_foc_unit_only_offline @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//update PROMO_BOM just only OFFLINE, ONLINE base from FM
			else if @tag_name_ok = 'tag_update_wf_promo_bom_component_unit'
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_wf_promo_bom_component_unit'
				end
				exec sp_tag_update_wf_promo_bom_component_unit @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//TAO BO DATA CHUAN SELL-IN HISTORICAL ACTUAL
			--else if @tag_name_ok = 'tag_Create_STANDARD_DATA_SI_ACTUAL' --and 1=2
			--begin
			--	if @debug>0
			--	begin
			--		select @n_continue '@n_continue','tag_Create_STANDARD_DATA_SI_ACTUAL'
			--	end
			--	exec sp_Create_V_His_SI_Final @Division,@FM_KEY,'h',@b_Success1 OUT, @c_errmsg1 OUT

			--	if @b_Success1=0
			--	begin
			--		select @errorTotal = @errorTotal+1
			--	end
			--	if @debug>0
			--	begin
			--		select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
			--	end
			--	exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			--	exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			--end
			--//tag_gen_budget
			else if @tag_name_ok = 'tag_gen_budget_budget'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_gen_budget_budget'
				end
				exec sp_tag_gen_budget_budget_New @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			--//tag_gen_pre-budget
			else if @tag_name_ok = 'tag_gen_budget_pre_budget'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_gen_budget_pre_budget'
				end
				exec sp_tag_gen_budget_pre_budget_new @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue 1.2',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_gen_budget_trend'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_gen_budget_trend'
				end
				exec sp_tag_gen_budget_trend_new @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_add_FC_SI_Group_FC_SI_Promo_Single'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_add_FC_SI_Group_FC_SI_Promo_Single'
				end
				exec sp_tag_add_FC_SI_Group_FC_SI_Promo_Single_New @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_add_FC_SI_Group_FC_SO_OPTIMUS'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_add_FC_SI_Group_FC_SO_OPTIMUS'
				end
				exec sp_tag_add_FC_SI_Group_FC_SO_OPTIMUS @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end			
			else if @tag_name_ok = 'tag_add_FC_SI_Group_FC_SI_FOC'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_add_FC_SI_Group_FC_SI_FOC'
				end
				exec sp_tag_add_FC_SI_Group_FC_SI_FOC @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_add_FC_SI_Group_FC_SI_Launch_Single'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_add_FC_SI_Group_FC_SI_Launch_Single'
				end
				exec sp_tag_add_FC_SI_Group_FC_SI_Launch_Single @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_add_FC_SI_Group_FC_SI_Promo_Bom'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_add_FC_SI_Group_FC_SI_Promo_Bom'
				end
				declare @sp_name_check1 nvarchar(500)=''
				select 
					@sp_name_check1=ISNULL([sp name],'') 
				from V_FC_NEW_CONFIG_BOM_HEADER where [Tag Name]=@tag_name_ok

				if @sp_name_check1='sp_tag_add_FC_SI_Group_FC_SI_Promo_Bom'
				begin
					exec sp_tag_add_FC_SI_Group_FC_SI_Promo_Bom @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT
				end
				else
				begin
					exec sp_tag_add_FC_SI_Group_FC_SI_Promo_Bom_New @Division,@FM_KEY,'OFFLINE',0,@b_Success1 OUT, @c_errmsg1 OUT
				end

				if @b_Success1=0
				begin
					select @errorTotal = @errorTotal+1
				end
				if @debug>0
				begin
					select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
				end
				exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			end
			else if @tag_name_ok = 'tag_update_BP_unit'-->OK
			begin
				if @debug>0
				begin
					select @n_continue '@n_continue','tag_update_BP_unit'
				end
				if @Division IN('CPD')--,'LDB')
				begin
					exec sp_tag_update_BP_unit @Division,@FM_KEY,1,@b_Success1 OUT, @c_errmsg1 OUT

					if @b_Success1=0
					begin
						select @errorTotal = @errorTotal+1
					end
					if @debug>0
					begin
						select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
					end
					exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
					exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
				end
			end
			select @current_typeview = @current_typeview +1
		end

		if @errorTotal>0
		begin
			select @n_continue = 1,@c_errmsg = N'có vài lỗi xảy ra, vui lòng xem bảng chi tiết lỗi.../'
		end
	end

	--//-----------------------------------------------------------------
	if @n_continue=1
	begin
		if @TypeView=''
		begin
			if @debug>0
			begin
				select @n_continue '@n_continue','tag_Create_WF_FirstTime'
			end
			exec sp_tag_Create_WF_FirstTime @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT			

			if @b_Success1=0
			begin
				select @n_continue = 3,@c_errmsg=@c_errmsg1
			end
			if @debug>0
			begin
				select @n_continue '@n_continue',tablename = 'tag_Create_WF_FirstTime'+'-->'+@c_errmsg1
			end
			exec sp_fc_update_status @Patchkey,'tag_Create_WF_FirstTime',@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,'sp_tag_Create_WF_FirstTime','sp_tag_Create_WF_FirstTime',@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		end
	end
	if @n_continue=1
	begin
		if @TypeView=''
		begin
			select @tag_name_ok='tag_fc_create_fm_WF_full'
			if @debug>0
			begin
				select @n_continue '@n_continue',@tag_name_ok
			end
			exec sp_fc_create_fm_WF_full @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT		

			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
			if @debug>0
			begin
				select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
			end
			exec sp_fc_update_status @Patchkey,'tag_Create_WF_FirstTime',@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,'sp_tag_Create_WF_FirstTime','sp_tag_Create_WF_FirstTime',@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		end
	end
	if @n_continue=9
	begin
		--if @TypeView=''
		--begin
			select @tag_name_ok='sp_Create_V_His_SI_Final'
			if @debug>0
			begin
				select @n_continue '@n_continue',@tag_name_ok
			end
			exec sp_Create_V_His_SI_Final @Division,@FM_KEY,'h',@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
			if @debug>0
			begin
				select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
			end
			exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		--end
	end
	-- if @n_continue=9
	-- begin
	-- 	--if @TypeView=''
	-- 	--begin
	-- 		select @tag_name_ok='tag_update_wf_mtd_si'
	-- 		if @debug>0
	-- 		begin
	-- 			select @n_continue '@n_continue',@tag_name_ok
	-- 		end
	-- 		exec sp_tag_update_wf_mtd_si_NEW @Division,@FM_KEY,1,@b_Success1 OUT, @c_errmsg1 OUT
	-- 		if @b_Success1=0
	-- 		begin
	-- 			select @n_continue=3,@c_errmsg=@c_errmsg1
	-- 		end
	-- 		if @debug>0
	-- 		begin
	-- 			select @n_continue '@n_continue mtd si',tablename = @tag_name_ok+'-->'+@c_errmsg1
	-- 		end
	-- 		exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
	-- 		exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
	-- 	--end
	-- end
	if @n_continue=1
	begin
		--if @TypeView=''
		--begin
			select @tag_name_ok='sp_create_FC_MCSI'
			if @debug>0
			begin
				select @n_continue '@n_continue',@tag_name_ok
			end
			exec sp_create_FC_MCSI @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1 = 0
			begin
				select @n_continue = 3, @c_errmsg = @c_errmsg1
			end

			if @debug>0
			begin
				select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
			end
			exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		--end
	end
	if @n_continue=1
	begin
		--if @TypeView=''
		--begin
			select @tag_name_ok = 'tag_update_wf_pass_02_years'
			if @debug>0
			begin
				select @n_continue '@n_continue',@tag_name_ok
			end
			exec sp_tag_update_wf_pass_02_years_new @Division,@FM_Key,1,@b_Success1 OUT, @c_errmsg1 OUT
			if @b_Success1=0
			begin
				select @n_continue=3,@n_continue = 3, @c_errmsg = @c_errmsg1
			end
			if @debug>0
			begin
				select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
			end
			exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
			exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,'tag_update_wf_pass_02_years','tag_update_wf_pass_02_years',@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		--end
	end
	if @n_continue=1
	begin
		select @tag_name_ok='tag_fc_fm_risk_3M'
		if @debug>0
		begin
			select @n_continue '@n_continue',@tag_name_ok
		end

		exec sp_fc_fm_risk_3M @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		if @debug>0
		begin
			select @n_continue '@n_continue Risk',tablename = @tag_name_ok+'-->'+@c_errmsg1
		end
		exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		exec dbo.sp_systemlog @Division,'ForecastingTool',@FM_Key,@sp_name,@sp_name_child,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
	end
	if @n_continue=1
	begin
		--//sp_tag_update_slob_wf
		select @tag_name_ok='sp_tag_update_slob_wf'
		if @debug>0
		begin
			select @n_continue '@n_continue',@tag_name_ok
		end
		exec sp_tag_update_slob_wf @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1=0
		begin
			select @n_continue=1,@c_errmsg=@c_errmsg1
		end
		if @debug>0
		begin
			select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
		end
		exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		exec dbo.sp_systemlog  @Division,'ForecastingTool',@FM_Key,@tag_name_ok,'sp_calculate_total',@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
	end
	--if @n_continue=1
	--begin
	--	if exists
	--	(
	--		SELECT * 
	--		FROM sys.objects 
	--		WHERE object_id = OBJECT_ID('FC_FM_Original_'+@division+'_'+@FM_KEY) AND type in (N'U')
	--	)
	--	begin
	--		exec sp_tag_gen_soh @Division,@FM_Key,1,@b_Success1 OUT,@c_errmsg1 OUT

	--		if @b_Success1=0
	--		begin
	--			select @n_continue = 1, @c_errmsg = @c_errmsg1
	--		end
	--	end
	--end
	if @n_continue=1
	begin
		--//calculation final
		select @tag_name_ok='tag_sp_calculate_total'
		if @debug>0
		begin
			select @n_continue '@n_continue',@tag_name_ok
		end
		exec sp_calculate_total @Division,@FM_KEY,'all',@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		if @debug>0
		begin
			select @n_continue '@n_continue',tablename = @tag_name_ok+'-->'+@c_errmsg1
		end
		exec sp_fc_update_status @Patchkey,@tag_name_ok,@b_Success1,@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
		exec dbo.sp_systemlog  @Division,'ForecastingTool',@FM_Key,@tag_name_ok,'sp_calculate_total',@c_errmsg1,@b_Success1 OUT,@c_errmsg1 OUT
	end

	if @n_continue = 3
	begin
		--rollback
		select @b_Success = 0
	end
	else
	begin
		--Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end

END TRY
BEGIN CATCH
   select @n_continue = 3
   --ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH