/*
	declare 
		@b_Success		Int,
		@c_errmsg		Nvarchar(250)

	exec sp_Run_sp_Gen_WF_New_2 'CPD','202406','',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg
*/

Alter proc sp_Run_sp_Gen_WF_New_2
	@Division		nvarchar(3),
	@FM_KEY			Nvarchar(6),	
	@TypeView		Nvarchar(20),--//GEN/PROMO_BOM/UNIT/VALUE-->PROMO_BOM-->chay lai wf khi sua bomheader
	@b_Success		Int				OUTPUT,
	@c_errmsg		Nvarchar(250)	OUTPUT
	with encryption
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE   
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@errorTotal			int=0
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_Run_sp_Gen_WF_New_2',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	declare 
		@b_Success1		Int=0,
		@c_errmsg1		Nvarchar(250)=''

	if @TypeView = ''--chạy lại từ đầu
	begin
		exec sp_Gen_WF_New3 @Division,@FM_KEY,'',@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		--select [Action_Name] = 'sp_Gen_WF_New3<Blank>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
	end
	else if @TypeView = 'PROMO_BOM'--chỉ update những data thuộc promo bom
	begin
		exec sp_Gen_WF_New3 @Division,@FM_KEY,'PROMO_BOM',@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		--select [Action_Name] = 'sp_Gen_WF_New3<PROMO_BOM>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
	end
	else if @TypeView = 'PARTIAL'--update lại data unit normal dựa vào config
	begin
		exec sp_Gen_WF_New3 @Division,@FM_KEY,'PARTIAL',@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		--select [Action_Name] = 'sp_Gen_WF_New3<PARTIAL>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
	end
	else if @TypeView = 'VALUE'--gen value dựa vào unit và RSP tương ứng theo từng tháng
	begin
		exec sp_Gen_WF_New3 @Division,@FM_KEY,'VALUE',@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		--select [Action_Name] = 'sp_Gen_WF_New3<VALUE>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
	end
	else if @TypeView = 'CREATE_WF_HIS'
	BEGIN
		exec sp_FC_Create_Backup_Version_WF @Division,@FM_KEY,'',@b_Success1 OUT,@c_errmsg1 OUT
				
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
		--select [Action_Name] = 'sp_FC_Create_Backup_Version_WF<CREATE_WF_HIS>',@b_Success2 b_Success,@c_errmsg2 c_errmsg INTO FC_RUN_SP_STATUS
	END

	--SELECT @test = 'OK BABY'
	if @n_continue = 3
	begin
		--rollback
		select @b_Success = 0
	end
	else
	begin
		--Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end

END TRY
BEGIN CATCH
   select @n_continue = 3
   --ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH