/*
	--exec sp_Run_sp_Gen_WF_New '202403','CPD','GEN'
	--exec sp_Run_sp_Gen_WF_New '202403','CPD','PROMO_BOM'
	--exec sp_Run_sp_Gen_WF_New '202403','CPD','PARTIAL'
	--exec sp_Run_sp_Gen_WF_New '202403','CPD','VALUE'
	exec sp_Run_sp_Gen_WF_New '202406','CPD','CREATE_WF_HIS'

	SELECT * FROM FC_FM_Original_CPD_his
	SELECT * FROM FC_FM_Original_CPD_Value

	select * from FC_RUN_SP_STATUS

*/

alter proc sp_Run_sp_Gen_WF_New
	@FM_KEY		Nvarchar(6),
	@Division	nvarchar(3),
	@TypeView	Nvarchar(20)--//GEN/PROMO_BOM/UNIT/VALUE-->PROMO_BOM-->chay lai wf khi sua bomheader
	with encryption
As
if exists
(
	SELECT * 
	FROM sys.objects 
	WHERE object_id = OBJECT_ID('FC_RUN_SP_STATUS') AND type in (N'U')
)
begin
	drop table FC_RUN_SP_STATUS
end

if @TypeView = ''--chạy lại từ đầu
begin
	declare 
		@b_Success		Int,
		@c_errmsg		Nvarchar(250)

	exec sp_Gen_WF_New3 @Division,@FM_KEY,'',@b_Success OUT,@c_errmsg OUT

	select [Action_Name] = 'sp_Gen_WF_New3<Blank>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
end
else if @TypeView = 'PROMO_BOM'--chỉ update những data thuộc promo bom
begin
	exec sp_Gen_WF_New3 @Division,@FM_KEY,'PROMO_BOM',@b_Success OUT,@c_errmsg OUT

	select [Action_Name] = 'sp_Gen_WF_New3<PROMO_BOM>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
end
else if @TypeView = 'PARTIAL'--update lại data unit normal dựa vào config
begin
	exec sp_Gen_WF_New3 @Division,@FM_KEY,'PARTIAL',@b_Success OUT,@c_errmsg OUT

	select [Action_Name] = 'sp_Gen_WF_New3<PARTIAL>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
end
else if @TypeView = 'VALUE'--gen value dựa vào unit và RSP tương ứng theo từng tháng
begin
	declare 
		@b_Success1		Int,
		@c_errmsg1		Nvarchar(250)
	
	exec sp_Gen_WF_New3 @Division,@FM_KEY,'VALUE',@b_Success OUT,@c_errmsg OUT
	select [Action_Name] = 'sp_Gen_WF_New3<VALUE>',@b_Success b_Success,@c_errmsg c_errmsg INTO FC_RUN_SP_STATUS
end
else if @TypeView = 'CREATE_WF_HIS'
BEGIN
	Declare
		@b_Success2			Int,
		@c_errmsg2			Nvarchar(250)

	exec sp_FC_Create_Backup_Version_WF @Division,@FM_KEY,'',@b_Success2 OUT,@c_errmsg2 OUT
	--select @b_Success2 '@b_Success2',@c_errmsg2 '@c_errmsg2'
	select [Action_Name] = 'sp_FC_Create_Backup_Version_WF<CREATE_WF_HIS>',@b_Success2 b_Success,@c_errmsg2 c_errmsg INTO FC_RUN_SP_STATUS
END

--SELECT @test = 'OK BABY'