/*
	exec sp_SendEmail_Auto_Order_Process 'TEST_AUTO_ORDER_PROCESS','TEST AUTO ORDER PROCESS 123','Successfully.../'
*/
Alter proc sp_SendEmail_Auto_Order_Process
	@TaskName			nvarchar(100),
	@Content			nvarchar(4000),
	@Status				nvarchar(100)
As
begin
	declare
		@doCreationDate			datetime,
		@node5					nvarchar(10),
		@body1					nvarchar(max) = ''
	declare 
		@debug					int=0
		,@subject				nvarchar(500) = ''
		,@recipients			nvarchar(max) = 'hoaiphuong.ho@loreal.com'--'hoaiphuong.ho@loreal.com;phuong.vo@loreal.com;quangminh2.dang@loreal.com',
		,@i						int = 0
		,@pos					int
		,@s						varchar(max)
		,@ts					varchar(max)
		,@xml					NVARCHAR(MAX)
		,@body					Nvarchar(max)= ''
		,@sql					nvarchar(max)=''
	
	--get list email
	declare @tmp_email table(id int identity(1,1),[Email] nvarchar(200) null)
	
	insert into @tmp_email([Email])
	select DISTINCT [Email] 
	from V_SYSTEM_EMAIL_ALERT 
	where [task name]=@TaskName

	declare @currentrow int=1, @totalrows int=0,@list_mail nvarchar(max)=''
	select @totalrows=ISNULL(count(*),0) from @tmp_email

	while (@currentrow<=@totalrows)
	begin
		declare @email nvarchar(200)=''
		select @email=[Email] from @tmp_email where id=@currentrow
		if len(@list_mail)=0
		begin
			select @list_mail=@email
		end
		else
		begin
			select @list_mail=@list_mail+';'+@email
		end
		
		select @currentrow=@currentrow+1
	end
	if len(@list_mail)>0
	begin
		select @recipients=@list_mail
	end
	else
	begin
		select @recipients='hoaiphuong.ho@loreal.com'
	end

	select @sql='select [Content]='''+@Content+'-->'+@Status+''' '
	if @debug>0
	begin
		select @sql 'query'
	end

	select @subject=@TaskName+'_'+format(getdate(),'yyyyMMdd')
	if @debug>0
	begin
		select @subject '@subject'
	end
	DECLARE @HTML				NVARCHAR(MAX)=''
	EXEC sp_QueryTable_To_Html @sql	,null,@HTML out

	select @body='<p>Pls don''t reply this email</p> <br/> '+@HTML
	--select @body='<!DOCTYPE html>         <html>         <head>         <style>         table, td, th {          border: 1px solid;         }           table {          width: 100%;          border-collapse: collapse;         }         </style>         </head> Dear all,</br>     CS gui list SO co item OOS, Sale luu y check plan voi DP de len don hang bo sung      </br><table border="1"><tr><th>purchase order number origin</th><th>Customer</th><th>Customer Name</th><th>SD Document</th><th>Order Quantity</th><th>Delivery quantity</th><th>Net value</th><th>Loss of Sales</th><th>% Fill Rate – Qty</th></tr><tr xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><td>FDR-2024-279482-0001</td><td>0000500000</td><td>CONG TY TNHH L''OREAL VIET NAM</td><td>0701137692</td><td>2,000</td><td>576</td><td>0</td><td>0</td><td>28.8</td></tr></table></br> Regards,</br>CS Teams.'
	if @debug>0
	begin
		select @body '@body'
	end
	--declare @file_attachments nvarchar(1000)='\\10.240.65.43\loreal\10_PUBLIC\03_SAPData\SC_IMPORT\YIELD_22Jul2024173513.XLSX'
	--EXEC link_37.msdb.dbo.sp_send_dbmail
	EXEC msdb.dbo.sp_send_dbmail
	 @profile_name='LSC_ADMIN'
	,@recipients=@recipients -- replace with your email address
	,@subject=@subject
	,@body=@body
	--,@file_attachments=@file_attachments
	,@body_format ='HTML';

end