/*
	Declare 
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_tag_update_FM_unit 'CPD','202407',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg
*/

Alter Proc sp_tag_update_FM_unit
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@b_Success		Int				OUTPUT,     
	@c_errmsg		Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE  
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_tag_update_FM_unit',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_debug('FC')
	--select @debug=1
	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @FC_FM_Original			nvarchar(100) = ''
	select @FC_FM_Original = 'FC_FM_Original_'+@Division+@Monthfc

	declare @list_set_zero nvarchar(max)=''
	SELECT @list_set_zero=ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'Set_0','b')
	--SELECT list_set_zero=ListColumn FROM fn_FC_GetColheader_Current('202406','Set_0','b')

	--if @n_continue=9
	--begin
	--chay 1 lan luc gen FM_Original
	--	exec sp_fc_create_fm_WF_full @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT
	--	if @b_Success1=0
	--	begin
	--		select @n_continue=3,@c_errmsg=@c_errmsg1
	--	end
	--end
	--select 'OK 1.1.1.1'
	begin tran
	if @n_continue = 1
	begin
		--//Update new Launch Forecast
		declare @listcolumn_full nvarchar(max) = ''
		SELECT @listcolumn_full = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'FM_OriginalwfFull','si')
		--SELECT listcolumn_full = ListColumn FROM fn_FC_GetColheader_Current('202406','FM_OriginalwfFull','si')

		declare @listcol_BP nvarchar(max) = ''
		SELECT @listcol_BP = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'updateForecast','si')
		--SELECT listcol_BP = ListColumn FROM fn_FC_GetColheader_Current('202407','updateForecast','si')

		declare @listcol_BP_GAP_Unit nvarchar(max) = ''
		SELECT @listcol_BP_GAP_Unit = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'update_bp_gap_u','si')
		--SELECT listcol_BP_GAP_Unit = ListColumn FROM fn_FC_GetColheader_Current('202406','update_bp_gap_u','')

		declare @listcol_BP_GAP_Percent nvarchar(max) = ''
		SELECT @listcol_BP_GAP_Percent = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'update_bp_gap_%','si')
		--SELECT listcol_BP_GAP_Percent = ListColumn FROM fn_FC_GetColheader_Current('202406','update_bp_gap_%','si')

	END

	if @n_continue=1
	begin
		--//FM
		select @sql = 
		'Update '+@FC_FM_Original+'
		set '+@listcol_BP+'
		from '+@FC_FM_Original+' f
		Inner join 
		(
			SELECT  
				s.[Product Type],
				si.[SUB GROUP/ Brand],
				si.Channel,
				si.[Time series],'
				+@listcolumn_full+'
			FROM fc_fm_wf_full_'+@Division+@Monthfc+' si
			left join
			(
				select DISTINCT
					[Product Type],
					[SUB GROUP/ Brand]
				from fnc_SubGroupMaster('''+@Division+''','''')
			) s on s.[SUB GROUP/ Brand]=si.[SUB GROUP/ Brand]
			where 
				[Channel]<>''O+O''
			and [Time series]=''1. Baseline Qty''
			group by
				s.[Product Type],
				si.[SUB GROUP/ Brand],
				si.Channel,
				si.[Time series]
		) si on 
			si.[Product Type]=f.[Product Type]
		and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
		and si.Channel=f.[Channel]
		and f.[Time series]=''10. Original FM (u)'' '

		if @debug>0
		begin
			select @sql '@sql Update fm online+offline'
		end
		execute(@sql)

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end
	
	if @debug>0
	begin
		select 'check gap unit FM'
	end
	if @n_continue=1
	begin
		--//gap FM unit
		select @sql = 
		'update '+@FC_FM_Original+'
			set
				'+@listcol_BP+'
		from '+@FC_FM_Original+' f
		inner join
		(
			select 
				f.[Product Type],   
				f.[SUB GROUP/ Brand],  
				f.[Channel],    
				[Time series]=''11. FM vs FC (u)'','
				+@listcol_BP_GAP_Unit+'
			from 
			(
				select
					[Product Type],   
					[SUB GROUP/ Brand],   
					[Channel],   
					[Time series],'
					+@listcol_BP+'
				from '+@FC_FM_Original+' si
				where 
					[Time series]=''1. Baseline Qty''
				and Channel<>''O+O''
			) f  
			left join    
			(  
				SELECT  
					[Product Type],   
					[SUB GROUP/ Brand],   
					[Channel],   
					[Time series], '   
					+@listcol_BP+'
				FROM '+@FC_FM_Original+' si 
				where 
					[Channel]<>''O+O''   
				and [Time series]=''10. Original FM (u)'' 
			) bp on 
				bp.[Product Type]=f.[Product Type]   
			and bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
			and bp.Channel=f.[Channel]
			and f.[Channel]<>''O+O''
		) as si on 
			si.Channel = f.Channel
		and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
		and si.[Product type]=f.[Product type]
		and f.[Time series]=''11. FM vs FC (u)'' '
		/*and f.[SUB GROUP/ Brand]=''AGE REWIND CONCEALER''*/

		if @debug>0
		begin
			select @sql '@sql Update fm vs fc gap unit'
		end
		execute(@sql)

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end

	if @debug>0
	begin
		select 'check gap % FM'
	end
	if @n_continue=1
	begin
		--//gap fm %
		select @sql = 
		'update '+@FC_FM_Original+'   
			set 
				'+@listcol_BP+'
		from '+@FC_FM_Original+' f   
		inner join   
		(    
			select    
				f.[Product Type],     
				f.[SUB GROUP/ Brand],    
				f.[Channel],       
				[Time series]=''12. FM vs FC (%)'','
				+@listcol_BP_GAP_Percent+'				
			from     
			(     
				select  
					[Product Type],     
					[SUB GROUP/ Brand],   
					[Channel],        
					[Time series],'
					+@listcol_BP+'
				from '+@FC_FM_Original+' si   
				where 
					[Time series]=''1. Baseline Qty''   
				and Channel<>''O+O''     
			) f     
			left join       
			(      
				SELECT    
					[Product Type],       
					[SUB GROUP/ Brand],        
					[Channel],      
					[Time series],'
					+@listcol_BP+'		
				FROM '+@FC_FM_Original+' si  
				where 
					[Channel]<>''O+O''
				and [Time series]=''11. FM vs FC (u)''     
			) bp on      
				bp.[Product Type]=f.[Product Type]     
			and bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
			and bp.Channel=f.[Channel]    
			and f.[Channel]<>''O+O''  
		) as si on    
			si.Channel = f.Channel  
		and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]   
		and si.[Product type]=f.[Product type] 
		and f.[Time series]=''12. FM vs FC (%)'' '

		if @debug>0
		begin
			select @sql '@sql Update fm vs fc gap %'
		end
		execute(@sql)

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH