/*
	declare 
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_tag_update_wf_calculation_fc_unit_Refresh 'CPD','202406','Show_All_Selected',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg
*/

Alter Proc sp_tag_update_wf_calculation_fc_unit_Refresh
	@Division				nvarchar(3),
	@FM_KEY					nvarchar(6),
	@Show_Selected_Status	nvarchar(50),--//Show_All_Selected,Show_Total_Selected,Show_BP_Selected
	@b_Success				Int				OUTPUT,     
	@c_errmsg				Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE  
			 @debug					int=0
			,@sp_name				Nvarchar(100)
			,@n_continue			Int
			,@USERS					Nvarchar(50)
			,@MODIFILED				Datetime
			,@n_err					int
			
	SELECT	@n_continue=1, 
			@b_success=0,
			@n_err=0,
			@c_errmsg='', 
			@sp_name = 'sp_tag_update_wf_calculation_fc_unit_Refresh',
			@USERS = SUSER_NAME(),
			@MODIFILED = GETDATE()

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)

	if @n_continue=1
	begin
		--//update fc tmp into fc main
		exec sp_tag_update_wf_fc_adjust_unit @Division,@FM_KEY,@Show_Selected_Status,@b_Success1 OUT, @c_errmsg1 OUT
		if @b_Success1 =0
		begin
			select @n_continue = 3,@c_errmsg = @c_errmsg1
		end
	end
	--//====================================================================================================================
	if @n_continue = 1
	begin
		--lay unit fc tao table value
		exec sp_Gen_WF_Value_Period @Division,@FM_KEY,'VALUE','fc',@b_Success OUT, @c_errmsg OUT

		if @b_Success1 = 0
		begin
			select @n_continue = 3, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select '1.1.4'
	end
	IF @n_continue = 1
	BEGIN
		--update table value to wf fc
		exec sp_tag_update_wf_fc_02_years_Timeseries_Value @Division,@FM_KEY,'all',@b_Success OUT, @c_errmsg OUT

		if @b_Success1 = 0
		begin
			select @n_continue = 3, @c_errmsg = @c_errmsg1
		end
	END
	--//====================================================================================================================
	if @n_continue=1
	begin
		if @Division IN('CPD')
		begin
			--//nếu là total thì bắt đầu rã ra detail theo config user đã define
			if @Show_Selected_Status='Show_Total_Selected'
			begin
				exec sp_fc_adjust_Total_WF @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

				if @b_Success1 =0
				begin
					select @n_continue = 3,@c_errmsg = @c_errmsg1
				end
			end
		end
	end
	if @n_continue=1
	begin
		--//sumarize lại total qty
		if @Show_Selected_Status='Show_All_Selected' OR  @Show_Selected_Status='Show_Total_Selected'
		begin
			exec sp_tag_update_wf_total_unit_new @Division,@FM_KEY,'tag_update_wf_total_fc_unit',@b_Success1 OUT, @c_errmsg1 OUT
			if @b_Success1 =0
			begin
				select @n_continue = 3,@c_errmsg = @c_errmsg1
			end
		end
	end

	if @n_continue=1
	begin
		--//sumarize lại O_O Qty
		if  @Show_Selected_Status='Show_All_Selected' OR  @Show_Selected_Status='Show_Total_Selected'
		begin
			exec sp_tag_update_wf_O_O_unit_new @Division,@FM_KEY,'tag_update_wf_O_O_fc_unit',@b_Success1 OUT, @c_errmsg1 OUT
			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
		end
	end
	if @n_continue=1
	begin
		if @Division IN('CPD')
		begin
			--//tính toán lại % và unit gap giữa BP và FC(không import raw data)
			exec sp_tag_update_BP_unit @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT
			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
		end
	end
	
	if @n_continue = 3
	begin
		--rollback
		select @b_Success = 0
	end
	else
	begin
		--Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   --ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH