/*
	declare 
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_tag_update_wf_calculation_fc_unit_Refresh_All 'CPD','202410','Show_All_Selected','fc',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg
*/
Alter Proc sp_tag_update_wf_calculation_fc_unit_Refresh_All
	@Division				nvarchar(3),
	@FM_KEY					nvarchar(6),
	@Show_Selected_Status	nvarchar(50),--//Show_All_Selected,Show_Total_Selected,Show_BP_Selected
	@Type					Nvarchar(3),--//All,''
	@b_Success				Int				OUTPUT,     
	@c_errmsg				Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE  
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		
	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)

	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_tag_update_wf_calculation_fc_unit_Refresh_All',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_debug('FC')
	--select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @table_FC_FM_Original nvarchar(200)=''
	select @table_FC_FM_Original='FC_FM_Original_'+@Division+@Monthfc

	declare @tmp_div_adjust_total table (id int identity(1,1),[Division] nvarchar(3) null)
	insert into @tmp_div_adjust_total(Division) select [Division] from V_FC_DIV_ADJUST_TOTAL

	if @debug>0
	begin
		select 'Check permission before save'
	end
	if @n_continue=1
	begin
		if @Division='LLD'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open LLD]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
		else if @Division='CPD'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open CPD]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
		else if @Division='LDB'
		begin
			if not exists(select * from V_FC_FORECAST_PERIOD where [Period Key]=@FM_KEY and [Open LDB]=1)
			begin
				select @n_err=600012
				select @n_continue=3,@c_errmsg=N'[Forecast Month]='+@FM_KEY+' had been blocked./'
			end
		end
	end
	if @debug>0
	begin
		select 'Backup data before save'
	end
	if @n_continue=1
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_FC_FM_Original) AND type in (N'U')
		)
		begin
			exec sp_Backup_WF_before_Save @Division,@FM_KEY,'fc',@b_Success1 OUT,@c_errmsg1 OUT
			if @b_Success1=0
			begin
				select @n_continue = 1,@c_errmsg = @c_errmsg1
			end
		end
	end
	if @debug>0
	begin
		select 'get list subgrp changed'
	end
	if @n_continue=1
	begin
		exec sp_get_List_subgrp_Changed @Division,@FM_KEY,@Show_Selected_Status,@b_Success1 OUT,@c_errmsg1 OUT

		if @b_Success1=0
		begin
			select @n_continue = 3,@c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'clear signature if save only'
	end
	if @n_continue=1
	begin
		exec sp_clear_Signature_update @b_Success1 OUT, @c_errmsg1 OUT
		if @b_Success1 =0
		begin
			select @n_continue = 3,@c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'run sp_tag_update_wf_fc_adjust_unit'
	end
	if @n_continue=1
	begin
		if @Show_Selected_Status='Show_All_Selected'
		begin
			--//update fc tmp into fc main
			exec sp_tag_update_wf_fc_adjust_unit @Division,@FM_KEY,@Show_Selected_Status,@b_Success1 OUT, @c_errmsg1 OUT
			if @b_Success1 =0
			begin
				select @n_continue = 3,@c_errmsg = @c_errmsg1
			end
		end
		--//nếu là total thì bắt đầu rã ra detail theo config user đã define
		else if @Show_Selected_Status='Show_Total_Selected'
		begin
			--//check divison nào dc phep
			if @Division IN(select [Division] from @tmp_div_adjust_total)
			begin
				if @debug>0
				begin
					select 'run sp_fc_adjust_Total_WF_Tyle'
				end
				--exec sp_fc_adjust_Total_WF @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT
				exec sp_fc_adjust_Total_WF_Tyle @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

				if @b_Success1 =0
				begin
					select @n_continue = 3,@c_errmsg = @c_errmsg1
				end
			end
		end
	end
	--//====================================================================================================================
	if @debug>0
	begin
		select 'run sp_Gen_WF_Value_Period',@n_continue '@n_continue'
	end
	if @n_continue = 1
	begin
		--lay unit fc tao table value
		exec sp_Gen_WF_Value_Period @Division, @FM_KEY,'VALUE','fc',@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue = 3, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'run sp_tag_update_wf_fc_02_years_Timeseries_Value'
	end
	IF @n_continue = 1
	BEGIN
		--update table value to wf fc: ALL= tat ca time series
		exec sp_tag_update_wf_fc_02_years_Timeseries_Value @Division,@FM_KEY,'All',@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue = 3, @c_errmsg = @c_errmsg1
		end
	END
	

	if @debug>0
	begin
		select 'Check GAP BPvsDP'
	end
	if @n_continue=1
	begin
		if @Division IN('CPD')
		begin
			--update table value to wf fc
			exec sp_Check_GAP_NEW @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1 = 0
			begin
				select @n_continue = 1, @c_errmsg = @c_errmsg1
			end
		end
	end
	if @debug>0
	begin
		select 'update stock risk'
	end
	if @n_continue=9
	begin
		--update table value to wf fc
		exec sp_fc_fm_risk_3M @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1 = 0
		begin
			select @n_continue=3, @c_errmsg = @c_errmsg1
		end
	end

	if @debug>0
	begin
		select 'sp_tag_update_slob_wf'
	end
	if @n_continue=9
	begin
		--update table value to wf fc
		exec sp_tag_update_slob_wf @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT

		if @b_Success1=0
		begin
			select @n_continue=1, @c_errmsg = @c_errmsg1
		end
	end
	if @debug>0
	begin
		select 'run sp_calculate_total'
	end
	if @n_continue=1
	begin
		exec sp_calculate_total @Division,@FM_KEY,'fc',@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1 =0
		begin
			select @n_continue = 3,@c_errmsg = @c_errmsg1
		end
	end
	--//====================================================================================================================
	--if @n_continue=9
	--begin
	--	if @Division IN('CPD')
	--	begin
	--		--//tính toán lại % và unit gap giữa BP và FC(không import raw data)
	--		exec sp_tag_update_BP_unit @Division,@FM_KEY,0,@b_Success1 OUT, @c_errmsg1 OUT
	--		if @b_Success1=0
	--		begin
	--			select @n_continue=3,@c_errmsg=@c_errmsg1
	--		end
	--	end
	--end
	
	if @n_continue = 3
	begin
		--rollback
		select @b_Success = 0
	end
	else
	begin
		--Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   --ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH