/*
	declare 
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_tag_update_wf_promo_bom_component_unit 'CPD','202408',@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg

	select * from fc_si_promo_bom_final_CPD
*/

Alter Proc sp_tag_update_wf_promo_bom_component_unit
	@Division				nvarchar(3),
	@FM_KEY					nvarchar(6),
	@b_Success				Int				OUTPUT,     
	@c_errmsg				Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRAN
BEGIN TRY
	DECLARE  
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_tag_update_wf_promo_bom_component_unit',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=Debug from fnc_debug('FC')
	--select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @FC_FM_Original			nvarchar(100) = ''
	select @FC_FM_Original = 'FC_FM_Original_'+@Division+@Monthfc	

	declare @list_signature nvarchar(500)=''
	declare @Type_View nvarchar(20)=''

	if @debug>0
	begin
		select 'get signature run'
	end
	if @n_continue=1
	begin
		select 
			@list_signature=[List_Signature],
			@Type_View=[type_View] 
		from fnc_get_List_Signature('tag_add_FC_SI_Group_FC_SI_Promo_Bom')
		--and Tag_name='tag_add_FC_SI_Group_FC_SI_Promo_Bom'

		if @list_signature is null
		begin
			select @list_signature=''
		end
		if @Type_View is null
		begin
			select @Type_View=''
		end
	end
	if @n_continue=1
	begin
		if @Type_View='re-gen'
		begin
			if @list_signature=''
			begin
					select @n_continue = 3
				select @n_err=60001
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +':Signature should be not null./ ('+@sp_name+')'
			end
		end
	end	

	if @n_continue = 1
	begin
		if @debug>0
		begin		
			select 'Update BOM component Forecast-->typeview = PROMO_BOM'
		end
		if @n_continue = 1
		begin
			--//Update Bom component Forecast
			declare @listcol_BOM_set_zero nvarchar(max) = ''
			SELECT @listcol_BOM_set_zero=ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'Set_0','')
			--SELECT listcol_BOM_set_zero=ListColumn FROM fn_FC_GetColheader_Current('202408','Set_0','')

			declare @listcol_BOM nvarchar(max) = ''				
			SELECT @listcol_BOM = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'updateForecast','si')
			--SELECT listcol_BOM = ListColumn FROM fn_FC_GetColheader_Current('202404','updateForecast','si')
			
			if @debug>0
			begin
				select 'set zero 3. Promo Qty(BOM)'
			end
			if @Type_View=''
			begin
				select @sql=
				'Update '+@FC_FM_Original+' 
					set '+@listcol_BOM_set_zero+' 
				where
					[Time series]=''3. Promo Qty(BOM)'' '
			end
			else
			begin
				select @sql=
				'Update '+@FC_FM_Original+' 
					set '+@listcol_BOM_set_zero+' 
				where 
					[Time series]=''3. Promo Qty(BOM)'' 
				and [Signature] IN(select value from string_split('''+@list_signature+''','','')) '
			end
			
			if @debug>0
			begin
				select @sql 'set zero'
			end
			execute(@sql)

			if @debug>0
			begin
				select 'Update Promo BOM Forecast--bom component'
			end
			if @Type_View=''
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BOM+'
				from '+@FC_FM_Original+' f
				Inner join fc_si_promo_bom_final_'+@Division+@Monthfc+' si on 
					si.[Product Type] = f.[Product Type]
				and si.[SUB GROUP/ Brand] = f.[SUB GROUP/ Brand]
				and si.Channel = f.[Channel]
				and si.[Time series] = f.[Time series]
				where f.[Time series]=''3. Promo Qty(BOM)'' '
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BOM+'
				from '+@FC_FM_Original+' f
				Inner join fc_si_promo_bom_final_'+@Division+@Monthfc+' si on 
					si.[Product Type] = f.[Product Type]
				and si.[SUB GROUP/ Brand] = f.[SUB GROUP/ Brand]
				and si.Channel = f.[Channel]
				and si.[Time series] = f.[Time series] 
				where 
					f.[Time series]=''3. Promo Qty(BOM)''  
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '
			end

			if @debug>0
			begin
				select @sql 'Update Promo BOM Forecast--bom component'
			end
			execute(@sql)

			select @n_err = @@ERROR
			if @n_err<>0
			begin
				select @n_continue = 3
				--select @n_err=60003
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
			else
			begin
				if @debug>0
				begin		
					select '@n_continue 1.10D'=@n_continue,tablename = 'Update BOM component Forecast-->typeview = PROMO_BOM-->successfully.../'
				end
			end
		end
		else
		begin
			select 'Error: '+@c_errmsg
		end
	end	
	
	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH