/*
	Declare 
		@b_Success				Int,
		@c_errmsg				Nvarchar(250)

	exec sp_tag_update_BP_unit 'CPD','202502',1,@b_Success OUT, @c_errmsg OUT

	select @b_Success b_Success, @c_errmsg c_errmsg
*/

Alter Proc sp_tag_update_BP_unit
	@Division		nvarchar(3),
	@FM_KEY			nvarchar(6),
	@ImportType		int,--//1: Import, 0: Only update/*Import data hay chỉ update thôi*/
	@b_Success		Int				OUTPUT,     
	@c_errmsg		Nvarchar(250)	OUTPUT
As
SET NOCOUNT ON
SET XACT_ABORT ON
--BEGIN TRAN
BEGIN TRY
	DECLARE  
		 @debug					int=0
		,@sp_name				Nvarchar(100)
		,@n_continue			Int
		,@USERS					Nvarchar(50)
		,@MODIFILED				Datetime
		,@n_err					int
		,@sql					nvarchar(max) = ''

	declare 
		@b_Success1				Int,
		@c_errmsg1				Nvarchar(250)
			
	SELECT	
		@n_continue=1, 
		@b_success=0,
		@n_err=0,
		@c_errmsg='', 
		@sp_name = 'sp_tag_update_BP_unit',
		@USERS = SUSER_NAME(),
		@MODIFILED = GETDATE()

	select @debug=debug from fnc_debug('FC')
	--select @debug=1

	declare @Monthfc				nvarchar(20)=''
	select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

	declare @FC_FM_Original			nvarchar(100) = ''
	select @FC_FM_Original = 'FC_FM_Original_'+@Division+@Monthfc

	declare @list_set_zero nvarchar(max)=''
	SELECT @list_set_zero=ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'Set_0','b')
	--SELECT list_set_zero=ListColumn FROM fn_FC_GetColheader_Current('202406','Set_0','b')

	declare @list_signature nvarchar(500)=''
	declare @Type_View nvarchar(20)=''
	--select @debug 'debug value'
	if @debug>0
	begin
		select 'get signature run',@n_continue '@n_continue' 
	end
	if @n_continue=1
	begin
		if @Division NOT IN('CPD','LDB1')
		begin
			select @n_continue = 3
			select @n_err=60021
			select @n_continue=3,@c_errmsg=N'Division not permission this function.../ ('+@sp_name+')'
		end
	end
	if @debug>0
	begin
		select 'get signature value & Typeview value',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		select 
			@list_signature=[List_Signature],
			@Type_View=[type_View] 
		from fnc_get_List_Signature('tag_update_BP_unit')
		--and Tag_name='tag_update_BP_unit'

		if @list_signature is null
		begin
			select @list_signature=''
		end
		if @Type_View is null
		begin
			select @Type_View=''
		end
		if @debug>0
		begin
			select @list_signature '@list_signature',@Type_View '@Type_View'
		end
	end
	if @debug>0
	begin
		select 'Check Typeview if re-gen value',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @Type_View='re-gen'
		begin
			if @list_signature=''
			begin
				select @n_continue = 3
				select @n_err=60001
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +':Signature should be not null./ ('+@sp_name+')'
			end
		end
	end
	--if @n_continue=1
	--begin
	--	if @Division='LDB'
	--	begin
	--		--exec sp_add_FC_SI_OPTIMUS_NORMAL @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT
	--		exec LINK_37.MASTER.DBO.sp_fc_convert_SO_LDB_SI @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT
	--		if @b_Success1=0
	--		begin
	--			select @n_continue = 3, @c_errmsg = @c_errmsg1
	--		end
	--	end
	--end
	/*
		riêng LDB chạy function lấy data riêng, vì data nặng nên ko bỏ chung vào mà phải chạy riêng!
	*/
	if @debug>0
	begin
		select 'sp_Add_FC_BP_SI_ONLINE',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @ImportType=1
		begin
			exec sp_Add_FC_BP_SI_ONLINE @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
		end
	end	
	if @debug>0
	begin
		select 'sp_Add_FC_BP_SI_OFFLINE',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @ImportType=1
		begin
			exec sp_Add_FC_BP_SI_OFFLINE @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT

			if @b_Success1=0
			begin
				select @n_continue=3,@c_errmsg=@c_errmsg1
			end
		end
	end	
	if @debug>0
	begin
		select 'sp_tag_Create_WF_FirstTime',@n_continue '@n_continue'
	end
	if @n_continue=9
	begin
		--exec sp_fc_create_fm_WF_full @Division,@FM_KEY,@b_Success1 OUT, @c_errmsg1 OUT
		exec sp_tag_Create_WF_FirstTime @Division,@FM_KEY,@b_Success1 OUT,@c_errmsg1 OUT
		if @b_Success1=0
		begin
			select @n_continue=3,@c_errmsg=@c_errmsg1
		end
	end
	begin tran
	if @debug>0
	begin
		select 'Get list column by function',@n_continue '@n_continue'
	end
	if @n_continue = 1
	begin
		--//Update new Launch Forecast
		declare @listcolumn_full nvarchar(max) = ''
		SELECT @listcolumn_full = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'FM_OriginalwfFull','si')
		--SELECT listcolumn_full = ListColumn FROM fn_FC_GetColheader_Current('202406','FM_OriginalwfFull','si')

		declare @listcol_BP nvarchar(max) = ''
		SELECT @listcol_BP = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'updateForecast','si')
		--SELECT listcol_BP = ListColumn FROM fn_FC_GetColheader_Current('202407','updateForecast','si')

		declare @listcol_BP_GAP_Unit nvarchar(max) = ''
		SELECT @listcol_BP_GAP_Unit = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'update_bp_gap_u','si')
		--SELECT listcol_BP_GAP_Unit = ListColumn FROM fn_FC_GetColheader_Current('202406','update_bp_gap_u','')

		declare @listcol_BP_GAP_Percent nvarchar(max) = ''
		SELECT @listcol_BP_GAP_Percent = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'update_bp_gap_%','si')
		--SELECT listcol_BP_GAP_Percent = ListColumn FROM fn_FC_GetColheader_Current('202406','update_bp_gap_%','si')
		
		declare @listcol_plus nvarchar(max) = ''
		SELECT @listcol_plus = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'optimus_+','si')
		--SELECT listcol_plus = ListColumn FROM fn_FC_GetColheader_Current('202410','optimus_+','si')
	END
	if @debug>0
	begin
		select 'update bp unit',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @Division IN('CPD')
		begin
			if @debug>0
			begin
				select 'set zero CPD'
			end
			if @Type_View=''
			begin
				select @sql=
				'update '+@FC_FM_Original+'
					set '+@list_set_zero+'
				where [Time series] IN(''7. BP Unit'') '

				if @debug>0
				begin
					select @sql 'set zero CPD'
				end
				execute(@sql)
			end
			else
			begin
				select @sql=
				'update '+@FC_FM_Original+'
					set '+@list_set_zero+'
				where 
					[Time series] IN(''7. BP Unit'')
				and [Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'set zero CPD by signature'
				end
				execute(@sql)
			end

			--//online
			if @debug>0
			begin
				select 'Update bp online'
			end
			if @Type_View=''
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_ONLINE_'+@Division+@Monthfc+' si
					where 
					(
						'+@listcol_plus+'
					)<>0
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series] '

				if @debug>0
				begin
					select @sql 'Update bp online'
				end
				execute(@sql)
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_ONLINE_'+@Division+@Monthfc+' si
					where 
					(
						'+@listcol_plus+'
					)<>0
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel] 
				and si.[Time series]=f.[Time series]
				where f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp online by signature'
				end
				execute(@sql)
			end

			if @debug>0
			begin
				select 'Update bp offline'
			end
			if @Type_View=''
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+' si
					where 
					(
						'+@listcol_plus+'
					)<>0
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series] '

				if @debug>0
				begin
					select @sql 'Update bp offline'
				end
				execute(@sql)
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+' si
					where 
					(
						'+@listcol_plus+'
					)<>0
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series]
				where f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp offline by signature'
				end
				execute(@sql)
			end

			select @n_err = @@ERROR
			if @n_err<>0
			begin
				select @n_continue = 3
				--select @n_err=60003
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
		else if @Division IN('LDB1')
		begin
			if @debug>0
			begin
				select 'set zero'
			end
			if @Type_View=''
			begin
				select @sql=
				'update '+@FC_FM_Original+' 
				set '+@list_set_zero+' 
				where [Time series] IN(''7. BP Unit'',''7.1. BP Unit Offline'',''7.2. BP Unit Medical'') '

				if @debug>0
				begin
					select @sql 'set zero LDB'
				end
				execute(@sql)
			end
			else
			begin
				select @sql=
				'update '+@FC_FM_Original+' 
				set '+@list_set_zero+' 
				where 
					[Time series] IN(''7. BP Unit'',''7.1. BP Unit Offline'',''7.2. BP Unit Medical'')
				and [Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'set zero LDB by signature'
				end
				execute(@sql)
			end

			if @debug>0
			begin
				select 'Update bp online'
			end
			if @Type_View=''
			begin
				--//online
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_ONLINE_'+@Division+@Monthfc+' si
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.Channel=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.[Channel]=''ONLINE'' 
				and f.[Time series] IN(''7.1. BP Unit Offline'',''7.2. BP Unit Medical'') '

				if @debug>0
				begin
					select @sql 'Update bp online'
				end
				execute(@sql)
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_ONLINE_'+@Division+@Monthfc+' si
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.Channel=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.[Channel]=''ONLINE''
				and f.[Time series] IN(''7.1. BP Unit Offline'',''7.2. BP Unit Medical'') 
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp online by signature'
				end
				execute(@sql)
			end

			if @debug>0
			begin
				select 'Update bp offline'
			end
			if @Type_View=''
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+'
					where 
						[Time series] IN(''7.1. BP Unit Offline'')
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.Channel=f.[Channel]
				and si.[Time series]=f.[Time series]
				where f.[Channel]=''OFFLINE'' '

				if @debug>0
				begin
					select @sql 'Update bp offline normal'
				end
				execute(@sql)
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+'
					where 
						[Time series] IN(''7.1. BP Unit Offline'')
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.Channel=''OFFLINE'' 
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp offline normal by signature'
				end
				execute(@sql)
			end

			if @debug>0
			begin
				select 'Update bp offline medical'
			end
			if @Type_View=''
			begin
				--//offline medical
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+' 
					where 
						[Time series] IN(''7.2. BP Unit Medical'')
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.Channel=f.[Channel]
				and si.[Time series]=f.[Time series]
				where f.[Channel]=''OFFLINE'' '

				if @debug>0
				begin
					select @sql 'Update bp offline medical'
				end
				execute(@sql)
			end
			else
			begin
				--//offline medical
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						*
					FROM FC_BP_SI_OFFLINE_'+@Division+@Monthfc+' 
					where 
						[Time series] IN(''7.2. BP Unit Medical'')
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.Channel=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.[Channel]=''OFFLINE'' 
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp offline medical by signature'
				end
				execute(@sql)
			end

			--//total: offline medical+offline normal
			if @debug>0
			begin
				select 'Update bp offline total'
			end
			if @Type_View=''
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						[SUB GROUP/ Brand],   
						[Channel],'
						+@listcolumn_full+'
					FROM '+@FC_FM_Original+' si
					where 
						Channel=''OFFLINE'' 
					and [Time series] IN(''7.1. BP Unit Offline'',''7.2. BP Unit Medical'')
					group by
						[SUB GROUP/ Brand],   
						[Channel]
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.Channel=''OFFLINE'' 
				and f.[Time series] IN(''7. BP Unit'') '

				if @debug>0
				begin
					select @sql 'Update bp offline total'
				end
				execute(@sql)
			end
			else
			begin
				select @sql = 
				'update '+@FC_FM_Original+'
				set '+@listcol_BP+'
				from '+@FC_FM_Original+' f
				Inner join 
				(
					SELECT
						[SUB GROUP/ Brand],   
						[Channel],'
						+@listcolumn_full+'
					FROM '+@FC_FM_Original+' si
					where 
						Channel=''OFFLINE'' 
					and [Time series] IN(''7.1. BP Unit Offline'',''7.2. BP Unit Medical'')
					group by  
						[SUB GROUP/ Brand],   
						[Channel]
				) si on 
					si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
				and si.[Channel]=f.[Channel]
				and si.[Time series]=f.[Time series]
				where 
					f.Channel=''OFFLINE'' 
				and f.[Time series] IN(''7. BP Unit'')
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

				if @debug>0
				begin
					select @sql 'Update bp offline total by signature'
				end
				execute(@sql)
			end

			select @n_err = @@ERROR
			if @n_err<>0
			begin
				select @n_continue = 3
				--select @n_err=60003
				select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
			end
		end
	end
	--check gap bp vs DP
	if @debug>0
	begin
		select 'check gap unit',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @debug>0
		begin
			select 'check gap unit 1'
		end
		if @Type_View=''
		begin
			--//gap unit
			select @sql = 
			'update '+@FC_FM_Original+'
			set
				'+@listcol_BP+'
			from '+@FC_FM_Original+' f
			inner join
			(
				select 
					f.[SUB GROUP/ Brand],  
					f.[Channel],    
					[Time series]=''8. BP vs FC (u)'','
					+@listcol_BP_GAP_Unit+'
				from 
				(
					select
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series],'
						+@listcol_BP+'
					from '+@FC_FM_Original+' si
					where 
						[Channel]<>''O+O''
					and [Time series]=''6. Total Qty''
				) f  
				left join    
				(  
					SELECT  
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series], '   
						+@listcol_BP+'
					FROM '+@FC_FM_Original+' si   
					where 
						[Channel]<>''O+O''   
					and [Time series]=''7. BP Unit'' 
				) bp on 
					bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
				and bp.[Channel]=f.[Channel]
				where f.[Channel]<>''O+O''
			) as si on 
				si.[Channel] = f.[Channel]
			and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
			and si.[Time series]=f.[Time series]
			where f.[Time series]=''8. BP vs FC (u)'' '

			if @debug>0
			begin
				select @sql '@sql Update bp vs fc gap unit'
			end
			execute(@sql)
		end
		else
		begin
			if @debug>0
			begin
				select 'check gap unit 2'
			end
			--//gap unit
			select @sql = 
			'update '+@FC_FM_Original+'
			set
				'+@listcol_BP+'
			from '+@FC_FM_Original+' f
			inner join
			(
				select 
					f.[SUB GROUP/ Brand],  
					f.[Channel],    
					[Time series]=''8. BP vs FC (u)'','
					+@listcol_BP_GAP_Unit+'
				from 
				(
					select
						[Signature],
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series],'
						+@listcol_BP+'
					from '+@FC_FM_Original+' si
					where 
						[Channel]<>''O+O''
					and [Time series]=''6. Total Qty''
					and [Signature] IN(select value from string_split('''+@list_signature+''','',''))
				) f  
				left join    
				(  
					SELECT  
						si.[SUB GROUP/ Brand],   
						[Channel], 
						[Time series], '   
						+@listcol_BP+'
					FROM '+@FC_FM_Original+' si   
					left join
					(
						select DISTINCT
							[Signature],
							[SUB GROUP/ Brand]
						from fnc_SubGroupMaster('''+@Division+''',''full'')
					) s on s.[SUB GROUP/ Brand]=si.[SUB GROUP/ Brand]
					where 
						[Channel]<>''O+O''
					and [Time series]=''7. BP Unit''
					and s.[Signature] IN(select value from string_split('''+@list_signature+''','',''))
				) bp on 
					bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
				and bp.[Channel]=f.[Channel]
				/* and bp.[Time series]=f.[Time series] */
				where 
					f.[Channel]<>''O+O''
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','',''))
			) as si on 
				si.[Channel]=f.Channel
			and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
			and si.[Time series]=f.[Time series]
			where 
				f.[Time series]=''8. BP vs FC (u)'' 
			and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

			if @debug>0
			begin
				select @sql '@sql Update bp vs fc gap unit by signature'
			end
			execute(@sql)
		end
		/*and f.[SUB GROUP/ Brand]=''AGE REWIND CONCEALER''*/

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end
	if @debug>0
	begin
		select 'check gap % 1',@n_continue '@n_continue'
	end
	if @n_continue=1
	begin
		if @Type_View=''
		begin
			if @debug>0
			begin
				select 'check gap % 2'
			end
			select @sql = 
			'update '+@FC_FM_Original+'
			set
				'+@listcol_BP+'
			from '+@FC_FM_Original+' f
			inner join
			(
				select 
					f.[SUB GROUP/ Brand],  
					f.[Channel],    
					[Time series]=''9. BP vs FC (%)'','
					+@listcol_BP_GAP_Percent+'
				from 
				(
					select
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series],'
						+@listcol_BP+'
					from '+@FC_FM_Original+' si
					where 
						[Channel]<>''O+O''
					and [Time series]=''6. Total Qty''
				) f  
				left join    
				(  
					SELECT  
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series], '
						+@listcol_BP+'
					FROM '+@FC_FM_Original+' si   
					where 
						[Channel]<>''O+O''   
					and [Time series]=''8. BP vs FC (u)'' 
				) bp on 
					bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
				and bp.[Channel]=f.[Channel]
				where f.[Channel]<>''O+O''
			) as si on 
				si.[Channel] = f.[Channel]
			and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
			and f.[Time series]=''9. BP vs FC (%)'' '

			if @debug>0
			begin
				select @sql 'Update bp vs fc gap %'
			end
			execute(@sql)
		end
		else
		begin
			if @debug>0
			begin
				select 'check gap % by signature'
			end
			select @sql = 
			'update '+@FC_FM_Original+'
			set
				'+@listcol_BP+'
			from '+@FC_FM_Original+' f
			inner join
			(
				select 
					f.[SUB GROUP/ Brand],  
					f.[Channel],    
					[Time series]=''9. BP vs FC (%)'','
					+@listcol_BP_GAP_Percent+'
				from 
				(
					select
						[Signature],
						[SUB GROUP/ Brand],   
						[Channel], 
						[Time series], '
						+@listcol_BP+'
					from '+@FC_FM_Original+' si
					where 
						[Time series]=''6. Total Qty''
					and [Channel]<>''O+O''
					and [Signature] IN(select value from string_split('''+@list_signature+''','',''))
				) f  
				left join    
				(  
					SELECT  
						si.[SUB GROUP/ Brand],   
						[Channel], 
						[Time series], '   
						+@listcol_BP+'
					FROM '+@FC_FM_Original+' si
					left join
					(
						select DISTINCT
							[Signature],
							[SUB GROUP/ Brand]
						from fnc_SubGroupMaster('''+@Division+''',''full'')
					) s on s.[SUB GROUP/ Brand]=si.[SUB GROUP/ Brand]
					where 
						[Channel]<>''O+O''   
					and [Time series]=''8. BP vs FC (u)'' 
					and s.[Signature] IN(select value from string_split('''+@list_signature+''','',''))
				) bp on 
					bp.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]  
				and bp.[Channel]=f.[Channel]
				/* and bp.[Time series]=f.[Time series] */
				where 
					f.[Channel]<>''O+O''
				and f.[Signature] IN(select value from string_split('''+@list_signature+''','',''))
			) as si on 
				si.[Channel] = f.[Channel]
			and si.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand]
			and si.[Time series]=f.[Time series]
			where 
				f.[Time series]=''9. BP vs FC (%)''
			and f.[Signature] IN(select value from string_split('''+@list_signature+''','','')) '

			if @debug>0
			begin
				select @sql 'Update bp vs fc gap % by signature'
			end
			execute(@sql)
		end

		select @n_err = @@ERROR
		if @n_err<>0
		begin
			select @n_continue = 3
			--select @n_err=60003
			select	@c_errmsg = 'NSQL'+CONVERT(char(5),@n_err) +ERROR_MESSAGE()+'./ ('+@sp_name+')'
		end
	end

	if @n_continue = 3
	begin
		rollback
		select @b_Success = 0
	end
	else
	begin
		Commit
		select @b_Success = 1, @c_errmsg = 'Successfully.../'
	end
END TRY
BEGIN CATCH
   ROLLBACK
   DECLARE @ErrorMessage VARCHAR(2000)
   SELECT @ErrorMessage = 'Error: '+ ERROR_MESSAGE()
   RAISERROR(@ErrorMessage , 16, 1)
END CATCH