/*
	exec sp_Validate_Raw_data_vs_WF 'LLD','202410','FM single'
*/
Alter proc sp_Validate_Raw_data_vs_WF
	@division		nvarchar(3),
	@FM_Key			nvarchar(6),
	@Type			nvarchar(50)--//MISSING,FM Single, Template New Launch Single,Template FOC Single,Template Promo Single,BOM HEADER,  FM non modelling
As
declare @debug	int=0
declare @sql nvarchar(max)=''
declare @sql2 nvarchar(max)=''
--declare @division nvarchar(3)='CPD'
--declare @FM_Key		nvarchar(6)='202407'
declare @Monthfc			nvarchar(20)=''
select @Monthfc=replace([Month FC],'_@Month_FC','_'+@FM_Key) from V_FC_FM_Table

declare @TableFM					nvarchar(100) = ''
select @TableFM = 'FC_FM_'+@division+@Monthfc

declare @ListColumn_Current			nvarchar(max) = ''
SELECT @ListColumn_Current = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'1. Baseline Qty','')
--SELECT ListColumn_Current = ListColumn FROM fn_FC_GetColheader_Current('202407','1. Baseline Qty','')

declare @ListColumn_Current1			nvarchar(max) = ''
SELECT @ListColumn_Current1 = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'6. Total Qty','f')
--SELECT ListColumn_Current1 = ListColumn FROM fn_FC_GetColheader_Current('202407','6. Total Qty','f')
	
declare @ListColumn_Current_plus	nvarchar(max) = ''
SELECT @ListColumn_Current_plus = ListColumn FROM fn_FC_GetColheader_Current(@FM_KEY,'1. Baseline Qty_+','')
--SELECT ListColumn_Current_plus = ListColumn FROM fn_FC_GetColheader_Current('202407','1. Baseline Qty_+','b1')

declare @listcompare nvarchar(max)=''
select @listcompare=ListColumn FROM fn_FC_GetColheader_Current(@FM_Key,'Validate_FM','')
--select listcompare=ListColumn FROM fn_FC_GetColheader_Current('202407','Validate_FM','')

declare @table_raw_fm_master nvarchar(200)=''
select @table_raw_fm_master='FC_FM_vs_Master_'+@division+@Monthfc

declare @table_single_data nvarchar(200)=''
select @table_single_data='FC_validate_Single_Data_'+@division+@Monthfc

if exists
(
	SELECT * 
	FROM sys.objects 
	WHERE object_id = OBJECT_ID(@table_raw_fm_master) AND type in (N'U')
)
begin
	select @sql='DROP TABLE '+@table_raw_fm_master
	if @debug>0
	begin
		select @sql 'drop table'
	end
	execute(@sql)
end
--CHECK NHỮNG CODE FM KO CÓ TRONG MASTER DATA
select @sql=
'select
	X.*
	INTO '+@table_raw_fm_master+'
from
(
	select 
		[Item Category Group]=s.[Item Category Group],
		[SKU CODE]=f.[SKU CODE],
		[EAN Code]=f.[EAN Code],
		[Product Type]=s.[Product Type],
		[SUB GROUP/ Brand] = s.[SUB GROUP/ Brand],
		[Local Level]=F.[Local Level],
		[Time series]=(SELECT DISTINCT MAP FROM V_FC_TIME_SERIES WHERE TimeSeries = F.[TIME SERIES]),'
		+@ListColumn_Current+'
	from 
	(
		select * from '+@TableFM+' where [Local Level]=''OFFLINE'' and [Time series] IN(''BASELINE QTY'')
		union all
		select * from '+@TableFM+' where [Local Level]=''ONLINE''
	) f
	left join 
	(
		select distinct 
			'+case when @Division IN('LLD','LDB') then 'Barcode' else 'Material' end+',
			[Product Type],
			[SUB GROUP/ Brand],
			[Item Category Group]
		from fnc_SubGroupMaster('''+@Division+''',''full'') 
		where [Product Type] '+case 
									when @Division IN('LLD','LDB') then 'in(''YFG'')' 
									else 'in(''YFG'',''YSM2'')' 
								end+'
	) s on '+case when @Division IN('LLD','LDB') then 's.barcode = f.[Ean Code]' else 's.Material = f.[Sku Code]' end+'
	WHERE 
		f.[Time series] NOT IN(''TOTAL QTY'')
	GROUP BY
		s.[Item Category Group],
		f.[EAN Code],
		f.[SKU CODE],
		s.[Product Type],
		s.[SUB GROUP/ Brand],
		F.[Local Level],
		f.[Time series]
) as x
where ('+@ListColumn_Current_plus+')<>0 '
--and ISNULL(x.[SUB GROUP/ Brand],'''')='''' '

if @debug>0
begin
	select @sql, len(@sql) as 'len_'
end
execute(@sql)

--FM sku code không tồn tại trong master data
if @Type='MISSING'
begin
	select @sql=
	'select
		*
	from
	(
		select
			[Source]=''FM'',
			[Sku Code],
			[EAN Code],
			[Channel]=[Local level],
			[Time Series],'+
			@ListColumn_Current1+'
		from '+@table_raw_fm_master+' 
		where ISNULL([SUB GROUP/ Brand],'''')=''''
		group by
			[EAN Code],
			[Sku Code],
			[Local level],
			[Time Series]
		union all
		select
			[Source],
			[Sku Code]=[Code],
			[EAN Code]=s.[barcode],
			[Channel],
			[Time series],'+
			@ListColumn_Current1+'
		from
		(
			SELECT 
				[Source]=''Template New Launch Single'',
				[Code],
				[Channel]=[Channel],
				[Time series],'+
				@ListColumn_Current1+'
			FROM FC_SI_Launch_Single_'+@division+@Monthfc+' f
			group by
				[Code],
				[Channel],
				[Time Series]
			union all '
	select @sql2='
			SELECT 
				[Source]=''Template FOC Single'',
				[Code],
				[Channel]=[Channel],
				[Time series],'+
				@ListColumn_Current1+'
			FROM FC_SI_FOC_Single_'+@division+@Monthfc+' f
			group by
				[Code],
				[Channel],
				[Time Series]
			union all
			SELECT 
				[Source]=''Template Promo Single'',
				[Code],
				[Channel]=[Channel],
				[Time series],'+
				@ListColumn_Current1+'
			FROM FC_SI_promo_Single_'+@division+@Monthfc+' f
			group by
				[Code],
				[Channel],
				[Time Series]
		) as f
		left join 
		(
			select distinct 
				[Material],
				[Barcode],
				[SUB GROUP/ Brand]
			from fnc_SubGroupMaster('''+@Division+''',''full'') 
			where [Product Type] '+case 
										when @Division IN('LLD','LDB') then 'in(''YFG'')' 
										else 'in(''YFG'',''YSM2'')' 
									end+'
		) s on s.Material = f.[Code]
		where isnull(s.[SUB GROUP/ Brand],'''')=''''
		group by
			[Source],
			[Code],
			s.[barcode],
			[Channel],
			[Time series]
	) as x '

	if @debug>0
	begin
		select @sql 'not contains 1',len_1=len(@sql)
		select @sql2 'not contains 2', len_2=len(@sql2)
	end
	execute(@sql+@sql2)
end
--FM Sku code tồn tại trong master data
else if @Type='BOM HEADER'
begin
	--//lay FM bom
	select @sql=
	'select
		*
	from
	(
		select
			[Source]=''BOM HEADER'',
			f.[Source1],
			f.[Sap Code],
			f.[Channel],'
			+@listcompare+'
		from
		(
			select 			
				[Source1]=''FM-ONLINE'',
				[Sap Code]=f.[Sku Code],
				[Channel]=f.[Local level],'		
				+@ListColumn_Current1+'
			from '+@table_raw_fm_master+' f
			where [Item Category Group]=''LUMF''
			and [Local Level]=''ONLINE''
			group by
				f.[SKU CODE],
				f.[Local level]
			union all
			select 
				[Source1]=''Template Promo Bom'',
				[Sku Code]=f.[Bundle Code],
				[Channel]=f.[Channel],'
				+@ListColumn_Current1+'
			from FC_SI_Promo_Bom_'+@division+@Monthfc+' f
			where [Channel]=''OFFLINE''
			group by
				f.[Bundle Code],
				f.[Channel]
		) as f
		left join
		(
			select
				[Sap Code],
				[Channel],'
				+@ListColumn_Current1+'
			from FC_BomHeader_'+@division+@Monthfc+'
			group by
				[Sap Code],
				[Channel]
		) f1 on f1.[Sap Code]=f.[Sap Code] and f1.[Channel]=f.[Channel]
	) as b1
	where ('+@ListColumn_Current_plus+')<>0 '

	if @debug>0
	begin
		select @sql 'List FM Bom All'
	end
	execute(@sql)
end
else
begin
	if @Type='FM non modelling'
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_single_data) AND type in (N'U')
		)
		begin
			select @sql='DROP TABLE '+@table_single_data
			if @debug>0
			begin
				select @sql 'drop table single_data'
			end
			execute(@sql)
		end
		select @sql=
		'Select
			*
			INTO '+@table_single_data+'
		from
		(
			select 
				f.[Source],
				f.[SUB GROUP/ Brand],
				f.[Channel],
				f.[Time series],'
				+@listcompare+'
			from 
			(
				select 
					[Source]=''FM Single'',
					[SUB GROUP/ Brand],
					[Channel]=[Local level],
					[Time series],'
					+@ListColumn_Current1+'
				from '+@table_raw_fm_master+'
				where [Item Category Group]<>''LUMF''
				group by
					[SUB GROUP/ Brand],
					[Local level],
					[Time series]
				union all
				select
					[Source]=''Template New Launch Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_Launch_Single_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
				union all
				select
					[Source]=''Template FOC Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_FOC_Single_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
				union all
				select
					[Source]=''Template Promo Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_Promo_SINGLE_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
			) f
			left join
			(
				select 
					* 
				from FC_FM_Original_'+@division+@Monthfc+'
			) f1 on f1.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand] and f1.[Channel]=f.[Channel] and f1.[Time series]=f.[Time series]
			where ISNULL(f.[SUB GROUP/ Brand],'''')<>''''
		) as b1
		where ('+@ListColumn_Current_plus+')<>0
		and [Source]=''FM Single'' '

		if @debug>0
		begin
			select @sql 'contains'
		end
		execute(@sql)

		select @sql=
		'select
			*
		from
		(
			select 
				[Source]=''FM non modelling'',
				f.[SUB GROUP/ Brand],
				[Channel]=f.[Local level],
				f.[Time series],'
				+@listcompare+'
			from FC_FM_Non_modeling_Final_'+@division+@Monthfc+' f
			left join
			(
				select 
					* 
				from FC_FM_Original_'+@division+@Monthfc+'
			) f1 on f1.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand] and f1.[Channel]=f.[Local level] and f1.[Time series]=f.[Time series]
			where 
				f.[Local level] IN(''OFFLINE'')
			and f.[Time series] IN(''1. Baseline Qty'')
			and ISNULL(f.[SUB GROUP/ Brand],'''') IN(select DISTINCT [SUB GROUP/ Brand] from '+@table_single_data+' where [Channel] IN(''OFFLINE'') and [Time series] IN(''1. Baseline Qty'') ) 
		) as b1
		where ('+@ListColumn_Current_plus+')<>0 '

		if @debug>0
		begin
			select @sql 'FM Non modelling'
		end
		execute(@sql)
	end
	else
	begin
		if exists
		(
			SELECT * 
			FROM sys.objects 
			WHERE object_id = OBJECT_ID(@table_single_data) AND type in (N'U')
		)
		begin
			select @sql='DROP TABLE '+@table_single_data
			if @debug>0
			begin
				select @sql 'drop table single_data'
			end
			execute(@sql)
		end
		select @sql=
		'Select
			*
			INTO '+@table_single_data+'
		from
		(
			select 
				f.[Source],
				f.[SUB GROUP/ Brand],
				f.[Channel],
				f.[Time series],'
				+@listcompare+'
			from 
			(
				select 
					[Source]=''FM Single'',
					[SUB GROUP/ Brand],
					[Channel]=[Local level],
					[Time series],'
					+@ListColumn_Current1+'
				from '+@table_raw_fm_master+'
				where [Item Category Group]<>''LUMF''
				group by
					[SUB GROUP/ Brand],
					[Local level],
					[Time series]
				union all
				select
					[Source]=''Template New Launch Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_Launch_Single_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
				union all
				select
					[Source]=''Template FOC Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_FOC_Single_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
				union all
				select
					[Source]=''Template Promo Single'',
					[SUB GROUP/ Brand]=[Subgrp],
					[Channel]=[Channel],
					[Time series],'
					+@ListColumn_Current1+'
				from FC_SI_Promo_SINGLE_'+@division+@Monthfc+'
				group by
					[Subgrp],
					[Channel],
					[Time series]
			) f
			left join
			(
				select 
					* 
				from FC_FM_Original_'+@division+@Monthfc+'
			) f1 on f1.[SUB GROUP/ Brand]=f.[SUB GROUP/ Brand] and f1.[Channel]=f.[Channel] and f1.[Time series]=f.[Time series]
			where ISNULL(f.[SUB GROUP/ Brand],'''')<>''''
		) as b1
		where ('+@ListColumn_Current_plus+')<>0
		and [Source]='''+@Type+''' '

		if @debug>0
		begin
			select @sql 'contains'
		end
		execute(@sql)

		select @sql='select * from '+@table_single_data
		if @debug>0
		begin
			select @sql 'result single data'
		end
		execute(@sql)
	end
end